<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>TERMS OF USE</mat-card-title>
    <span class="example-spacer"></span>
  <button mat-raised-button (click)="noclick()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>
    <div class="module_3" style="max-height: calc(100vh - 200px);overflow-y: scroll;">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using this facility on the university website indicates that you have read and accept these terms and conditions and agree to be bound by and comply with them. <span style="color: #ff0000;"> If you do not accept these terms, do not use this facility</span>.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		University of Saint Louis reserves the right to modify these terms at any time and will publish notice of any such modifications at this site. By continuing to access the portal after notice of such modifications has been published, you signify your agreement to be bound by them.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		The University of Saint Louis provides electronic access to demographic, grade, and other information related to its students via its Student Portal system. This information is intended for the use of the currently enrolled students, their parents or their legal guardians.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		The University reserves the right to grant or deny access to the Student Portal system in accordance with the existing ICT policies of the University.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		The Student/Parent account information to access the portal determines who has access to the student's records and must be current and accurate to ensure the student's privacy. If the user thinks that the account is no longer safe, a new account should be registered at the Center for Information and communications Technology(CICT). The user name and password used to access student information via the Student Portal system should not be shared with unauthorized individuals. USL will not be responsible for unauthorized access to or use of such information.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		While USL strives to ensure information on its Student Portal is accurate and up-to-date, the system does not contain official information. Official information is maintained in the student's cumulative record and/or the Registrar's Office files. Any student demographic or contact information that is found to be incorrect should be reported to and corrected by the university through concerned offices. A parent, guardian, or student who believes grade information is incorrect should promptly contact the Teacher of Record for the class in question.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Any data presented via the Student Portal is subject to change without notice. Although USL strives to provide access to student information via the Student Portal system at all times, technical difficulties, including those beyond our control, may make such access temporarily unavailable. As a result, continuous, uninterrupted access to the Student Portal cannot be guaranteed.
		</p>
	</div>
  </mat-card-content>
</mat-card>
