<mat-card class="example-card" id="es"  style="padding: 0;overflow-y: auto;" *ngIf='global.userinfo!=undefined&&studinfo!=undefined' >
   <mat-card-header >
    <mat-card-title>Enrollment for {{global.nextSYDisplay.substring(12,global.nextSYDisplay.length)}}</mat-card-title>
    <mat-card-subtitle>This pertains to the enlistment of a student to a particular course/subject or set of courses/subjects in a program/degree as evidenced by a system-generated enrolment form issued by the Office of the University Registrar.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'  style="height: calc(100vh - 255px)">

    <mat-divider></mat-divider>
    <div style="padding: 10px">
	  <mat-expansion-panel  [expanded]="true" style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Basic Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>

	    </mat-expansion-panel-header>
      <style type="text/css">
        #users  td{
    			border: 0px solid #ddd;
    		}
        .green{
          color: green
        }
        .red{
          color: red
        }
      </style>
  		  <table class="apptable" id="users" border="0">

  		  	<tr>
  		  		<td width="100px">
  		  			<b>ID Number:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.idNumber}}
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Name:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.firstName}} {{global.userinfo.middleName}} {{global.userinfo.lastName}} {{global.userinfo.suffixName}}
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Year:</b>
  		  		</td>
  		  		<td>
  		  			{{getyear(studinfo.yearOrGradeLevel)}}
  		  		</td>
  		  	</tr>
          <tr>
            <td>
              <b>Course:</b>
            </td>
            <td>
              {{studinfo.course}}
            </td>
          </tr>
        </table>
        <div *ngIf="ClassSchedule.length==0">
          <table class="example-full-width" id="users" border="0" >
            <tr>
              <td width="50%" colspan="2" style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="global.userinfo.gender!=''&&global.userinfo.gender!=null">
                    <mat-icon>check</mat-icon> Gender
                  </mat-label>
                  <mat-label class='red' *ngIf="global.userinfo.gender==''||global.userinfo.gender==null">
                    <mat-icon>close</mat-icon> Gender
                  </mat-label>

                    <mat-select [(ngModel)]="global.userinfo.gender">
                      <mat-option value="M">Male</mat-option>
                      <mat-option value="F">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
              </td>
              <td width="50%" colspan="2">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="global.userinfo.civilStatus!=''&&global.userinfo.civilStatus!=null">
                    <mat-icon>check</mat-icon> Civil Status
                  </mat-label>
                  <mat-label class='red' *ngIf="global.userinfo.civilStatus==''||global.userinfo.civilStatus==null">
                    <mat-icon>close</mat-icon> Civil Status
                  </mat-label>

                    <mat-select [(ngModel)]="global.userinfo.civilStatus">
                      <mat-option value="S">Single</mat-option>
                      <mat-option value="M">Married</mat-option>
                      <mat-option value="SP">Widowed</mat-option>
                    </mat-select>
                  </mat-form-field>
              </td>
            </tr>
            <tr>
              <td width="25%" style="padding-right: 10px">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label class='green' *ngIf="global.studinfo.dateOfBirth!=''&&global.studinfo.dateOfBirth!=null">Birthday</mat-label>
                  <mat-label class='red' *ngIf="global.studinfo.dateOfBirth==''||global.studinfo.dateOfBirth==null">Birthday</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="global.studinfo.dateOfBirth" class="example-full-width" required (dateChange)="calculateAge(global.studinfo.dateOfBirth)">
                  <mat-datepicker-toggle matSuffix [for]="picker" >
                      <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
              <td width="25%" style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline" >
                  <mat-label class='green' *ngIf="age!=''&&age!=null">
                    <mat-icon>check</mat-icon> Age
                  </mat-label>
                  <mat-label class='red' *ngIf="age==''||age==null">
                    <mat-icon>close</mat-icon> Age
                  </mat-label>
                  <input matInput [(ngModel)]="age" placeholder="Age" readonly>
                </mat-form-field>
              </td>
              <td width="50%" colspan="2">
                <mat-form-field class="example-full-widthminus"  appearance="outline" (click)="openDialog(1,'pbirth')" style="padding-right: 10px">
                  <mat-label class='green' *ngIf="global.studinfo.placeOfBirth!=''&&global.studinfo.placeOfBirth!=null">
                    <mat-icon>check</mat-icon> Place of Birth
                  </mat-label>
                  <mat-label class='red' *ngIf="global.studinfo.placeOfBirth==''||global.studinfo.placeOfBirth==null">
                    <mat-icon>close</mat-icon> Place of Birth
                  </mat-label>
                  <input autofocus matInput  placeholder="" [(ngModel)]="global.studinfo.placeOfBirth" readonly="readonly">

                </mat-form-field>
                <button mat-mini-fab color="primary"  (click)="openDialog(1,'pbirth')">
                  <mat-icon>search</mat-icon>
                </button>

              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="global.userinfo.religion!=''&&global.userinfo.religion!=null">
                    <mat-icon>check</mat-icon> Religion
                  </mat-label>
                  <mat-label class='red' *ngIf="global.userinfo.religion==''||global.userinfo.religion==null">
                    <mat-icon>close</mat-icon> Religion
                  </mat-label>
                  <input matInput [(ngModel)]="global.userinfo.religion" placeholder="">
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="global.userinfo.nationality!=''&&global.userinfo.nationality!=null">
                    <mat-icon>check</mat-icon> Nationality
                  </mat-label>
                  <mat-label class='red' *ngIf="global.userinfo.nationality==''||global.userinfo.nationality==null">
                    <mat-icon>close</mat-icon> Nationality
                  </mat-label>
                  <input matInput [(ngModel)]="global.userinfo.nationality" placeholder="">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <br>

          <strong>Contact Information</strong>
          <table class="example-full-width" cellspacing="0"  style="max-width: 900px">
            <tr>
              <td style="padding-right: 10px" width="30%">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label>Telephone Number</mat-label>
                  <input matInput [(ngModel)]="tno" placeholder="">
                </mat-form-field>
              </td>
              <td style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="cno!=''&&cno!=null">
                    <mat-icon>check</mat-icon> Cellphone Number
                  </mat-label>
                  <mat-label class='red' *ngIf="cno==''||cno==null">
                    <mat-icon>close</mat-icon> Cellphone Number
                  </mat-label>
                  <input matInput [(ngModel)]="cno" placeholder="">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="email!=''&&email!=null">
                    <mat-icon>check</mat-icon> E-mail Address
                  </mat-label>
                  <mat-label class='red' *ngIf="email==''||email==null">
                    <mat-icon>close</mat-icon> E-mail Address
                  </mat-label>
                  <input matInput [(ngModel)]="email" placeholder="">
                </mat-form-field>

              </td>
            </tr>
            <tr>
              <td width="30%" style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="permNoStreet!=''&&permNoStreet!=null" >
                    <mat-icon>check</mat-icon> Street
                  </mat-label>
                  <mat-label class='red' *ngIf="permNoStreet==''||permNoStreet==null">
                    <mat-icon>close</mat-icon> Street
                  </mat-label>
                  <input matInput [(ngModel)]="permNoStreet" placeholder="" name="lrno">
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="example-full-widthminus"  appearance="outline" (click)="openDialog(1,'')" style="padding-right: 10px">
                  <mat-label class='green' *ngIf="homeaddress!=''&&homeaddress!=null" >
                    <mat-icon>check</mat-icon> Home Address
                  </mat-label>
                  <mat-label class='red' *ngIf="homeaddress==''||homeaddress==null">
                    <mat-icon>close</mat-icon> Home Address
                  </mat-label>
                  <input autofocus matInput  placeholder="" [(ngModel)]="homeaddress" readonly="readonly">

                </mat-form-field>
                <button mat-mini-fab color="primary"  (click)="openDialog(1,'')">
                  <mat-icon>search</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td width="30%" style="padding-right: 10px">
                <mat-form-field class="example-full-width"  appearance="outline">
                  <mat-label class='green' *ngIf="currNoStreet!=''&&currNoStreet!=null" >
                    <mat-icon>check</mat-icon> Street
                  </mat-label>
                  <mat-label class='red' *ngIf="currNoStreet==''||currNoStreet==null">
                    <mat-icon>close</mat-icon> Street
                  </mat-label>
                  <input matInput placeholder="Street" [(ngModel)]="currNoStreet" name="lrno">
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="example-full-widthminus"  appearance="outline"  (click)="openDialog(2,'')" style="padding-right: 10px">
                  <mat-label class='green' *ngIf="boardingaddress!=''&&boardingaddress!=null" >
                    <mat-icon>check</mat-icon> Current/Boarding Address
                  </mat-label>
                  <mat-label class='red' *ngIf="boardingaddress==''||boardingaddress==null">
                    <mat-icon>close</mat-icon> Current/Boarding Address
                  </mat-label>
                  <input autofocus matInput  placeholder="" [(ngModel)]="boardingaddress" readonly="readonly">
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="openDialog(2,'')">
                  <mat-icon>search</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <button mat-raised-button color="primary" (click)="quickSaveBasicInformation()" style="float: right;margin-top: 5px;" *ngIf="ClassSchedule.length==0">
          <i class="material-icons">save</i> Quick Save
        </button>
	  </mat-expansion-panel>
    <!-- <mat-expansion-panel  *ngIf="ClassSchedule.length!=0"  [expanded]="true"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Contact Information</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="apptable" id="users" border="0">
          <tr>
            <td width="200px">
              <b>Telephone Number</b>
            </td>
            <td>
              {{global.userdemog.telNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Cellphone Number</b>
            </td>
            <td>
              {{global.userdemog.mobileNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Email Address</b>
            </td>
            <td>
              {{global.userdemog.emailAdd}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Home Address</b>
            </td>
            <td>
              {{global.userdemog.homeAddress}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Current/Boarding Address</b>
            </td>
            <td>
              {{global.userdemog.currentAddress}}
            </td>
          </tr>

      </table>
      <button mat-raised-button color="primary" (click)="quickSaveContactInformation()" style="float: right" *ngIf="ClassSchedule.length==0">
        <i class="material-icons">save</i> Quick Save
      </button>
    </mat-expansion-panel> -->
    <br *ngIf="ClassSchedule.length==0">
    <!-- <mat-expansion-panel   [expanded]="true" style="max-width: 650px;" >
      <mat-expansion-panel-header style="background-color: #dedede">
        <mat-panel-title>
          <table>
            <tr>
              <td>
                <mat-icon class="green" *ngIf="!checkpersonalinfo()">check</mat-icon>
              </td>
              <td>
                <b style="color: #294a70">Personal Information</b>
              </td>
            </tr>
          </table>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

     <div style="height: 10px"></div>
     <table class="example-full-width" cellspacing="0">
       <tr>
        <td style="padding-right: 20px">
          <mat-form-field class="example-full-width"  appearance="outline">

          <mat-label class='green' *ngIf="!global.hsfirstyear&&(global.userdemog.generalAverage!=''&&global.userdemog.generalAverage!=null)">
            <mat-icon>check</mat-icon> General average last school year
          </mat-label>
          <mat-label class='red' *ngIf="!global.hsfirstyear&&(global.userdemog.generalAverage==''||global.userdemog.generalAverage==null)">
            <mat-icon>close</mat-icon> General average last school year
          </mat-label>
          <mat-label *ngIf="global.hsfirstyear">
            General average last school year
          </mat-label>
            <input matInput [(ngModel)]="global.userdemog.generalAverage" placeholder="" type="text" autocomplete="off">
          </mat-form-field>
      </td>
        <td style="padding-right: 20px" *ngIf="global.hsfirstyear&&studinfo.yearOrGradeLevel==1">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label>
            NEAT Score
          </mat-label>
            <input matInput [(ngModel)]="global.userdemog.neatScore" placeholder="" type="text" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label class='green' *ngIf="global.userdemog.ethnicity!=''&&global.userdemog.ethnicity!=null">
            <mat-icon>check</mat-icon> Ethnicity
          </mat-label>
          <mat-label class='red' *ngIf="global.userdemog.ethnicity==''||global.userdemog.ethnicity==null">
            <mat-icon>close</mat-icon> Ethnicity
          </mat-label>
            <input matInput [(ngModel)]="global.userdemog.ethnicity" placeholder="e.g. Igorot, Itawes, Ibanag" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label class='green' *ngIf="global.userdemog.languageSpoken!=''&&global.userdemog.languageSpoken!=null">
            <mat-icon>check</mat-icon> Language Spoken
          </mat-label>
          <mat-label class='red' *ngIf="global.userdemog.languageSpoken==''||global.userdemog.languageSpoken==null">
            <mat-icon>close</mat-icon> Language Spoken
          </mat-label>
            <input matInput [(ngModel)]="global.userdemog.languageSpoken" placeholder="e.g. Tagalog, Ilocano, Cebuano" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label class='green' *ngIf="global.userdemog.motherTongue!=''&&global.userdemog.motherTongue!=null">
            <mat-icon>check</mat-icon> Mother Tongue
          </mat-label>
          <mat-label class='red' *ngIf="global.userdemog.motherTongue==''||global.userdemog.motherTongue==null">
            <mat-icon>close</mat-icon> Mother Tongue
          </mat-label>
            <input matInput [(ngModel)]="global.userdemog.motherTongue" placeholder="e.g. Tagalog, Ilocano, Itawes" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label class='green' *ngIf="global.userdemog.numberOfSibling!=0">
            <mat-icon>check</mat-icon> Number of Children in the family
          </mat-label>
          <mat-label class='red' *ngIf="global.userdemog.numberOfSibling==0">
            <mat-icon>close</mat-icon> Number of Children in the family
          </mat-label>

            <mat-select [(ngModel)]="global.userdemog.numberOfSibling">
              <mat-option value="1">1st</mat-option>
              <mat-option value="2">2nd</mat-option>
              <mat-option value="3">3rd</mat-option>
              <mat-option value="4">4th</mat-option>
              <mat-option value="5">5th</mat-option>
              <mat-option value="6">6th</mat-option>
              <mat-option value="7">7th</mat-option>
              <mat-option value="8">8th</mat-option>
              <mat-option value="9">9th</mat-option>
              <mat-option value="10">10th</mat-option>
              <mat-option value="11">11th</mat-option>
              <mat-option value="12">12th</mat-option>
            </mat-select>
          </mat-form-field>
      </td>
        <td style="padding-right: 20px">
          <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label class='green' *ngIf="global.userdemog.birthOrder!=0">
            <mat-icon>check</mat-icon> Gender
          </mat-label>
          <mat-label class='red' *ngIf="global.userdemog.birthOrder==0">
            <mat-icon>close</mat-icon> Gender
          </mat-label>
            <mat-select [(ngModel)]="global.userdemog.birthOrder">
              <mat-option value="1">1st</mat-option>
              <mat-option value="2">2nd</mat-option>
              <mat-option value="3">3rd</mat-option>
              <mat-option value="4">4th</mat-option>
              <mat-option value="5">5th</mat-option>
              <mat-option value="6">6th</mat-option>
              <mat-option value="7">7th</mat-option>
              <mat-option value="8">8th</mat-option>
              <mat-option value="9">9th</mat-option>
              <mat-option value="10">10th</mat-option>
              <mat-option value="11">11th</mat-option>
              <mat-option value="12">12th</mat-option>
            </mat-select>
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label class='green' *ngIf="global.userdemog.skillTalent!=''&&global.userdemog.skillTalent!=null">
              <mat-icon>check</mat-icon> Special Abilities/Expertise/Talents
            </mat-label>
            <mat-label class='red' *ngIf="global.userdemog.skillTalent==''||global.userdemog.skillTalent==null">
              <mat-icon>close</mat-icon> Special Abilities/Expertise/Talents
            </mat-label>
            <input matInput [(ngModel)]="global.userdemog.skillTalent" placeholder="e.g. Singing, Dancing, Drawing" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label class='green' *ngIf="global.userdemog.contestToJoin!=''&&global.userdemog.contestToJoin!=null">
              <mat-icon>check</mat-icon> Contest you want to join
            </mat-label>
            <mat-label class='red' *ngIf="global.userdemog.contestToJoin==''||global.userdemog.contestToJoin==null">
              <mat-icon>close</mat-icon> Contest you want to join
            </mat-label>
            <input matInput [(ngModel)]="global.userdemog.contestToJoin" placeholder="e.g. Basketball, Debate, Chess" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Physical Difficulties</mat-label>
            <input matInput [(ngModel)]="global.userdemog.physicalDefect" placeholder="" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Health Problems</mat-label>
            <input matInput [(ngModel)]="global.userdemog.healthProblem" placeholder="" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr *ngIf="global.userdemog.healthProblem!=null&&global.userdemog.healthProblem!=''">
        <td style="padding-right: 20px;" colspan="2">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Medical Advise</mat-label>
            <input matInput [(ngModel)]="global.userdemog.medicalAdvise" placeholder="" autocomplete="off">
          </mat-form-field>
      </td>
      </tr>
      <tr>
        <td style="padding-right: 20px">
          <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Nearest neighbor studying in USL</mat-label>
            <input matInput [(ngModel)]="global.userdemog.nearestNeighbor" placeholder="" autocomplete="off">
          </mat-form-field>
      </td>
        <td style="padding-right: 20px">
      </td>
      </tr>
      </table>


        <mat-divider></mat-divider><br>
        <button mat-raised-button color="primary" (click)="quickSavePersonalInfo()" style="float: right" *ngIf="studinfo.enrollmentStatus=='Admitted'">
          <i class="material-icons">edit</i> Save Personal Info
        </button><br>&nbsp;

    </mat-expansion-panel> -->
	  <!-- <mat-expansion-panel  [expanded]="true"  *ngIf="ClassSchedule.length==0"  style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Contact Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

      <button mat-raised-button color="primary" (click)="quickSaveContactInformation()" style="float: right" *ngIf="ClassSchedule.length==0">
        <i class="material-icons">save</i> Quick Save
      </button>
	  </mat-expansion-panel>
    <br> -->
    <mat-expansion-panel  [expanded]="true"  *ngIf="ClassSchedule.length==0"  style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Family Background</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    <div style="height: 10px"></div>
        <table id="student">
          <tr>
            <th>
              FAMILY MEMBER NAME
            </th>
            <th>
              RELATIONSHIP
            </th>
            <th style="width: 190px;text-align: center;" >
              - ACTION -
            </th>
          </tr>
          <tr *ngFor="let f of familyarray">
            <td>{{f.fullName}}</td>
            <td>{{f.relDesc}}</td>
            <td style="text-align: center;">
              <button mat-raised-button color="primary" (click)="openedit(f.memberIdNumber,f.relDesc)" style="width: 70px;color:white;" class="buttondesign"><i class="material-icons" >edit
                        </i>
                        <span style="margin-top: 7px"> Update&nbsp;&nbsp;</span></button>


               <button mat-raised-button (click)="deletefamily(f.memberIdNumber)" style="width: 75px;background-color:#990000;color:white;" class="buttondesign"><i class="material-icons">delete
                        </i>
                        <span style="margin-top: 7px"> Remove&nbsp;&nbsp;</span></button>
            </td>
          </tr>
        </table>
        <br>

          <button mat-raised-button color="primary" (click)="openDialogAddParent(1)" style="float: left;margin-right: 5px" [disabled]="checkparent()">
            <i class="material-icons">add</i> Add Parent
          </button>&nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="openDialogguardian(1)" style="float: left;margin-right: 5px" >
            <i class="material-icons">add</i> Add Guardian
          </button>&nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="openDialogfamilymember(1)" style="float: left" >
            <i class="material-icons">add</i> Add Sibling Studying in USL
          </button>&nbsp; &nbsp;
	  </mat-expansion-panel>
    <br *ngIf="ClassSchedule.length==0">
    <mat-expansion-panel  [expanded]="true"  *ngIf="ClassSchedule.length==0"  style="max-width: 950px">
      <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Educational Background</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
      <div style="height: 10px"></div>

      <table id="student">
        <tr>
          <th>
            PROGRAM NAME
          </th>
          <th>
            NAME OF SCHOOL
          </th>
          <th>
            YEAR GRADUATED
          </th>
          <th>
            ADDRESS
          </th>
          <th style="width: 180px;text-align: center;" >
            - ACTION -
          </th>
        </tr>
        <tr *ngFor="let f of educarray">
          <td>{{f.programName}}</td>
          <td>{{f.schoolName}}</td>
          <td>{{f.yearGraduated}}</td>
          <td>{{f.otherInfo}}</td>
          <td style="text-align: center;">

            <button mat-raised-button color="primary" (click)="updateEducBcg(f)" style="width: 80px;color:white;" class="buttondesign"><i class="material-icons">edit
                      </i>
                      <span style="margin-top: 7px"> Update&nbsp;&nbsp;</span></button>

            <button mat-raised-button (click)="deleteeduc(f.programID)" style="width: 80px;background-color:#990000;color:white;" class="buttondesign"><i class="material-icons">delete
                      </i>
                      <span style="margin-top: 7px"> Remove&nbsp;&nbsp;</span></button></td>
        </tr>
      </table>
      <br>

        <button mat-raised-button color="primary" (click)="openDialogAddEducationBackground(null)" style="float: left">
          <i class="material-icons">add</i> Add Educational Background
        </button><br>&nbsp;
    </mat-expansion-panel>
    <br *ngIf="ClassSchedule.length==0">

    <mat-expansion-panel  [expanded]="true"  *ngIf="ClassSchedule.length==0"  style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Sacraments Received</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

   <div style="height: 10px"></div>
      <div style="margin-left: 20px">
            <mat-checkbox [(ngModel)]="global.userdemog.baptism">
              <p>Baptism</p>
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="global.userdemog.confession">
              <p>Confession</p>
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="global.userdemog.communion">
              <p>Holy Communion</p>
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="global.userdemog.religiousInstruction">
              <p>Confirmation</p>
            </mat-checkbox><br>
            <mat-checkbox [(ngModel)]="global.userdemog.confirmation">
              <p>Received religious instruction during elementary?</p>
            </mat-checkbox>
          </div>


        <button mat-raised-button color="primary" (click)="quickSaveSacramentsReceivedPut()" style="float: right" *ngIf="ClassSchedule.length==0">
          <i class="material-icons">save</i> Quick Save
        </button>
    </mat-expansion-panel>

    <br *ngIf="ClassSchedule.length==0">

    <mat-expansion-panel  [expanded]="true" style="max-width: 950px" *ngIf="ClassSchedule.length==0">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Other Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>

	    </mat-expansion-panel-header>
      <style type="text/css">
        #users  td{
    			border: 0px solid #ddd;
    		}
        .green{
          color: green
        }
        .red{
          color: red
        }
      </style>
        <table class="example-full-width" id="users" border="0">

          <tr>
            <td width="25%" style="padding-right: 10px">
              <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label class='green' *ngIf="global.userdemog.numberOfSibling!=''&&global.userdemog.numberOfSibling!=null">
                  <mat-icon>check</mat-icon> Number of Siblings
                </mat-label>
                <mat-label class='red' *ngIf="global.userdemog.numberOfSibling==''||global.userdemog.numberOfSibling==null">
                  <mat-icon>close</mat-icon> Number of Siblings
                </mat-label>
                <input matInput [(ngModel)]="global.userdemog.numberOfSibling" placeholder="">
              </mat-form-field>
            </td>
            <td width="25%" style="padding-right: 10px">
              <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label class='green' *ngIf="global.userdemog.birthOrder!=0">
                  <mat-icon>check</mat-icon> Your Birth Order
                </mat-label>
                <mat-label class='red' *ngIf="global.userdemog.birthOrder==0">
                  <mat-icon>close</mat-icon> Your Birth Order
                </mat-label>
                  <mat-select [(ngModel)]="global.userdemog.birthOrder">
                    <mat-option value="1">1st</mat-option>
                    <mat-option value="2">2nd</mat-option>
                    <mat-option value="3">3rd</mat-option>
                    <mat-option value="4">4th</mat-option>
                    <mat-option value="5">5th</mat-option>
                    <mat-option value="6">6th</mat-option>
                    <mat-option value="7">7th</mat-option>
                    <mat-option value="8">8th</mat-option>
                    <mat-option value="9">9th</mat-option>
                    <mat-option value="10">10th</mat-option>
                    <mat-option value="11">11th</mat-option>
                    <mat-option value="12">12th</mat-option>
                  </mat-select>
                </mat-form-field>
            </td>
            <td width="50%" colspan="2"></td>
          </tr>
          <tr>
            <td width="100%" colspan="4">
              <mat-form-field class="example-full-width"  appearance="outline">
              <mat-label class='green' *ngIf="global.userdemog.languageSpoken!=''&&global.userdemog.languageSpoken!=null">
                <mat-icon>check</mat-icon> Language Spoken
              </mat-label>
              <mat-label class='red' *ngIf="global.userdemog.languageSpoken==''||global.userdemog.languageSpoken==null">
                <mat-icon>close</mat-icon> Language Spoken
              </mat-label>
                <input matInput [(ngModel)]="global.userdemog.languageSpoken" placeholder="e.g. Tagalog, Ilocano, Cebuano" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td width="100%" colspan="4">
              <mat-form-field class="example-full-width"  appearance="outline">
              <mat-label class='green' *ngIf="global.userdemog.motherTongue!=''&&global.userdemog.motherTongue!=null">
                <mat-icon>check</mat-icon> Mother Tongue
              </mat-label>
              <mat-label class='red' *ngIf="global.userdemog.motherTongue==''||global.userdemog.motherTongue==null">
                <mat-icon>close</mat-icon> Mother Tongue
              </mat-label>
                <input matInput [(ngModel)]="global.userdemog.motherTongue" placeholder="e.g. Tagalog, Ilocano, Itawes" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td width="100%" colspan="4">
              <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label class='green' *ngIf="global.userdemog.skillTalent!=''&&global.userdemog.skillTalent!=null">
                  <mat-icon>check</mat-icon> Special Abilities/Expertise/Talents
                </mat-label>
                <mat-label class='red' *ngIf="global.userdemog.skillTalent==''||global.userdemog.skillTalent==null">
                  <mat-icon>close</mat-icon> Special Abilities/Expertise/Talents
                </mat-label>
                <input matInput [(ngModel)]="global.userdemog.skillTalent" placeholder="e.g. Singing, Dancing, Drawing" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td width="100%" colspan="4">
              <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label >Physical Difficulties</mat-label>
                <input matInput [(ngModel)]="global.userdemog.physicalDefect" placeholder="" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td width="100%" colspan="4">
              <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label>Health Concern</mat-label>
                <input matInput [(ngModel)]="global.userdemog.healthProblem" placeholder="" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
  		  </table>
        <button mat-raised-button color="primary" (click)="quickSaveOtherInformation()" style="float: right" *ngIf="ClassSchedule.length==0">
          <i class="material-icons">save</i> Quick Save
        </button>
	  </mat-expansion-panel>
    <br>

    <mat-expansion-panel [expanded]="true"  *ngIf="ClassSchedule.length==0"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enroll Subjects</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


        <div *ngIf="global.oldshs_enroll">
        <div style="height: 5px"></div>
           <mat-form-field appearance="outline" style="width: 400px;margin-right: 10px;margin-top: -10px;margin-bottom: 2px" class="fullwidth">
              <mat-label>Select Course</mat-label>
              <mat-select [(ngModel)]="coursesval" (ngModelChange)="checkcourse()">
                <mat-option *ngFor="let a of courses" value="{{a.courseCode}}" (click) = "setProgramIDforSHStoCollege(a.programId)">{{a.course}} ({{a.courseCode}})</mat-option>
              </mat-select>
            </mat-form-field>
        </div>



        <div *ngIf="(global.firstyear&&global.majors.length>0)||(global.oldshs_enroll&&global.majors.length>0)">
        <div style="height: 5px"></div>
           <mat-form-field appearance="outline" style="width: 400px;margin-right: 10px;margin-top: -10px;margin-bottom: 2px" class="fullwidth">
              <mat-label>Select Major</mat-label>
              <mat-select [(ngModel)]="major" (ngModelChange)="checkmajor()">
                <mat-option *ngFor="let a of global.majors" value="{{a.programId}}">{{a.major}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>



        <div style="height: 5px"></div>
        <table>
          <tr>
            <td style="width: 30px">
              <b>Set:</b>
            </td>
            <td>
              <mat-form-field style="margin-top: -16px;width: 250px">
                <mat-select [(ngModel)]="setvar" name="gender" placeholder="- Select -">
                <mat-option  *ngFor="let x of setfiltered" value="{{x.headerId}}">{{x.setDescription}}</mat-option>
              </mat-select>
              </mat-form-field>
          </td>
          </tr>
        </table>
        <div style="height: 20px"></div>
        <table class="apptable">
          <tr>
          <th style="width: 60px;text-align: center;">Code No.</th>
          <th style="width: 75px;text-align: center;">Subject ID</th>
          <th>Descriptive Title</th>
          <th style="width: 50px;text-align: center;">Day</th>
          <th style="width: 120px;text-align: center;">Time</th>
          <th style="width: 55px;text-align: center;">Room</th>
          <th style="width: 40px;text-align: center;">Units</th>
          </tr>
          <tr *ngFor="let a of tableArr">
            <td style="text-align: center;">{{a.codeNo}}</td>
            <td style="text-align: center;">{{a.subjectId}}</td>
            <td>{{a.subjectTitle}}</td>
            <td style="text-align: center;">{{a.day}}</td>
            <td style="text-align: center;">{{a.time}}</td>
            <td style="text-align: center;">{{a.roomNumber}}</td>
            <td style="text-align: center;">{{a.units}}</td>
          </tr>
        </table>

                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
               <div *ngIf="tableArr!=undefined">
                <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
              </div>
        <div style="height: 10px"></div>
            <p style="text-align: center;">
              <!-- <b>*NOTE:</b> For irregular students, you will temporarily enroll the subjects. Queries will be done in the Adding and Dropping period. -->

            </p>

              <mat-checkbox [(ngModel)]='agree1'>I certify that all of the above information</mat-checkbox>  are true and correct.<br>

          <button mat-raised-button color="primary" form="ngForm" style="float: right;" [disabled]="checkenroll||!(agree1)" (click)="confirmenroll()"><i class="material-icons">
            done_outline
            </i> Enroll</button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true"  style="max-width: 950px" *ngIf="triggerNextStudInfo&&ClassSchedule.length!=0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enrolment</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
            <!-- <p style="text-align: center;">
              <b>*NOTE:</b> You are successfully pre-enrolled the subjects but you are not yet officially enrolled.<br>
              You may now proceed to your designated program chair for printing of your enrollment form or click the enrolment form button.
            </p> -->
            <p>
              <b>*NOTE:</b><br>A. Submit the following <strong>ENTRANCE CREDENTIALS to the Office of the University Registrar on or before July 31.</strong>
            </p>
            <ul tyle="a">
              <li>
                2x2 ID picture (white background, casual attire, natural hair color, clean haircut, and no earring for male students)
              </li>
              <li>
                PSA-Authenticated Birth Certificate
              </li>
              <li>
                SHS Report Card
              </li>
              <li>
                Certificate of Good Moral Character
              </li>
              <li>
                Printed and signed Personal Information Sheet <span style="font-style: italic;">(generated form after online Enrolment process)</span>
              </li>
              <li>
                Church Marriage Certificate, if married
              </li>
              <li>
                Affidavit of Non-cohabitation if single parent
              </li>
              <li>
                Certificate of Solo Parent
              </li>
            </ul>
            B. For old/returning students, please settle your down payment to be considered officially enrolled.
            <br>

            <p style="background-color: #294a70; color: white;padding: 10px 10px 10px 10px; border: 1px solid black">
              <strong>IMPORTANT REMINDER<br> FAILURE TO SUBMIT ADMISSION REQUIREMENTS MAY MEAN INVALIDATION OF ENROLMENT. PLEASE BE GUIDED PROPERLY.</strong>
            </p>
            <hr>



          <app-enrollment-form
            [studinfo]="studinfo"
            [familyarray]="familyarray"
            [personalInfo]="personalInfo"

            ></app-enrollment-form>
        </mat-expansion-panel>


    <!-- <mat-expansion-panel [expanded]="true"  style="max-width: 950px" *ngIf="ClassSchedule.length!=0"> -->
      <!-- <mat-expansion-panel [expanded]="true"  style="max-width: 950px"> -->
      <!-- <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enroll Subjects</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
            <p>
              <b>*NOTE:</b><br>A. For incoming first-year students and transferees, please submit the following documentary requirements to be considered officially enrolled.
            </p>
            <ul tyle="a">
              <li>
                2x2 ID picture (white background, casual attire, natural hair color, clean haircut, and no earring for male students)
              </li>
              <li>
                SHS Report Card
              </li>
              <li>
                Certificate of Good Moral Character
              </li>
              <li>
                Printed and signed Personal Information Sheet (generated form after online Enrolment process)
              </li>
              <li>
                Church Marriage Certificate, if married
              </li>
              <li>
                Affidavit of Non-cohabitation if single parent
              </li>
            </ul>
            B. For old/returning students, please settle your down payment to be considered officially enrolled.
            <hr>
            <p>
              <mat-checkbox [(ngModel)]='agree2'>I promise to obey all the rules and regulations of the University </mat-checkbox> of Saint Louis as stated in the Student's Handbook. I understand
              that absences are allowed only for serious reason of illness and family emergencies. Failure to attend 80% of the classes will
              automatically result in dropping the subjects.<br>
              <mat-checkbox [(ngModel)]='agree3'>I hereby agree to pay before the end of the term all</mat-checkbox> the fees and obligations assessed. Should I drop any subject/course, I agree
              to pay the school fees according to the provision sanctioned by the CHED and the Student Handbook.
            </p> -->

            <!-- <button
              mat-raised-button color="primary"
              style="min-width: 10px;width: auto;float: right;margin-left: 10px !important"
              (click)='PrintAdmissionForm()'
              [disabled]="!(agree2)||!(agree3)" ><mat-icon>print</mat-icon> Admission Form &nbsp;
            </button> -->
            <!-- <button
              mat-raised-button color="primary"
              style="min-width: 10px;width: auto;float: right;margin-left: 10px !important"
              (click)='PrintStudentInformationSheet()'
              [disabled]="!(agree2)||!(agree3)" ><mat-icon>print</mat-icon> Personal Information Sheet&nbsp;
            </button>
            <button
              mat-raised-button color="primary"
              style="min-width: 10px;width: auto;float: right; margin-right: 10px !important"
              (click)='ViewPrint()'
              [disabled]="!(agree2)||!(agree3)" >
                <mat-icon>format_align_center</mat-icon> Enrollment Form1 &nbsp;
            </button>&nbsp; &nbsp;

    </mat-expansion-panel> -->

    <div style="height: 70px"></div>
    </div>
  </mat-card-content>
</mat-card>
