
<mat-card class="example-card" id="ebcg"  style="padding: 0 " *ngIf="global.empPInfo!=undefined&&global.empInfo!=undefined">
   
<mat-card-header >
    <mat-card-title>Daily Time Record</mat-card-title>
        <mat-card-subtitle><i>Disclaimer: If there are information here that need to be updated, please inform the Human Resource Management and Development Office (HRMDO).</i></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px">
  <mat-accordion>
    <mat-card class="example-full-width2">
      <table style="width: 100%">
        <tr align="center">
          <table style="width: 80%">
            <td width="50%" style="padding-left: 5px">
              <mat-form-field class="example-full-width">
                <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" (dateChange)="checkDTR()" [(ngModel)]="sdate" name="sdate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td width="50%" style="padding-left: 5px">
              <mat-form-field class="example-full-width">
                <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" (dateChange)="checkDTR()"  [(ngModel)]="edate" name="edate" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </td>
          </table>
        </tr>
        <tr>
          <td align="center" colspan="2">
            <table class="apptable" id="childrenCSS" style="width: 95%">
              <tr>
                <th style="text-align: center;width: 200px" rowspan="2">
                  Date
                </th>
                <th style="text-align: center;" colspan="2">
                  Actual DTR
                </th>
                <th style="text-align: center;"  colspan="2">
                  Schedule
                </th>
              </tr>
              <tr>
                <th style="text-align: center;width: 125px">
                  Time-In
                </th>
                <th style="text-align: center;width: 125px">
                  Time-Out
                </th>
                <th style="text-align: center;width: 125px">
                  Time-In
                </th>
                <th style="text-align: center;width: 125px">
                  Time-Out
                </th>
              </tr>
              <tr *ngFor="let el of global.empDtrArray  | paginate: dtrConfig">
                <td style="text-align: center;" *ngIf="el.theDate!==lastdate">{{setLastDate(el.theDate)}}</td>
                <td style="text-align: center;" *ngIf="el.theDate===lastdate"></td>
                <td style="text-align: center;">{{el.timeIn}}</td>
                <td style="text-align: center;">{{el.timeOut}}</td>
                <td style="text-align: center;">{{el.scheduledTI}}</td>
                <td style="text-align: center;">{{el.scheduledTO}}</td>
              </tr>
            </table>

            <pagination-controls (pageChange)="dtrPageChanged($event)" style="float: right;"></pagination-controls>
          </td>
        </tr>
      </table>
    </mat-card>
  	
    

  </mat-accordion>
    	
    </div>
  </mat-card-content>
</mat-card>
 