
	.example-form {
		  min-width: 150px;
		  max-width: 580px;
		  width: 100%;
		}

		::ng-deep .mat-card-header {
		    background-color: #294a70 !important;
		    padding: 15px 5px 5px 5px !important;
		    color:white;
		}
		::ng-deep .mat-card-header * {
		    color:white;
		}

		::ng-deep .mat-card {
		    padding: 0 !important;
		}

		::ng-deep .mat-card-content {
		    padding: 15px !important;
		}
  mat-form-field{
	  margin-bottom: -20px;
	}
.example-spacer{
	flex: 1 1 auto;
}
/* Apply this to your `table` element. */
#mainTable {
  border-collapse: collapse;
}

/* And this to your table's `td` elements. */
#mainTable td {
  padding: -10px;
  margin: -10px;
}

.questionHolder{
  padding: 0;margin:2px; background-color: #e7e7e7;
}
.questionHolderContent{
  padding: 0;margin:0
}
.btnstyle{
  font-size:11px;
  width: 75px;
  min-width:18px;
  line-height: 15px;
  height: 28px;
  padding: 0;
  margin-left: 5px
}
.btnstyle span{
  margin-top: 7px;
  margin-left: 7px;
}
.btnstyle i{
  font-size: medium;margin-top: 1px;
}

.example-full-width {
  width: 100%;
}

.stepperLabel{
  font-size: x-small !important;
}
.mat-step-label{
  font-size: 8.75pt;
}

.mat-stepper-horizontal-line {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 10px!important;
}
.mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: auto;
}
.mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 8px;
  flex: none;
}
.mat-step-header .mat-step-icon {
  background-color: rgba(0, 0, 0, 0.54);
  color: white;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #294a70;
  color: white;
  margin-left: -10px;
}
.mat-step-header[aria-selected="true"]  {
  background-color: #b7b7b7;;
  border-radius: 22px;
  width: auto;
  font-weight: 8.75pt;
  height: 45px;
  padding-left: -10px;

}
.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 700px;
}
.mat-card.scrollable-content > .mat-card-title-group {
  display: block;
}
.mat-card.scrollable-content > .mat-card-content {
  overflow-y: auto;
}
