<mat-card class="example-card" id="es"  style="padding: 0">
  <mat-card-header >
   <mat-card-title>Evaluation for {{facultyName}}</mat-card-title>
   <mat-card-subtitle> Code {{codeNo}} - {{subject}} <br>
    <p style="color: #ffab1f;">Note: Faculty evaluation may not load properly at times because of the bulk of users accessing at the same time in our servers. Please reload your portal to fetch again the needed data. CICT team is working on this issue. Thank you and sorry for the incovenience </p>
  </mat-card-subtitle>

   <span class="example-spacer"></span>
    <button mat-raised-button (click)="noclick()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
 </mat-card-header>
 <mat-card-content class="scrollable-content">
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>

    <div *ngIf="completeAnswers">
        <button mat-raised-button (click)="completeAnswers = false">
          <i class="small material-icons">keyboard_return</i><span>Go back to questionnaire</span>
        </button>
        <button mat-raised-button color="primary" (click)="swalConfirm()" style="float: right;">
          <i class="small material-icons">done_all</i><span>Submit Answers</span>
        </button>
        <h3>Summary of answers</h3>
    </div>
    <div class="module_3" style="max-height: calc(100vh - 300px);overflow-x: auto;">

      <br>
      <div *ngIf="!completeAnswers">
        <!-- <button mat-raised-button  class="btnstyle" style="float: right!important; width: auto!important; padding-right: 7px!important;" (click)="viewSummary()">
          <i class="small material-icons">view_headline</i><span>View Summary</span>
        </button>
        <br>
        <br> -->
          <mat-horizontal-stepper #stepper>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Page 1</ng-template>
                <div>
                  <table id="mainTable" border="0" cellspacing="0" cellpadding="0">
                    <tr *ngFor="let item of questionsArrayGroup1; let i=index">
                      <td>
                        <mat-card class="questionHolder">
                          <mat-card-content class="questionHolderContent">
                            <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="70px">
                                  <strong>Item {{item.itemNo}}</strong>
                                </td>
                                <td>
                                  <strong>{{item.question}}</strong>
                                </td>
                              </tr>
                              <tr align="center">
                                <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,questionsArrayGroup1,1,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,questionsArrayGroup1,1,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,questionsArrayGroup1,1,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,questionsArrayGroup1,1,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,questionsArrayGroup1,1,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>

                      </td>
                    </tr>
                  </table>
                  <br>
                  <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                    <i class="small material-icons">chevron_right</i><span>Next</span>
                  </button>
                </div>

            </mat-step>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Page 2</ng-template>
                <div>
                  <table id="mainTable" border="0" cellspacing="0" cellpadding="0">

                    <tr *ngFor="let item of questionsArrayGroup2; let i=index">
                      <td>
                        <mat-card class="questionHolder">
                          <mat-card-content class="questionHolderContent">
                            <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="70px">
                                  <strong>Item {{item.itemNo}}</strong>
                                </td>
                                <td>
                                  <strong>{{item.question}}</strong>
                                </td>
                              </tr>
                              <tr align="center">
                                <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,questionsArrayGroup2,2,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,questionsArrayGroup2,2,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,questionsArrayGroup2,2,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,questionsArrayGroup2,2,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,questionsArrayGroup2,2,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>
                      </td>
                    </tr>
                  </table>
                  <br>
                  <button mat-raised-button class="btnstyle" matStepperPrevious>
                    <i class="small material-icons">chevron_left</i><span>Back</span>
                  </button>
                  <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                    <i class="small material-icons">chevron_right</i><span>Next</span>
                  </button>
                </div>

            </mat-step>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Page 3</ng-template>
                <div>
                  <table id="mainTable" border="0" cellspacing="0" cellpadding="0">

                    <tr *ngFor="let item of questionsArrayGroup3; let i=index">
                      <td>
                        <mat-card class="questionHolder">
                          <mat-card-content class="questionHolderContent">
                            <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="70px">
                                  <strong>Item {{item.itemNo}}</strong>
                                </td>
                                <td>
                                  <strong>{{item.question}}</strong>
                                </td>
                              </tr>
                              <tr align="center">
                                <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,questionsArrayGroup3,3,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,questionsArrayGroup3,3,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,questionsArrayGroup3,3,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,questionsArrayGroup3,3,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,questionsArrayGroup3,3,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>
                      </td>
                    </tr>
                  </table>
                  <br>
                  <button mat-raised-button class="btnstyle" matStepperPrevious>
                    <i class="small material-icons">chevron_left</i><span>Back</span>
                  </button>
                  <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                    <i class="small material-icons">chevron_right</i><span>Next</span>
                  </button>
                </div>

            </mat-step>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Page 4</ng-template>
                <div>
                  <table id="mainTable" border="0" cellspacing="0" cellpadding="0">

                    <tr *ngFor="let item of questionsArrayGroup4; let i=index">
                      <td>
                        <mat-card class="questionHolder">
                          <mat-card-content class="questionHolderContent">
                            <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="70px">
                                  <strong>Item {{item.itemNo}}</strong>
                                </td>
                                <td>
                                  <strong>{{item.question}}</strong>
                                </td>
                              </tr>
                              <tr align="center">
                                <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,questionsArrayGroup4,4,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,questionsArrayGroup4,4,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,questionsArrayGroup4,4,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,questionsArrayGroup4,4,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,questionsArrayGroup4,4,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>
                      </td>
                    </tr>
                  </table>
                  <br>
                  <button mat-raised-button class="btnstyle" matStepperPrevious>
                    <i class="small material-icons">chevron_left</i><span>Back</span>
                  </button>
                  <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                    <i class="small material-icons">chevron_right</i><span>Next</span>
                  </button>
                </div>
            </mat-step>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Page 5</ng-template>
              <div>
                <table id="mainTable" border="0" cellspacing="0" cellpadding="0">
                  <tr *ngFor="let item of questionsArrayGroup5; let i=index">
                    <td>
                      <mat-card class="questionHolder">
                        <mat-card-content class="questionHolderContent">
                          <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="70px">
                                <strong>Item {{item.itemNo}}</strong>
                              </td>
                              <td>
                                <strong>{{item.question}}</strong>
                              </td>
                            </tr>
                            <tr align="center">
                              <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,questionsArrayGroup5,5,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,questionsArrayGroup5,5,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,questionsArrayGroup5,5,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,questionsArrayGroup5,5,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,questionsArrayGroup5,5,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>

                    </td>
                  </tr>
                </table>
                <br>
                <button mat-raised-button class="btnstyle" matStepperPrevious>
                  <i class="small material-icons">chevron_left</i><span>Back</span>
                </button>
                <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                  <i class="small material-icons">chevron_right</i><span>Next</span>
                </button>

              </div>

            </mat-step>
            <mat-step *ngIf="proglevel !='COLLEGE'">
              <ng-template class="stepperLabel" matStepLabel>Others</ng-template>
              <div>
                <table id="mainTable" border="0" cellspacing="0" cellpadding="0">
                  <tr *ngFor="let item of additionalQuestionsArray; let i=index">
                    <td>
                      <mat-card class="questionHolder">
                        <mat-card-content class="questionHolderContent">
                          <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="70px">
                                <strong>Item {{item.itemNo}}</strong>
                              </td>
                              <td>
                                <strong>{{item.question}}</strong>
                              </td>
                            </tr>
                            <tr align="center">
                              <td colspan="2">
                                  <mat-radio-group [(ngModel)]="item.valueAnswer">
                                    <mat-radio-button value="1" (click)="recordValueTemp(1,item.id,additionalQuestionsArray,6,i)">Never&emsp;</mat-radio-button>
                                    <mat-radio-button value="2" (click)="recordValueTemp(2,item.id,additionalQuestionsArray,6,i)">Seldom&emsp;</mat-radio-button>
                                    <mat-radio-button value="3" (click)="recordValueTemp(3,item.id,additionalQuestionsArray,6,i)">Sometimes&emsp;</mat-radio-button>
                                    <mat-radio-button value="4" (click)="recordValueTemp(4,item.id,additionalQuestionsArray,6,i)">Often&emsp;</mat-radio-button>
                                    <mat-radio-button value="5" (click)="recordValueTemp(5,item.id,additionalQuestionsArray,6,i)">Always&emsp;</mat-radio-button>
                                  </mat-radio-group>
                                </td>
                              </tr>
                            </table>
                          </mat-card-content>
                        </mat-card>

                    </td>
                  </tr>
                </table>
                <br>
                <button mat-raised-button class="btnstyle" matStepperPrevious>
                  <i class="small material-icons">chevron_left</i><span>Back</span>
                </button>
                <button mat-raised-button class="btnstyle" color="primary" matStepperNext>
                  <i class="small material-icons">chevron_right</i><span>Next</span>
                </button>

              </div>

            </mat-step>
            <mat-step>
              <ng-template class="stepperLabel" matStepLabel>Comments</ng-template>
              <div>
                <table id="mainTable" border="0" cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td>
                      <mat-card class="questionHolder">
                        <mat-card-content class="questionHolderContent">
                          <table width="100%" id="mainTable" border="0" cellspacing="0" cellpadding="0">
                            <!-- <tr>
                              <td>
                                <strong>Comments:</strong>
                              </td>
                            </tr> -->
                            <tr>
                              <td>
                                <div>
                                  <mat-form-field class="example-full-width" style=" width: 100%;">
                                    <textarea matInput placeholder="Leave a comment" style="height: 80px;" maxlength="300" [(ngModel)]="comment" required></textarea>
                                  </mat-form-field>
                                  <span style="float: right; margin-top: 5px;">{{comment.length}}/300</span>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </mat-card-content>
                      </mat-card>
                    </td>
                  </tr>
                </table>
                <br>
                <button mat-raised-button class="btnstyle" matStepperPrevious>
                  <i class="small material-icons">chevron_left</i><span>Back</span>
                </button>
                <button mat-raised-button color="primary" class="btnstyle" (click)="submit()">
                  <i class="small material-icons">done_all</i><span>Submit</span>
                </button>

              </div>
            </mat-step>


            <!-- <mat-step>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step> -->
          </mat-horizontal-stepper>
      </div>

      <div *ngIf="completeAnswers" >

        <table width="100%" class="apptable">
          <tr>
            <th width="75%">QUESTIONS</th>
            <th width="25%">ANSWERS</th>
          </tr>
          <tr *ngFor="let item of questionsArrayGroup1">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
          <tr *ngFor="let item of questionsArrayGroup2">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
          <tr *ngFor="let item of questionsArrayGroup3">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
          <tr *ngFor="let item of questionsArrayGroup4">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
          <tr *ngFor="let item of questionsArrayGroup5">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Additional questions</strong></td>
          </tr>
          <tr *ngFor="let item of additionalQuestionsArray">
            <td>{{item.question}}</td>
            <td>{{getAnswerValue(item.valueAnswer)}}</td>
          </tr>
        </table>
        <br>
        <table border="0" width="100%">
          <tr>
            <td><strong>Comments:</strong></td>
          </tr>
          <tr>
            <td>
              {{comment}}
            </td>
          </tr>
        </table>

      </div>
      <br>
    </div>
  <div *ngIf="completeAnswers">
  </div>

 </mat-card-content>
</mat-card>
