<div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <b>DATE & TIME DETAILS</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class='colo'>

            <div *ngIf="facultyType == 2">
                <table class="apptable1" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th style="width: 80%;">SELECT DATE & TIME</th>
                            <th style="width: 20%; text-align: center;">--ACTION--</th>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field [formGroup]="form" style="width: 48%; margin-left: 5px; margin-right: 10px;">
                                    <input [matDatepickerFilter]="myFilter" [matDatepicker]="picker" (dateChange)="onDateSelected1('1')" (click)="picker.open()" readonly matInput placeholder="Start Date" formControlName="sdate" name="sdate" required>
                                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched )">
                                        Start Date is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field [formGroup]="form" style="width: 48%;">
                                    <input [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" (dateChange)="onDateSelected('0')" (click)="picker2.open()" readonly matInput placeholder="End Date" formControlName="edate" name="edate" required>
                                    <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="form.get('edate').invalid && form.get('edate').touched">
                                        End Date is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field style="width: 30%; margin-right: 10px; margin-left: 5px;">
                                    <mat-label>Select Day</mat-label>
                                    <mat-select [(ngModel)]="day" (ngModelChange)='getTimeAndCodeByDay(day,1)' [disabled]="selectedDates.length == 0 || this.data.typeOfLeave !== 0">
                                        <mat-option *ngFor="let day of dayArray" [value]="day.day">
                                            {{day.day}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field style="width: 66%;">
                                    <mat-select [(ngModel)]="timeAndCode" [disabled]="day == undefined && tempfacultyCodeTimeArray.length == 0 || this.data.typeOfLeave !== 0" (selectionChange)="addTimeAndCode($event.value)">
                                        <mat-option *ngFor="let code of facultyCodeTimeArray" [value]="code">
                                            {{code.fromDisplayValue}} - {{code.toDisplayValue}} (Code: {{code.codeNo}})
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </td>

                            <td align="center">
                                <button mat-raised-button color="primary" (click)="calculateDates()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6">ADD</button>
                                <div style="height: 10px;"></div>
                                <button mat-raised-button [color]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? 'primary' : ''" (click)="clear()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6"
                                    [ngStyle]="{'background-color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : '#990000', 'color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : 'white'}"
                                    style="padding: 0;">
                               CLEAR</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="max-height: 200px; overflow-y: auto; margin-top: 5px;">
                    <table class="apptable1" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 13%;">Date</th>
                                <th style="width: 10%;">From</th>
                                <th style="width: 10%;">TO</th>
                                <th style="width: 11%;">CODE NO</th>
                                <!-- <th style="width: 16%;">SCHOOL YEAR</th> -->
                                <th style="width: 15%;">HR/MIN</th>
                                <th style="width: 10%; text-align: center;">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of displayArr">
                                <td>{{c.date}}</td>
                                <td>
                                    {{c.fromDisplayValue}}
                                </td>
                                <td>
                                    {{c.toDisplayValue}}
                                </td>

                                <td>
                                    {{c.codeNo}}
                                </td>
                                <!-- <td>
                                    {{c.schoolYear}}
                                </td> -->
                                <td>{{c.hrmins}}</td>
                                <td align="center">
                                    <button mat-raised-button (click)="delete(c.date,c.fromDisplayValue,c.toDisplayValue)" [disabled]="  this.data.typeOfLeave === 6" [ngStyle]="{'font-size': '12px', 'min-width': '18px', 'line-height': '15px', 'height': '28px', 'padding': '0', 'background-color':  this.data.typeOfLeave === 6 ? '' : '#990000', 'color': this.data.typeOfLeave === 6 ? '' : 'white'}">
                                        <i class="material-icons" style="font-size: 16px ;margin-left: 5px;">
                                            delete
                                        </i>
                                        <span style="margin-top: 7px">
                                            REMOVE&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="displayArr.length == 0 || displayArr.length == undefined">
                                <td colspan="7">
                                    <p style="text-align: center; width: 100%;">
                                        <i>- No Data -</i>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="facultyType == 3">
                <table class="apptable1" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th style="width: 80%;">SELECT DATE & TIME</th>
                            <th style="width: 20%; text-align: center;">--ACTION--</th>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 49%;" [formGroup]="form">
                                    <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Start Date" (dateChange)="onDateSelected1('1')" (click)="picker.open()" formControlName="sdate" name="sdate" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched )">Start Date is required</mat-error>
                                </mat-form-field>

                                <mat-form-field style="width: 49%; margin-left: 5px;" [formGroup]="form">
                                    <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="End Date" (dateChange)="onDateSelected('0')" (click)="picker2.open()" formControlName="edate" name="edate" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="form.get('edate').invalid && form.get('edate').touched">End Date is required</mat-error>
                                </mat-form-field>

                                <!-- 
                                <mat-form-field style="width: 16%; margin-right: 10px; margin-left: 5px;">
                                    <mat-label>Select Time</mat-label>
                                    <mat-select [(ngModel)]="timeArrayValue" (selectionChange)='getTimeOfTheDay($event.value)' [disabled]="selectedDates.length == 0 || this.data.typeOfLeave !== 0">
                                        <mat-option *ngFor="let time of timeArrayDisplay" [value]="time.timeId">
                                            {{time.time}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field style="width: 20%; margin-right: 10px; margin-left: 5px;">
                                    <mat-label>Select Day</mat-label>
                                    <mat-select [(ngModel)]="besDay" (ngModelChange)='getTimeAndSubjectByDay(besDay,1)' [disabled]="selectedDates.length == 0 || this.data.typeOfLeave !== 0">
                                        <mat-option *ngFor="let day of besDayArray" [value]="day.day">
                                            {{day.day}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field style="width: 58%;">
                                    <mat-label>Select Time and Subject</mat-label>
                                    <mat-select [(ngModel)]="timeAndSubject" (selectionChange)="addTimeAndSubject($event.value)" [disabled]="besDay == undefined && besTempfacultyCodeTimeArray.length == 0 || this.data.typeOfLeave !== 0">
                                        <mat-option *ngFor="let subject of besFacultyCodeTimeArray" [value]="subject">
                                            {{subject.fromDisplayValue}} - {{subject.toDisplayValue}} (Subject: {{subject.subject}})
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                            </td>
                            <td align="center">
                                <button mat-raised-button color="primary" (click)="calculateDates()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6">ADD</button>
                                <div style="height: 10px;"></div>
                                <button mat-raised-button [color]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? 'primary' : ''" (click)="clear()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6"
                                    [ngStyle]="{'background-color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : '#990000', 'color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : 'white'}"
                                    style="padding: 0;">
                               CLEAR</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="max-height: 200px; overflow-y: auto; margin-top: 5px;">
                    <table class="apptable1" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 12%;">Date</th>
                                <th style="width: 10%;">From</th>
                                <th style="width: 10%;">TO</th>
                                <th style="width: 22%;">SECTION</th>
                                <th style="width: 30%;">SUBJECT</th>
                                <!-- <th style="width: 16%;">SCHOOL YEAR</th> -->
                                <th style="width: 8%;">HR/MIN</th>
                                <th style="width: 8%; text-align: center;">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of displayArr">
                                <td>{{c.date}}</td>
                                <td>{{c.fromDisplayValue}}</td>
                                <td>{{c.toDisplayValue}}</td>
                                <td>{{c.section}}</td>
                                <td>{{c.subject}}</td>
                                <td>{{c.hrmins}}</td>
                                <td>
                                    <button mat-raised-button (click)="delete(c.date,c.from,c.to)" [disabled]=" this.data.typeOfLeave === 6" [ngStyle]="{'font-size': '12px', 'min-width': '18px', 'line-height': '15px', 'height': '28px', 'padding': '0', 'background-color':  this.data.typeOfLeave === 6 ? '' : '#990000', 'color':   this.data.typeOfLeave === 6 ? '' : 'white'}">
                                        <i class="material-icons" style="font-size: 16px ;margin-left: 5px;">delete</i>
                                        <span style="margin-top: 7px"> REMOVE&nbsp;&nbsp;&nbsp;</span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="displayArr.length == 0 || displayArr.length == undefined">
                                <td colspan="7">
                                    <p style="text-align: center; width: 100%;">
                                        <i>- No Data -</i>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </mat-card-content>
    </mat-card>
</div>

<div>
    <table width="100%">
        <tbody>
            <tr>
                <td align="left">
                    <button mat-raised-button color="primary" (click)="checkSchedule()" style="padding-right: 0;padding-left: 0.5rem; margin-left: 15px;">
                        <i class="material-icons" style="margin-right: 5px;">schedule</i><span
                            style="margin-top: 7px;">Check Schedule&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </td>
                <td align="right">
                    <button (click)="onNoClickclose()" mat-raised-button color="warning" style="margin-right: 5px;">
                        Close
                    </button>
                    <button [disabled]="displayArr.length == 0" (click)="save()" mat-raised-button color="primary" style="margin-right: 15px;">
                        Save
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>