<mat-card class="example-card" id="es"  style="padding: 0" *ngIf='global.userinfo!=undefined&&this.global.studinfo!=undefined'>
   <mat-card-header >
    <mat-card-title>Enrollment</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px">
	  <mat-expansion-panel  [expanded]="true" style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Basic Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>

	    </mat-expansion-panel-header>
<style type="text/css">
  		#users  td{
  			border: 0px solid #ddd;
  		}
  	</style>
  		  <table class="apptable" id="users" border="0">
  		  	
  		  	<tr>
  		  		<td width="100px">
  		  			<b>ID Number:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.idNumber}}
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Name:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.firstName}} {{global.userinfo.middleName}} {{global.userinfo.lastName}} {{global.userinfo.suffixName}} 
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Year:</b>
  		  		</td>
  		  		<td>
  		  			{{getyear(global.studinfo.yearOrGradeLevel)}} 
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Course:</b>
  		  		</td>
  		  		<td>
  		  			{{global.studinfo.course}} 
  		  		</td>
  		  	</tr>
  		  </table>
	  </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="global.ClassSchedule.length!=0"  [expanded]="true"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Contact Information</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="apptable" id="users" border="0">
          <tr>
            <td width="200px">
              <b>Telephone Number</b>
            </td>
            <td>
              {{global.userdemog.telNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Cellphone Number</b>
            </td>
            <td>
              {{global.userdemog.mobileNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Email Address</b>
            </td>
            <td>
              {{global.userdemog.emailAdd}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Home Address</b>
            </td>
            <td>
              {{global.userdemog.homeAddress}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Current/Boarding Address</b>
            </td>
            <td>
              {{global.userdemog.currentAddress}}
            </td>
          </tr>
        </table>
    </mat-expansion-panel>
	  <mat-expansion-panel  [expanded]="true"  *ngIf="global.ClassSchedule.length==0"  style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Contact Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	     <table class="example-full-width" cellspacing="0"  style="max-width: 900px"><tr>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Telephone Number</mat-label>
			      <input matInput [(ngModel)]="tno" placeholder="">
			    </mat-form-field>
			</td>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Cellphone Number</mat-label>
			      <input matInput [(ngModel)]="cno" placeholder="">
			    </mat-form-field>
			</td>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>E-mail Address</mat-label>
			      <input matInput [(ngModel)]="email" placeholder="">
			    </mat-form-field>
			</td>
		  	</tr></table>

		  <table class="example-full-width" cellspacing="0"  style="max-width: 900px">
		  <tr>
		    <td width="30%">
		  	<mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Street</mat-label>
		      <input matInput placeholder="" [(ngModel)]="permNoStreet" name="lrno">
		    </mat-form-field></td>
		  	<td style="padding-left: 10px;padding-top: 9px">
		    <mat-form-field class="example-full-widthminus"  appearance="outline" (click)="openDialog(1)">
            <mat-label>Home Address</mat-label>
		      <input autofocus matInput  placeholder="" [(ngModel)]="homeaddress" readonly="readonly">
		      
		    </mat-form-field>
		    <button mat-mini-fab color="primary"  (click)="openDialog(1)">
			    <mat-icon>search</mat-icon>
			  </button>
		  	</td>
		  </tr>
		  </table>

		  <table class="example-full-width" cellspacing="0"  style="max-width: 900px">
		  <tr>
		    <td width="30%">
		  	<mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Street</mat-label>
		      <input matInput placeholder="Street" [(ngModel)]="currNoStreet" name="lrno">
		    </mat-form-field></td>
		  	<td style="padding-left: 10px;padding-top: 9px">
		    <mat-form-field class="example-full-widthminus"  appearance="outline"  (click)="openDialog(2)">
            <mat-label>Current/Boarding Address</mat-label>
		      <input autofocus matInput  placeholder="" [(ngModel)]="boardingaddress" readonly="readonly">
		      
		    </mat-form-field>
		    <button mat-mini-fab color="primary" (click)="openDialog(2)">
			    <mat-icon>search</mat-icon>
			  </button>
		  	</td>
		  </tr>
		  </table>
	  </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true"  *ngIf="global.ClassSchedule.length==0"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enroll Subjects</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

       <div *ngIf="(global.gsfirstyear&&global.majors.length>0)">
        <div style="height: 5px"></div>
           <mat-form-field appearance="outline" style="width: 400px;margin-right: 10px;margin-top: -10px;margin-bottom: 2px" class="fullwidth">
              <mat-label>Select Major</mat-label>
              <mat-select [(ngModel)]="major" (ngModelChange)="checkmajor()">
                <mat-option *ngFor="let a of global.majors" value="{{a.programId}}">{{a.major}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>


        <div style="width: 100%;">
          <table style="margin: 10px 10px  10px 0px;width: 295px;float: left;margin-right: 5px;padding: 5px" *ngFor="let a of subjectsarray" class="apptable">
            <tr>
              <td>
                 <mat-checkbox (click)="checksubj(a.codeNo,a.units);false" [checked]="ifcheck(a.codeNo)"> <b>{{a.codeNo.toUpperCase()}}</b> (<b>{{a.subjectId}} </b></mat-checkbox> - {{a.subjectTitle}}) units: {{a.units}}
              </td>
            </tr>
          </table>
        </div>
        <div style="height: 20px"></div>
        <table class="apptable">
          <tr>
          <th style="width: 60px;text-align: center;">Code No.</th>
          <th style="width: 75px;text-align: center;">Subject ID</th>
          <th>Descriptive Title</th>
          <th style="width: 50px;text-align: center;">Day</th>
          <th style="width: 120px;text-align: center;">Time</th>
          <th style="width: 55px;text-align: center;">Room</th>
          <th style="width: 40px;text-align: center;">Units</th>
          </tr>
          <tr *ngFor="let a of subjectstoenrolldisplay">
            <td style="text-align: center;">{{a.codeNo.toUpperCase()}}</td>
            <td style="text-align: center;">{{a.subjectId}}</td>
            <td>{{a.subjectTitle}}</td>
            <td style="text-align: center;">{{a.day}}</td>
            <td style="text-align: center;">{{a.time}}</td>
            <td style="text-align: center;">{{a.roomNumber}}</td>
            <td style="text-align: center;"><span *ngIf="a.units!=0">{{a.units}}</span></td>
          </tr>
        </table>

                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="subjectstoenroll===undefined"></mat-spinner>
               <div *ngIf="subjectstoenroll!=undefined">
                <p *ngIf="subjectstoenroll.length===0" style="text-align: center;"><i>- No Subjects Added! -</i></p>

              <p  *ngIf="subjectstoenroll!=undefined" style="text-align: right;"><b   *ngIf="subjectstoenroll.length!=0">Total Units: {{totunit}}&nbsp;&nbsp;&nbsp;</b></p>
              </div>
        <div style="height: 10px"></div>
          <button mat-raised-button color="primary" form="ngForm" style="float: right;" [disabled]="subjectstoenrolldisplay.length<1" (click)="confirmenroll()"><i class="material-icons">
      done_outline
      </i> Enroll</button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true"  style="max-width: 950px" *ngIf="global.ClassSchedule.length!=0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enroll Subjects</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

            <p>
              <b>*NOTE:</b> You successfully pre-enrolled the subjects but you are not yet officially enrolled.<br><br>
              You may now settle your downpayment thru the following facilities:
            </p>
<ol tyle="a">
  <li>
    UnionBank over-the-counter
  </li>
  <li>
    UnionBank online facility
  </li>
  <li>
    USL Accounting Office (submit a copy of the enrollment form)
  </li>
</ol>
  
              

    <button mat-raised-button color="primary" style="min-width: 10px;width: auto;float: right;" (click)='ViewPrint()' ><mat-icon>format_align_center</mat-icon> Enrollment Form &nbsp;</button>
    </mat-expansion-panel>
    	
    <div style="height: 50px"></div>
    </div>
  </mat-card-content>
</mat-card>
 