<div id="aWE" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Leave Form</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table width="100%">
                <tr *ngIf="formCtrl > 1">
                    <td width="50%">
                        <mat-form-field>
                            <mat-label>Select leave form</mat-label>
                            <mat-select>
                                <mat-option value='1' (click)="assignLeaveType(1)">
                                    Non - Academic Personnel
                                </mat-option>
                                <mat-option value='2' (click)="assignLeaveType(2)">
                                    Faculty
                                </mat-option>

                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr *ngIf="apptCtrl > 1">
                    <td width="100%" colspan="2">
                        <mat-form-field style="width: 100%">
                            <mat-label>Office/Department</mat-label>
                            <mat-select [(ngModel)]="AID">
                                <mat-option value="{{r.departmentID}}" *ngFor="let r of appointmentList" (click)="recordDname(r.departmentID)">
                                    {{r.departmentName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-divider *ngIf="apptCtrl > 1"></mat-divider>
            <br>
            <div *ngIf="Ltype == 1">
                <table width="100%">
                    <tr>
                        <td colspan="2" align="center">
                            <strong>APPLICATION FOR LEAVE FOR ADMINISTRATION/NON - ACADEMIC PERSONNEL</strong>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td width="100px">
                            <strong>IDNO: </strong>
                        </td>
                        <td>
                            {{global.empInfo.idnumber}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                            <strong>NAME:</strong>
                        </td>
                        <td>
                            {{global.empInfo.fullname}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                            <strong>OFFICE/DEPT:</strong>
                        </td>
                        <td>
                            {{selectedDept}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px"><strong>Date Filed: </strong></td>
                        <td>
                            {{myDate | date: 'shortDate' }}
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0">
                    <tr>
                        <td colspan="3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Reason/Description" [(ngModel)]="reason" [formControl]="reasonFormControl">
                                <mat-error *ngIf="reasonFormControl.hasError('required')">
                                    <strong>*</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table style="margin-top: -20px" *ngIf="obtriggerctr" width="100%">
                    <tr>
                        <td colspan="2">
                            <p>Official business leave details:</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%"><strong>VENUE:</strong></td>
                        <td>{{venue}}</td>
                    </tr>
                    <tr>
                        <td><strong>COMPANY/SPONSOR:</strong></td>
                        <td>{{companyname}}</td>
                    </tr>
                    <tr>
                        <td><strong>TRAINING TYPE:</strong></td>
                        <td>{{stidname}}</td>
                    </tr>
                </table>

                <table width="100%" border="0" style="margin-top: -15px">
                    <tr>
                        <td colspan="3">
                            <div class="mat-table">
                                <div class="mat-row">
                                    <div class="mat-cell" style="text-align: center!important;"><strong>Leave Type:</strong></div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='4' (click)="obtrigger(true);setRdbValue(4);openOBForm()"><strong>OB</strong> - Official Business Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='6' (click)="obtrigger(false);setRdbValue(6);"><strong>BL</strong> - Birthday Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='8' (click)="obtrigger(false);setRdbValue(8);"><strong>SPL</strong> - Solo Parent Leave</div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell">
                                        <input type="radio" [disabled]="isVLdisabled" name="leave-type" [(ngModel)]="leave_type" value='2' (click)="obtrigger(false);setRdbValue(2);">
                                        <strong>VL</strong> - Vacation Leave
                                    </div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='3' (click)="obtrigger(false);setRdbValue(3);"><strong>ML/PL</strong> - Maternity/Paternity Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='7' (click)="obtrigger(false);setRdbValue(7);"><strong>BerL</strong> - Bereavement Leave</div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell">
                                        <input type="radio" [disabled]="isSLdisabled" [(ngModel)]="leave_type" value='1' name="leave-type" (click)="obtrigger(false);setRdbValue(1);">
                                        <strong>SL</strong> - Sick Leave
                                    </div>
                                    <div class="mat-cell"></div>
                                    <div class="mat-cell"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <table width="100%">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Remarks" [(ngModel)]="remarks"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <button mat-raised-button class="btnstyle" (click)="addEntry('date')">
				<i class="material-icons">note_add</i><span style="margin-top: 7px">Add date/time&nbsp;&nbsp;&nbsp;</span>
			</button>
                <br>
                <br>

                <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                    <button mat-menu-item class="btnAction" (click)="addEntry('update')">
	  				<i class="material-icons" >edit</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Edit Time&nbsp;</p>
	  			</button>
                    <button mat-menu-item class="btnAction" (click)="deleteEntry()">
	  				<i class="material-icons">delete</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Delete Entry&nbsp;</p>
	  			</button>
                    <hr>
                    <button mat-menu-item class="btnAction" (click)="addEntry('time')">
	  				<i class="material-icons">add</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Add Time&nbsp;</p>
	  			</button>
                </mat-menu>

                <table class="apptable" width="100%">
                    <th style="text-align: center;">
                        DATE
                    </th>
                    <th style="text-align: center;">
                        TIME
                    </th>
                    <th style="text-align: center;">
                        TOTAL MINUTES
                    </th>
                    <th style="text-align: center; width: 20px">
                        ACTION
                    </th>
                    <tr *ngFor="let x of LeavePushService.tempDatesArr">
                        <td *ngIf="compare(x.id,x.tdate)==false">{{x.tdate | date: 'MM-dd-yyyy' }}</td>
                        <td *ngIf="compare(x.id,x.tdate)==true"></td>
                        <td>{{LeaveValidationService.validateTimeAMPM(x.tin)}} - {{LeaveValidationService.validateTimeAMPM(x.tout)}}</td>
                        <!-- <td>
						<button mat-raised-button class="btnstyle" (click)="addEntry('time')">
							<i class="material-icons">note_add</i><span style="margin-top: 7px">Add Time&nbsp;&nbsp;&nbsp;</span>
						</button>
					</td> -->
                        <td>
                            {{x.totMins}} Mins.
                        </td>
                        <td width="20px">
                            <button mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" (click)="setdata(x)">
			    			<i class="material-icons">arrow_drop_down</i><span style="margin-top: 7px"></span>
			    		</button>
                        </td>
                    </tr>
                </table>

            </div>



            <table width="100%" *ngIf="Ltype == 2">
                <tr>
                    <td align="center"><strong>Online leave filing for faculty is currently under development.</strong></td>
                </tr>
            </table>


            <div *ngIf="type == 'Update'">
                <table width="100%">
                    <tr>
                        <td colspan="2" align="center">
                            <strong>APPLICATION FOR LEAVE FOR ADMINISTRATION/NON - ACADEMIC PERSONNEL</strong>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td width="100px">
                            <strong>IDNO: </strong>
                        </td>
                        <td>
                            {{global.empInfo.idnumber}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                            <strong>NAME:</strong>
                        </td>
                        <td>
                            {{global.empInfo.fullname}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px">
                            <strong>OFFICE/DEPT:</strong>
                        </td>
                        <td>
                            {{selectedDept}}
                        </td>
                    </tr>
                    <tr>
                        <td width="100px"><strong>Date Filed: </strong></td>
                        <td>
                            {{myDate | date: 'shortDate' }}
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0">
                    <tr>
                        <td colspan="3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Reason/Description" [(ngModel)]="reason">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table style="margin-top: -20px" *ngIf="obtriggerctr" width="100%">
                    <tr>
                        <td colspan="2">
                            <p>Official business leave details:</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%"><strong>VENUE:</strong></td>
                        <td>{{venue}}</td>
                    </tr>
                    <tr>
                        <td><strong>COMPANY/SPONSOR:</strong></td>
                        <td>{{companyname}}</td>
                    </tr>
                    <tr>
                        <td><strong>TRAINING TYPE:</strong></td>
                        <td>{{stidname}}</td>
                    </tr>
                </table>

                <table width="100%" border="0" style="margin-top: -15px">
                    <tr>
                        <td colspan="3">
                            <div class="mat-table">
                                <div class="mat-row">
                                    <div class="mat-cell" style="text-align: center!important;"><strong>Leave Type:</strong></div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='4' (click)="obtrigger(true);setRdbValue(4);openOBForm()"><strong>OB</strong> - Official Business Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='6' (click)="obtrigger(false);setRdbValue(6);"><strong>BL</strong> - Birthday Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='8' (click)="obtrigger(false);setRdbValue(8);"><strong>SPL</strong> - Solo Parent Leave</div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='2' (click)="obtrigger(false);setRdbValue(2);"><strong>VL</strong> - Vacation Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='3' (click)="obtrigger(false);setRdbValue(3);"><strong>ML/PL</strong> - Maternity/Paternity Leave</div>
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='7' (click)="obtrigger(false);setRdbValue(7);"><strong>BerL</strong> - Bereavement Leave</div>
                                </div>
                                <div class="mat-row">
                                    <div class="mat-cell"><input type="radio" name="leave-type" [(ngModel)]="leave_type" value='1' (click)="obtrigger(false);setRdbValue(1);"><strong>SL</strong> - Sick Leave</div>
                                    <div class="mat-cell"></div>
                                    <div class="mat-cell"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>

                <br>

                <table width="100%">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Remarks" [(ngModel)]="remarks"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>


                <button mat-raised-button class="btnstyle" (click)="addEntry('date')">
				<i class="material-icons">note_add</i><span style="margin-top: 7px">Add date/time&nbsp;&nbsp;&nbsp;</span>
			</button>
                <br>
                <br>

                <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                    <button mat-menu-item class="btnAction" (click)="addEntry('update')">
	  				<i class="material-icons" >edit</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Edit Time&nbsp;</p>
	  			</button>
                    <button mat-menu-item class="btnAction" (click)="deleteEntry()">
	  				<i class="material-icons">delete</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Delete Entry&nbsp;</p>
	  			</button>
                    <!-- <hr>
	  			<button mat-menu-item class="btnAction" (click)="addEntry('time')">
	  				<i class="material-icons">add</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Add Time&nbsp;</p>
	  			</button> -->
                </mat-menu>

                <table class="apptable" width="100%">
                    <th style="text-align: center;">
                        DATE
                    </th>
                    <th style="text-align: center;">
                        TIME
                    </th>
                    <th style="text-align: center;width: 40px">
                        TOTAL MINUTES
                    </th>
                    <th style="text-align: center; width: 20px">
                        ACTION
                    </th>
                    <tr *ngFor="let x of LeavePushService.tempDatesArr">
                        <td *ngIf="compare(x.id,x.tdate)==false">{{x.tdate | date: 'MM-dd-yyyy' }}</td>
                        <td *ngIf="compare(x.id,x.tdate)==true"></td>
                        <td>{{LeaveValidationService.validateTimeAMPM(x.tin)}} - {{LeaveValidationService.validateTimeAMPM(x.tout)}}</td>
                        <!-- <td>
						<button mat-raised-button class="btnstyle" (click)="addEntry('time')">
							<i class="material-icons">note_add</i><span style="margin-top: 7px">Add Time&nbsp;&nbsp;&nbsp;</span>
						</button>
					</td> -->
                        <td>
                            {{x.totMins}} Mins.
                        </td>
                        <td width="20px">
                            <button mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" (click)="setdata(x)">
			    			<i class="material-icons">arrow_drop_down</i><span style="margin-top: 7px"></span>
			    		</button>
                        </td>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <table width="100%">
        <tr>
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
                <button *ngIf="this.type == 'Add'" mat-raised-button color="primary" (click)="save()">Submit</button>
                <button *ngIf="this.type != 'Add'" mat-raised-button color="primary" (click)="save()">Save</button>
            </td>
        </tr>
    </table>
</div>