mat-form-field {
    width: 100%
}

.mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

#aWE {
    overflow-y: scroll;
    max-height: 90vh
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

.btnstyle {
    font-size: 11px;
    width: 100px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px;
    background-color: #294a70;
    color: white
}

.btnstyle1 {
    font-size: 11px;
    width: 40px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
}

.btnAction {
    font-size: 13px;
    width: 120px;
    min-width: 18px;
    line-height: 10px;
    height: 38px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.btnAction:hover {
    background-color: #ddd;
}

.mat-table {
    display: block;
    font-family: Tahoma, Verdana;
}

.mat-row,
.mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dedede;
    align-items: center;
    min-height: 35px;
    padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}