
<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>Enrollment form for <span *ngIf="(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">{{syear}}</span>
    <span *ngIf="!(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">{{syear}}</span></mat-card-title>
    <span class="example-spacer"></span>
  <button mat-raised-button (click)="close()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
  </mat-card-header>
  <mat-card-content class='colo' *ngIf="data.x=='col'">
    <!-- <h3>Click <a href="https://drive.google.com/file/d/1AlOIYn8QCeNk_1WjGie48GxoJHm1q4CR/view?fbclid=IwAR3rZnDmYkR962ej2iabp3NGqLoUnkjMDsl16N_GJCLu4IFveWHXD1Nt0ko" target="_blank">here</a> for the bills payment instructions.</h3> -->
    <h3>Click <a href="https://bit.ly/USLBillsPayment" target="_blank">here</a> for the bills payment instructions.</h3>

    <iframe [src]="url" style="height: calc(100vh - 300px);width: calc(100% - 5px)" *ngIf="url!=undefined"></iframe>
		<!-- <p>Note: This form is only available during the Enrollment Schedule.</p> -->
  </mat-card-content>
  <mat-card-content class='colo' *ngIf="data.x=='hs'">
    <!-- <h3>Click <a href="https://drive.google.com/file/d/1AlOIYn8QCeNk_1WjGie48GxoJHm1q4CR/view?fbclid=IwAR3rZnDmYkR962ej2iabp3NGqLoUnkjMDsl16N_GJCLu4IFveWHXD1Nt0ko" target="_blank">here</a> for the bills payment instructions.</h3> -->
    <h3>Click <a href="https://bit.ly/USLBillsPayment" target="_blank">here</a> for the bills payment instructions.</h3>
    <iframe [src]="url" style="height: calc(100vh - 300px);width: calc(100% - 5px)" *ngIf="url!=undefined"></iframe>
  </mat-card-content>
</mat-card>
