.mat-row,
.mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dedede;
    align-items: center;
    min-height: 35px;
    padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    /* overflow: hidden; */
    word-wrap: break-word;
}

.text-color {
    /* background-color: #ffab40 !important; */
    color: darkgrey;
    /* Optionally, you can change the text color to white for better visibility */
}


/* .btnstyle {
    font-size: 11px;
    width: 80px;
    min-width: 18px;
    line-height: 15px;
    height: 24px;
    padding: 0;
    margin-left: 5px;
    background-color: #294a70;
    color: white
} */


/* 
.addDateTimebtnstyle {
    font-size: 11px;
    width: 80px;
    min-width: 18px;
    line-height: 15px;
    height: 24px;
    padding: 0;
    margin-left: 5px;
    background-color: #294a70;
    color: white
} */

.custom-header-color .mat-expansion-panel-header {
    background-color: #294a70;
}

.checkbox-cell {
    text-align: center;
    /* Center align the content horizontally */
    vertical-align: middle;
    /* Center align the content vertically */
    padding: 10px;
    /* Add padding for spacing */
}

.checkbox-label {
    vertical-align: middle;
    /* Vertically center the label text */
    display: inline-block;
    /* Display the label inline */
    margin-left: 10px;
    /* Adjust the margin for spacing between checkbox and label */
}

.mat-checkbox-inner-container {
    vertical-align: middle;
    /* Vertically center the checkbox within the label */
}

.btnstyle1 {
    font-size: 11px;
    width: 40px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
}

.btnAction {
    font-size: 13px;
    width: 120px;
    min-width: 18px;
    line-height: 10px;
    height: 38px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.btnAction:hover {
    background-color: #ddd;
}

.hidden-input {
    display: none;
}