<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>

            <b *ngIf="lType == 0">
                LEAVE FORM
            </b>

            <b *ngIf="lType == 1">
               FOR NON-TEACHING PERSONNEL
            </b>

            <b *ngIf="lType == 2 || lType == 3">
                FOR FACULTY
            </b>

            <b *ngIf="lType == 4">
               FOR EAB
            </b>

        </mat-card-title>
    </mat-card-header>

    <!-- <div style="height: 10px" ></div> -->

    <mat-card-content class='colo'>

        <table width="70%">
            <tbody>
                <tr>
                    <td width="30%" *ngIf="ctr == 'addLeave' || ctr == 'updateLeave'">
                        <div>
                            <mat-form-field style="width: 100%;">
                                <mat-label>Select Leave Category</mat-label>
                                <mat-select [(ngModel)]="lType" (ngModelChange)="employeeLeaveType()" [disabled]="ctr == 'updateLeave' || facultyDateTimeDisplayArr.length != 0 ||  dateTimeDisplayArr.length !=0">
                                    <mat-option *ngFor="let form of leaveCategory" [value]="form.id">
                                        {{form.category}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>

                    <td width="20%">
                        <div style="margin-left: 10px;" *ngIf="lType == 2 && ctr == 'addLeave' || ctr == 'updateLeave' && lType == 2">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Faculty Type</mat-label>
                                <mat-select [(ngModel)]="fType" (ngModelChange)="clearDislay()" [disabled]="ctr == 'updateLeave' || facultyType.length == 0|| facultyDateTimeDisplayArr.length != 0 ||  dateTimeDisplayArr.length !=0">
                                    <mat-option *ngFor="let type of facultyType" [value]="type.id">
                                        {{type.category}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>

                    <td width="30%" *ngIf="ctr == 'addLeave' && lType !== 0">
                        <div>
                            <mat-form-field style="width: 100%;">
                                <mat-label>Select Type Of Leave</mat-label>
                                <mat-select [(ngModel)]="typeOfLeave" (ngModelChange)="fucnTypeOfLeave()" [disabled]="facultyDateTimeDisplayArr.length != 0 ||  dateTimeDisplayArr.length !=0" required>
                                    <mat-option *ngFor="let type of additionalLeaveType" [value]="type.leaveTypeID" [disabled]="(type.leaveTypeInitials === 'BL' && type.status == true) || (type.leaveTypeInitials === 'SPL' && type.status ==  true) ">
                                        {{type.leaveTypeInitials}} - {{type.leaveTypeDescription}}
                                    </mat-option>
                                </mat-select>
                                <button mat-icon-button matSuffix *ngIf="typeOfLeave" (click)="clearSelection()" [disabled]="facultyDateTimeDisplayArr.length != 0 ||  dateTimeDisplayArr.length !=0">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </mat-form-field>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <mat-divider></mat-divider>

        <div *ngIf="lType == 1 || lType == 4">
            <div *ngIf="typeChecker.length != 0">
                <div>
                    <div *ngIf="ctr == 'addLeave' || ctr == 'updateLeave'">
                        <table width="100%">
                            <br>
                            <div style="height: 5px;"></div>
                            <tbody>
                                <!-- <tr>
                            <td width="100px">
                                <strong>Office/Dept:</strong>
                            </td>
                            <td>{{department}}</td>
                        </tr> -->

                                <tr>
                                    <td width="80px">
                                        <strong>Date Filed:</strong>
                                    </td>
                                    <td>
                                        <!-- <mat-form-field style="margin-top: -10px; margin-bottom: -10px;">
                                    <input readonly matInput [matDatepicker]="picker" (click)="picker.open()" (dateChange)="date()" name="date" [(ngModel)]="currentDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field> -->
                                        {{currentDate | date: 'MM-dd-yyyy'}} ( {{ getDayOfWeek(currentDate) }} )
                                    </td>

                                </tr>

                                <!-- <tr>
                    <mat-form-field style="width: 100%;">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div style="margin-bottom: -15px;"></div>
                </tr> -->

                                <tr>
                                    <td colspan="2">
                                        <mat-form-field [formGroup]="form" style="width: 100%;">
                                            <input matInput placeholder="Reason" formControlName="reason" required>
                                            <mat-error *ngIf="form.get('reason').invalid && (form.get('reason').touched)">Reason is required
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <mat-form-field style="width: 100%; margin-bottom: -5px;">
                                            <input [(ngModel)]="venue" matInput placeholder="Venue">
                                            <!-- <mat-error *ngIf="form.get('reason').invalid && (form.get('reason').touched)">Reason is required</mat-error> -->
                                        </mat-form-field>
                                        <div style="margin-top: -10px; font-size: 12px">
                                            <strong>
                                                <i>
                                                    For Official Business Leave, kindly present a photocopy of appproved
                                                    communication letter to your head of office.
                                                </i>
                                            </strong>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="overflow: auto; max-height: 500px;" *ngIf="ctr == 'addLeave' || ctr == 'addLeaveTimeDuration'">
                        <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                            <button (click)="editTime('editTime','NTP')" mat-menu-item class="btnAction" [disabled]="typeOfLeave === 7 || typeOfLeave === 3 || typeOfLeave === 6 ">
                                <i class="material-icons">edit</i>
                                <p style="margin: -15px 0 0 25px!important ">
                                    &nbsp;Edit Time&nbsp;
                                </p>
                            </button>
                            <button (click)="delete('NTP')" mat-menu-item class="btnAction" [disabled]=" typeOfLeave === 3">
                                <i class="material-icons">delete</i>
                                <p style="margin: -15px 0 0 25px!important ">
                                    &nbsp;Delete Entry&nbsp;
                                </p>
                            </button>

                        </mat-menu>

                        <br>
                        <div style="overflow: auto; max-height: 500px;">
                            <table class="apptable" width="100%">
                                <tbody>
                                    <tr>
                                        <th style="text-align: center; width:15%">DATE</th>
                                        <th style="text-align: center; width: 55%">TIME</th>
                                        <th style="text-align: center; width: 20%">TOTAL HRS & MINS</th>
                                        <th style="text-align: center; width: 10%;">ACTION</th>
                                    </tr>


                                    <tr *ngFor="let c of dateTimeDisplayArr">
                                        <td align="center">
                                            {{c.displayDate}} ( {{ getDayOfWeek(c.displayDate) }} )
                                        </td>
                                        <td *ngIf="c.amTime !== 'null - null' && c.pmTime !== 'null - null'">
                                            {{ c.amTime }} & {{ c.pmTime }}
                                        </td>
                                        <td *ngIf="c.amTime && c.pmTime === 'null - null'">{{ c.amTime }}</td>
                                        <td *ngIf="c.amTime === 'null - null' && c.pmTime">{{ c.pmTime }}</td>

                                        <td style="text-align: center;">{{c.hrs}}</td>
                                        <td align="center">
                                            <button [matMenuTriggerFor]="appMenu" (click)="setData(c)" mat-raised-button color class="btnstyle1">
                                                <i class="material-icons">arrow_drop_down</i>
                                                <span style="margin-top: 7px"></span>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr *ngIf="dateTimeDisplayArr.length == 0 || this.dateTimeDisplayArr.length == undefined">
                                        <td colspan="4">
                                            <p style="text-align: center; width: 100%;">
                                                <i>- No Data -</i>
                                            </p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="margin-top: 5px;">
                                            <!-- <button mat-raised-button (click)="addTime()" color="primary"><i class="material-icons" style="margin-right: 5px; margin-top: -5px; width: 50px;"></i>Add Date & Time</button> -->
                                            <button (click)="addDateAndTime()" mat-raised-button style="width: 150px; height: 30px; background-color: #294a70; color: white; margin-right: 50px; display: flex; align-items: center; justify-content: center;">
                                                <i class="material-icons" style="margin-bottom: 2px;">
                                                    note_add
                                                </i>
                                                Add Date & Time
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="typeChecker.length == 0">
                <p style="text-align: center;">
                    <b>
                        <h3>- NO AVAILABLE SCHEDULE -</h3>
                    </b>
                </p>
            </div>
        </div>

        <div *ngIf="lType == 2 || lType == 3">
            <div *ngIf="facultyType.length != 0">

                <br>
                <div *ngIf="ctr == 'addLeave' || ctr == 'updateLeave'">
                    <table width="100%">
                        <div style="height: 5px;"></div>
                        <tbody>
                            <tr>
                                <td width="80px">
                                    <strong>Date Filed:</strong>
                                </td>
                                <td>
                                    {{currentDate | date: 'MM-dd-yyyy'}} ( {{ getDayOfWeek(currentDate) }} )
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <mat-form-field [formGroup]="form" style="width: 100%;">
                                        <input matInput placeholder="Reason" formControlName="reason" required>
                                        <mat-error *ngIf="form.get('reason').invalid && (form.get('reason').touched)">Reason is required
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <mat-form-field style="width: 100%; margin-bottom: -5px;">
                                        <input [(ngModel)]="venue" matInput placeholder="Venue">
                                        <!-- <mat-error *ngIf="form.get('reason').invalid && (form.get('reason').touched)">Reason is required</mat-error> -->
                                    </mat-form-field>
                                    <div style="margin-top: -10px; font-size: 12px">
                                        <strong>
                                            <i>
                                                For Official Business Leave, kindly present a photocopy of appproved
                                                communication letter to your head of office.
                                            </i>
                                        </strong>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div style="overflow: auto; max-height: 500px;" *ngIf="ctr == 'addLeave' || ctr == 'addLeaveTimeDuration'">
                    <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                        <button (click)="editTime('editTime','FACULTY')" mat-menu-item class="btnAction" [disabled]="typeOfLeave === 7 || typeOfLeave === 3 || typeOfLeave === 6 ">
                            <i class="material-icons">edit</i>
                            <p style="margin: -15px 0 0 25px!important ">
                                &nbsp;Edit Time&nbsp;
                            </p>
                        </button>
                        <button (click)="delete('FACULTY')" mat-menu-item class="btnAction" [disabled]=" typeOfLeave === 3  || typeOfLeave === 6">
                            <i class="material-icons">delete</i>
                            <p style="margin: -15px 0 0 25px!important ">
                                &nbsp;Delete Entry&nbsp;
                            </p>
                        </button>
                    </mat-menu>

                    <br>
                    <table class="apptable" width="100%">


                        <tbody *ngIf="fType == 2">

                            <tr>
                                <th style="text-align: center; width: 15%">DATE</th>
                                <th style="text-align: center; width: 45%">TIME</th>
                                <th style="text-align: center; width: 15%;">CODE NO</th>
                                <!-- <th style="text-align: center; width: 13%;">SCHOOL YEAR</th> -->
                                <th style="text-align: center; width: 18%">TOTAL HRS & MINS</th>
                                <th style="text-align: center; width: 10%;">ACTION</th>
                            </tr>

                            <tr *ngFor="let c of facultyDateTimeDisplayArr">
                                <td align="center">
                                    {{c.displayDate}} ( {{ getDayOfWeek(c.displayDate) }} )
                                </td>
                                <td>{{ c.time.join(' & ') }}</td>
                                <td>{{ c.codeNo.join(' , ')}}</td>
                                <!-- <td style="text-align: center;">{{ c.schoolYear}}</td> -->
                                <td style="text-align: center;">{{c.hrs}}</td>
                                <td align="center">
                                    <button [matMenuTriggerFor]="appMenu" (click)="setFacultyData(c)" mat-raised-button color class="btnstyle1">
                                        <i class="material-icons">arrow_drop_down</i>
                                        <span style="margin-top: 7px"></span>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="facultyDateTimeDisplayArr.length == 0 || this.facultyDateTimeDisplayArr.length == undefined">
                                <td colspan="7">
                                    <p style="text-align: center; width: 100%;">
                                        <i>- No Data -</i>
                                    </p>
                                </td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="fType == 3">

                            <tr>
                                <th style="text-align: center; width: 15%">DATE</th>
                                <th style="text-align: center; width: 30%">TIME</th>
                                <th style="text-align: center; width: 25%;">SUBJECT</th>
                                <th style="text-align: center; width: 20%;">SECTION</th>
                                <th style="text-align: center; width: 10%">HRS</th>
                                <th style="text-align: center; width: 10%;">ACTION</th>
                            </tr>

                            <tr *ngFor="let c of facultyDateTimeDisplayArr">
                                <td align="center">
                                    {{c.displayDate}} ( {{ getDayOfWeek(c.displayDate) }} )
                                </td>
                                <td>{{ c.time.join(' & ') }}</td>
                                <td>{{ c.subject.join(' , ')}}</td>
                                <td>{{ c.section.join(' , ')}}</td>
                                <td style="text-align: center;">{{c.hrs}}</td>
                                <td align="center">
                                    <button [matMenuTriggerFor]="appMenu" (click)="setFacultyData(c)" mat-raised-button color class="btnstyle1">
                                        <i class="material-icons">arrow_drop_down</i>
                                        <span style="margin-top: 7px"></span>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="facultyDateTimeDisplayArr.length == 0 || this.facultyDateTimeDisplayArr.length == undefined">
                                <td colspan="7">
                                    <p style="text-align: center; width: 100%;">
                                        <i>- No Data -</i>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="margin-top: 5px;">
                                    <!-- <button mat-raised-button (click)="addTime()" color="primary"><i class="material-icons" style="margin-right: 5px; margin-top: -5px; width: 50px;"></i>Add Date & Time</button> -->
                                    <button (click)="addDateAndTime()" mat-raised-button style="width: 150px; height: 30px; background-color: #294a70; color: white; margin-right: 50px; display: flex; align-items: center; justify-content: center;">
                                        <i class="material-icons" style="margin-bottom: 2px;">
                                            note_add
                                        </i>
                                        Add Date & Time
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <table style="width: 100%;">

            </table>
            <br>
            <div *ngIf="facultyType.length == 0">
                <p style="text-align: center;">
                    <b>
                        <h3>- NO AVAILABLE SCHEDULE -</h3>
                    </b>
                </p>
            </div>
        </div>

        <!-- <div *ngIf="lType == '4'">
            <br>
            <table width="100%">
                <td align="center">
                    <strong>
                        Online leave filing for EAB is currently under development.
                    </strong>
                </td>
            </table>
        </div> -->

    </mat-card-content>
</mat-card>

<div>
    <table width="100%">
        <tbody>
            <tr>
                <td align="right">
                    <button (click)="onNoClickclose()" mat-raised-button color="warning" style="margin-right: 10px;">
                        Close
                    </button>
                    <!-- <button *ngIf="this.type == 'Add'" mat-raised-button color="primary" (click)="save()">Submit</button> -->
                    <!-- <button *ngIf="this.type != 'Add'" mat-raised-button color="primary" (click)="save()">Save</button> -->
                    <button (click)="save()" mat-raised-button color="primary" style="margin-right: 10px;" *ngIf="this.ctr == 'updateLeave' || this.ctr == 'addLeaveTimeDuration'">
                    Save
                    </button>
                    <button (click)="save()" mat-raised-button color="primary" style="margin-right: 10px;" *ngIf="lType != 0 && this.ctr == 'addLeave'">
                        File
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
