<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>Class Schedule - {{global.syDisplay(sy)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>

<style type="text/css">
	.mat-form-field-infix {
		width: auto !important;
	}
  .mat-form-field{
    margin-bottom: -10px;
  }
  th{
  	text-align: center;
  }
</style>
<div style="height: 5px"></div>
<style type="text/css">
  tr:nth-child(even) {background: #dcdcdc}
  tr:nth-child(odd) {background: #FFF}
  tr:hover{background: #c0c2c4;}


</style>
<div style="width: 100%;max-height: calc(100vh - 270px); overflow-y: scroll;">
  <h3 style="margin: 0">Year and Section: <b>Grade <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==1">7</span>
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==2">8</span>
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==3">9</span>
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==4">10</span>
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==5">11</span>
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==6">12</span> - {{global.enrollmenthist[this.global.enrollmenthist.length-1].section}}</b></h3>
        <div style="height: 10px"></div>
                  <table class="apptable" style="text-align: center;">
                    <tr>
                       <th style="width:50px">TIME</th>
                      <th style="width:90px">MONDAY</th>
                      <th style="width:90px">TUESDAY</th>
                      <th style="width:90px">WEDNESDAY</th>
                      <th style="width:90px">THURSDAY</th>
                      <th style="width:90px">FRIDAY</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let a of tableArr">
                      <td><b>{{a.time}}</b></td>
                      <td style="text-align: center;" [innerHTML]="a.m"></td>
                      <td style="text-align: center;" [innerHTML]="a.t"></td>
                      <td style="text-align: center;" [innerHTML]="a.w"></td>
                      <td style="text-align: center;" [innerHTML]="a.th"></td>
                      <td style="text-align: center;" [innerHTML]="a.f"></td>
                    </tr>
                    </tbody>
                  </table>
                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
			         <div *ngIf="tableArr!=undefined">
			          <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
			        </div>
        <div style="height: 20px"></div>
              <div *ngIf="tableArr2.length!=0">
  		  		  <h3 style="margin: 0">
                No Schedule
              </h3>
        <div style="height: 10px"></div>
                  <table class="apptable" style="text-align: center;">
                    <tr>
                       <th style="width:50px">SUBJECT</th>
                      <th style="width:90px">TEACHER</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let a of tableArr2">
                      <td style="border-bottom-width: medium"><b>{{a.subject}}</b></td>
                      <td style="border-bottom-width: medium"><b>{{a.teacher}}</b></td>
                    </tr>
                    </tbody>
                  </table>
              </div>

</div>
  </mat-card-content>
</mat-card>
