.dropdown-menu.ngx-timepicker-am-pm {
    width: 15 px;
    /* Adjust the width as needed */
}


/* Adjust the size of the options within the AM/PM dropdown */

.dropdown-menu.ngx-timepicker-am-pm li {
    font-size: 12px;
    /* Adjust the font size as needed */
}