<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <b>LEAVE DURATIONS</b>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class='colo'>
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <strong>Date: </strong>
                        <mat-form-field style="width: 49%;">
                            <input [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="selectedDate()" (click)="picker.open()" readonly matInput name="date" [disabled]="true">
                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <mat-form-field style="width: 49%; margin-bottom: -10px;">
                            <mat-label>Start Time</mat-label>
                            <button *ngIf="fromValue" (click)="fromValue = null" matSuffix mat-icon-button aria-label="Clear">
								<mat-icon>close</mat-icon>
							</button>
                            <input [(ngModel)]="fromValue" (ngModelChange)="timeChecker('from')" matInput type="time" value="null">
                        </mat-form-field>

                        <mat-form-field style="width: 49%; margin-left: 5px; margin-bottom: -10px;">
                            <mat-label>End Time</mat-label>
                            <button *ngIf="toValue" (click)="toValue = null" matSuffix mat-icon-button aria-label="Clear">
								<mat-icon>close</mat-icon>
							</button>
                            <input [(ngModel)]="toValue" (ngModelChange)="timeChecker('to')" matInput type="time">
                        </mat-form-field>
                    </td>
                </tr> -->

                <tr>
                    <td>
                        <div style="width: 90%; display: flex; align-items: center;">
                            <strong>From: </strong>
                            <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="fromValue" (ngModelChange)="timeChecker('from')">
                            </ngx-timepicker-field>
                        </div>
                    </td>

                    <td>
                        <div style="width: 90%; display: flex; align-items: center;">
                            <strong>To: </strong>
                            <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="toValue" (ngModelChange)="timeChecker('to')">
                            </ngx-timepicker-field>
                        </div>
                    </td>

                </tr>
                <tr></tr>
            </tbody>
        </table>

    </mat-card-content>

</mat-card>

<div>
    <table width="100%">
        <tbody>
            <tr>
                <td align="right">
                    <button (click)="onNoClickclose()" mat-raised-button color="warning" style="margin-right: 10px;">
						Close
					</button>
                    <!-- <button *ngIf="this.type == 'Add'" mat-raised-button color="primary" (click)="save()">Submit</button> -->
                    <!-- <button *ngIf="this.type != 'Add'" mat-raised-button color="primary" (click)="save()">Save</button> -->
                    <button (click)="save()" mat-raised-button color="primary" style="margin-right: 10px;">
						Save
					</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>