<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>DISCLAIMER</mat-card-title>
    <span class="example-spacer"></span>
  <button mat-raised-button (click)="noclick()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>
    <div class="module_3" style="max-height: calc(100vh - 200px);overflow-y: scroll;">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The information provided in this portal may contain data in different stages of processing or calculations in the university. The contents of this portal are made available on a <span style="color: #ff0000;"> VIEW ONLY</span> basis for the convenience and information of students, parents and other authorized users. These Pages are not official documents and may not be printed out and otherwise used or passed around as official documents. Official documents are those issued by and obtained at the Registrar's Office or at the Accounting office of the university.</p>
		<p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any questions and concerns on the information posted in these pages must be made known at the Registrar's Office for academic related concerns who may direct the students to the proper Faculty Member or Office of the University; or the Accounting Office for financial concerns. Only inquiries from students concerned, their parents or other parties authorized by students shall be entertained officially.</p>
	</div>
  </mat-card-content>
</mat-card>
