
<mat-card class="example-card" id="es"  style="padding: 0;overflow-y: auto;height: calc(100vh - 175px)">
   <mat-card-header >
    <mat-card-title>Elective for {{global.syDisplay(displaySY.slice(0, -1))}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style='height: calc(100vh - 270px);padding: 0;'>
    <mat-divider></mat-divider>

<table *ngIf="!exist">
	<tr>
		<td style="width: 280px" valign="top" >
			<mat-radio-group aria-label="Select an option"  [(ngModel)]="selected">
				<mat-card  *ngFor="let a of array;">
				<div style="height: 10px"></div>
					<mat-radio-button value="{{a.id}}"  [disabled]="checkdis(a.id)">{{a.name}}</mat-radio-button>
				<div style="height: 10px"></div>
				</mat-card>
			</mat-radio-group>
		</td>
		<td valign="center"  style="width:300px">
			<table style="width: 100%">
				<tr>
					<td style="text-align: center;">
						<div  *ngIf="selected==undefined">

						</div>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<div  *ngFor="let a of array;">
							<h3 *ngIf="selected==a.id">{{a.name}}</h3>
						</div>
						<div  *ngIf="selected==undefined">
							Please Select your<br>
							preffered Elective.
						</div>
						 <h3 *ngIf="selected==undefined">&nbsp;</h3>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
				         <button mat-raised-button color="primary" form="ngForm" [disabled]="selected===undefined||checktemp" (click)="check()">
				          <i class="material-icons">done_outline</i> Select Elective
				         </button>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table *ngIf="exist">
	<tr>
		<td>
			<h2 style="margin: 0;background-color: #006600;color: white;padding: 10px;border-radius: 10px">Currently Selected Elective: <b>{{arrayexist[0].name}}</b></h2>
		</td>

	</tr>
</table>
<div style="height: 10px"></div>
		<table  class="apptable"  *ngIf="array!=undefined" style="max-width: 600px;min-width: 500px">
			    <tr>
			    	<th>Elective</th>
			    	<th>Reserved</th>
			    	<th>Available</th>
			    </tr>
				<tr *ngFor="let a of array; let i = index" >
					<td >
						<b>{{  a.name }}</b>
					</td>
					<td >
						{{  a.reserved }}
					</td>
					<td >
						{{  a.available }}
					</td>
				</tr>

		</table>
	     <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner>
	     <div *ngIf="array!=undefined" style="max-width: 600px;">
	      <p *ngIf="array.length===0" style="text-align: center;"><i>- No elective found for this school year. -</i></p>
	    </div>
  </mat-card-content>
</mat-card>
