
<mat-card class="example-card" id="es"  style="padding: 0;overflow-y: auto;height: calc(100vh - 175px)">
   <mat-card-header >
    <mat-card-title>Modality for {{global.syDisplay(global.sy)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style='height: calc(100vh - 270px);padding: 0;overflow-y: auto;'>
    <mat-divider></mat-divider>
<!-- <div *ngIf="!exist&&
     !((global.sy=='2020212')&&global.serverdate<'02/04/2021')">
	<p>
		Modality Selection has been Closed. You will be included in the blended learning modality.<br>
		Please contact your respective program chair for any queries.
	</p>
</div> -->
<div *ngIf="!modalityTrigger">
	<p style="text-align: center;">
		Modality Selection has been Closed for the school year {{global.syDisplay(global.sy)}}.<br>
		Please contact your respective program chair / coordinator for any queries.
	</p>
</div>
<table style="margin-bottom: 20px" *ngIf="!exist && modalityTrigger">
	<tr>
		<td>
			<mat-radio-group aria-label="Select an option"  [(ngModel)]="selected">
				<mat-card  *ngFor="let a of array;">
				<div style="height: 10px"></div>
					<mat-radio-button style="margin-left: 10px;" value="{{a.id}}">{{a.name}}</mat-radio-button>
				<div style="height: 10px"></div>
				</mat-card>
			</mat-radio-group>
		</td>
	</tr>
	<tr>
		<td style="width:600px">
			<table style="width: 100%">
				<tr>
					<td style="text-align: center;">
						<div *ngFor="let a of array;">
						<h3 *ngIf="selected==a.id.toString()" style="margin: 0">{{a.name}}</h3>
						<p style="white-space: pre-line" *ngIf="selected==a.id.toString()">
							{{stringer(a.description)}}
						<p>
						</div>
						<div  *ngIf="selected==undefined">

							<div style="height:30px"></div>
							Please Select your<br>
							preferred Learning Modality.
							<div style="height:40px"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
				         <button mat-raised-button color="primary" form="ngForm" [disabled]="selected===undefined||checktemp" (click)="check()">
				          <i class="material-icons">done_outline</i> Select Learning Modality
				         </button>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table *ngIf="exist">
	<tr>
		<td>
			<h2 style="margin: 0;background-color: #006600;color: white;padding: 10px;border-radius: 10px">Currently Selected Modality: <b>{{arrayexist[0].name}}</b></h2>
		</td>

	</tr>
</table>
<table style="width: 100%">
  <tr>
    <td style="text-align: center;">
      <p *ngIf="exist" style="max-width: 500px;white-space: pre-line">{{stringer(arrayexist[0].description)}}</p>
    </td>
  </tr>
</table>
<div style="height: 10px"></div>
	     <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner>
	     <div *ngIf="array!=undefined">

              <!-- <p *ngIf="array.length===0" style="text-align: center;"><i>- No result found! -</i></p> -->

	    </div>
  </mat-card-content>
</mat-card>
