
<mat-card class="example-card" id="ebcg"  style="padding: 0 ">
	<mat-card-header >
    <mat-card-title>Basic Education Class List</mat-card-title>
    <mat-card-subtitle><i>NOTE: This page displays the list of officially enrolled students for a specific class. <br>
			                  <!--  The <font color="red">ORDER OF ENCODING</font> is displayed right before the student's name with the <font color="red">LAST 10</font> highlighted.<br> -->
			                   Please select a <strong>SECTION</strong><!--  and then click the <strong>SUBMIT</strong> --> to view the list.</i></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px">
	  	<mat-accordion>
			<table width="85%" style="max-width: 700px">
		  		<tr>
		  			<td width="65%">

			            <mat-form-field style="width: 100%">
			              <mat-label>Grade Level - Section</mat-label>
			              <mat-select  [(ngModel)]="selectedGradeLevel">
			                <mat-option value="{{e.gradeLevel}}" *ngFor="let e of global.sectionListArr" (click)="submit(e.section)">
			                  <strong>Grade {{e.gradeLevel}}</strong> - {{e.section}}
			                </mat-option>
			              </mat-select>
			            </mat-form-field>
		  			</td>
		  		</tr>
		  	</table>

		  	<div *ngIf="noclasslist">
		  		<table width="100%">
		  			<th>
		  				<h1>No class list available</h1>
		  			</th>
		  		</table>
		  	</div>

		  	<div *ngIf="showContentHS===true">
		  		<style type="text/css">
			  		#users td{
			  			border: 0px solid #ddd;
			  			font-size: 12px
			  		}
			  		.schedule td{
			  			font-size: 12px
			  		}
			  	</style>
			  	<strong style="font-size: 14px">SECTION DETAILS:</strong>
			  	<table class="" id="users" border="0" style="max-width: 700px !important">
	              <tr>
	              </tr>
	              <tr>
	                <td width="150px"><b>Grade Level</b></td>
	                <td>{{selectedGradeLevel}}</td>
	              </tr>
	              <tr>
	                <td width="150px"><b>Section</b></td>
	                <td>{{selectedSection}}</td>
	              </tr>
	            </table>
	             <table style="width: 700px !important" border="0" id="classtable">
	            	<tr>
	            		<td align="right" *ngIf="showContentHS">
							<button  mat-button color="primary" class="btnstyle" style="min-width: 10px;width: 150px!important;" (click)="exportAsXLSXHS()">
								<mat-icon>save_alt</mat-icon> Download Class List &nbsp;
							</button>
						</td>
	            	</tr>
	            </table>
	            <table style="width: 700px !important" border="0" id="classtable">
	            	<tr>
	            		<th width="50%">FEMALE</th>
	            		<th width="50%">MALE</th>
	            	</tr>
	            	<tr>
	            		<td align="center" style="vertical-align: top!important;">
	            			<table width="100%" class="apptable">
	            				<tr>
	            					<th style="display: none!important">
	            						asdasd
	            					</th>
	            					<th style="display: none!important">
	            						asdasd
	            					</th>
	            				</tr>
	            				<tr *ngFor="let e of classlistArr">
	            					<td align="left" *ngIf="e.gender === 'F'">
	            						<img width="70" height="70" [src]="getimage(e.idNumber)">
	            					</td>
	            					<td *ngIf="e.gender === 'F'">
	            						<strong>{{e.fullName}}</strong><br>
	            						ID Number: {{e.idNumber}}<br>
	            						Learning Modality:<br>
	            						{{e.name}}
	            					</td>
	            				</tr>
	            				
	            			</table>
	            		</td>
	            		<td  align="center"  style="vertical-align: top!important;">
	            			<table width="100%" class="apptable">
	            				<tr>
	            					<th style="display: none!important">
	            						asdasd
	            					</th>
	            					<th style="display: none!important">
	            						asdasd
	            					</th>
	            				</tr>
	            				<tr *ngFor="let e of classlistArr;let x = index">
	            					<td align="left" *ngIf="e.gender === 'M'">
	            						<img width="70" height="70" [src]="getimage(e.idNumber)">
	            					</td>
	            					<td *ngIf="e.gender === 'M'">
	            						<strong>{{e.fullName}}</strong><br>
	            						ID Number: {{e.idNumber}}<br>
	            						Learning Modality:<br>
	            						{{e.name}}
	            					</td>
	            				</tr>
	            			</table>
	            		</td>
	            	</tr>
	            </table>
		  	</div>
		  	
		</mat-accordion>
    	
    </div>
  </mat-card-content>
</mat-card>
 