	.example-spacer {
	    flex: 1 1 auto;
	}
	
	span {
	    font-size: 14px
	}
	
	::ng-deep .mat-card-header {
	    background-color: #294a70 !important;
	    padding: 15px 5px 5px 5px !important;
	    color: white;
	}
	
	::ng-deep .mat-card-header * {
	    color: white;
	}
	
	::ng-deep .mat-card {
	    padding: 0 !important;
	}
	
	::ng-deep .mat-card-content {
	    padding: 15px !important;
	}
	
	.mat-form-field-infix {
	    width: auto !important;
	}
	
	.example-full-width {
	    width: 100%;
	}
	
	.example-full-width2 {
	    width: 800px;
	}
	
	.example-full-width3 {
	    width: 60px;
	}
	
	#childrenCSS {
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	
	#rowHeaderCss {
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    border-collapse: collapse;
	    padding-top: 8px;
	    padding-bottom: 8;
	    text-align: center;
	    background-color: #294a70;
	    color: white;
	}
	
	#childrenCSS td,
	#childrenCSS th {
	    border: 1px solid #ddd;
	    padding: 8px;
	}
	/* #childrenCSS tr:nth-child(even){background-color: #f2f2f2;} */
	
	#childrenCSS th {
	    padding-top: 8px;
	    padding-bottom: 8;
	    text-align: center;
	    background-color: #294a70;
	    color: white;
	    font-weight: bold;
	}
	
	#tableHeaderCss {
	    width: 100px;
	}
	
	.leaveCredits {
	    margin-top: -12px
	}
	
	.btnstyle {
	    font-size: 11px;
	    width: 100px;
	    min-width: 18px;
	    line-height: 15px;
	    height: 28px;
	    padding: 0;
	    margin-left: 5px;
	    background-color: #294a70;
	    color: white
	}
	
	.btnstyle1 {
	    font-size: 11px;
	    width: 40px;
	    min-width: 18px;
	    line-height: 15px;
	    height: 28px;
	    padding: 0;
	}
	
	.btnAction {
	    font-size: 13px;
	    width: 120px;
	    min-width: 18px;
	    line-height: 10px;
	    height: 38px;
	    padding: 0;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	
	.btnAction:hover {
	    background-color: #ddd;
	}
	
	.apptable1 {
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	    /* table-layout: fixed; */
	}
	
	.apptable1 td,
	.apptable1 th {
	    border: 1px solid #ddd;
	    padding: 8px;
	}
	/* .apptable1 tr:nth-child(even){background-color: #f2f2f2;} */
	/* .apptable1 tr:hover {background-color: #ddd;} */
	
	.apptable1 th {
	    padding-top: 12px;
	    padding-bottom: 12px;
	    text-align: left;
	    background-color: #294a70;
	    color: white;
	}
	
	.table-body {
	    max-height: 300px;
	    /* Set a maximum height for the container */
	    overflow-y: auto;
	    /* Enable vertical scrollbar when content exceeds the maximum height */
	}
	
	.file-button {
	    /* margin: 0; */
	    padding-left: 0.2rem;
	    padding-right: 0.5rem;
	    /* Optional: To remove any padding inside the button */
	}
	
	.btnstyle {
	    font-size: 11px;
	    width: 70px;
	    min-width: 18px;
	    line-height: 15px;
	    height: 28px;
	    padding: 0;
	    margin-left: 5px
	}