<mat-card class="example-card" id="ebcg" style="padding: 0 " *ngIf="global.empPInfo!=undefined&&global.empInfo!=undefined">
    <mat-card-header>
        <mat-card-title>Leaves for {{global.activesy}}</mat-card-title>
        <mat-card-subtitle><i>Disclaimer: If there are information here that need to be updated, please inform the Human
                Resource Management and Development Office (HRMDO).</i></mat-card-subtitle>
    </mat-card-header>
    <style type="text/css">
        #users td {
            border: 0px solid #ddd;
        }
        
        #users tr,
        #users td {
            border: 1px solid #e4e4e4 !important;
        }
        
        #users1 td {
            border: 0px solid #ddd;
        }
    </style>

    <mat-card-content class='colo'>

        <mat-divider></mat-divider>
        <mat-tab-group (selectedTabChange)='getindex($event)'>
            <!-- <mat-tab-group> -->
            <mat-tab label="Leave information">
                <mat-card *ngIf="tabbing===0">
                    <br>
                    <table style="margin-left: 10px">
                        <tr>
                            <!-- <td>
                                <mat-form-field style="width: 20%; margin-bottom: -20px; margin-left: 5px;">
                                    <mat-label>Term</mat-label>
                                    <mat-select [(ngModel)]="schoolTerm" (selectionChange)="getSt()">
                                        <mat-option value="{{r.termId}}" *ngFor="let r of schoolTermArr">
                                            {{r.term}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td> -->

                            <td>
                                <!-- <button mat-raised-button color="primary" (click)="addLeaveOpenDialog ('Add')" style="float: left; margin-right: 10px;" disabled="false">
									<i class="material-icons">add</i> File for leave
								</button> -->

                            </td>


                        </tr>
                        <tr>
                            <td>
                                <br>
                                <b style="color: #294a70">Available Leave Credits:</b>
                                <hr>

                                <table class="apptable" id="users" style="width: 400px !important">
                                    <tr>
                                        <td width="100px" align="center"><strong>Leave Type</strong></td>
                                        <td width="50px" align="center"><strong>Days</strong></td>
                                        <td width="50px" align="center"><strong>Hours</strong></td>
                                        <td width="75px" align="center"><strong>Minutes</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Sick Leave</strong></td>
                                        <td align="center">{{slDay}}</td>
                                        <td align="center">{{slHour}}</td>
                                        <td align="center">{{slMin}}</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Vacation Leave</strong></td>
                                        <td align="center">{{vlDay}}</td>
                                        <td align="center">{{vlHour}}</td>
                                        <td align="center">{{vlMin}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 20px"></td>

                            <!-- <td *ngIf="pendingTrigger">
                                <br>
                                <b style="color: #294a70">Available leave credits after pending leave/s are approved:</b>
                                <hr>

                                <table class="apptable" id="users" style="width: 400px !important">
                                    <tr>
                                        <td width="100px" align="center"><strong>Leave Type</strong></td>
                                        <td width="50px" align="center"><strong>Days</strong></td>
                                        <td width="50px" align="center"><strong>Hours</strong></td>
                                        <td width="75px" align="center"><strong>Minutes</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Sick Leave</strong></td>
                                        <td align="center">{{fSL[0].days}}</td>
                                        <td align="center">{{fSL[0].hours}}</td>
                                        <td align="center">{{fSL[0].minutes}}</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Vacation Leave</strong></td>
                                        <td align="center">{{fVL[0].days}}</td>
                                        <td align="center">{{fVL[0].hours}}</td>
                                        <td align="center">{{fVL[0].minutes}}</td>
                                    </tr>
                                </table>
                            </td> -->

                        </tr>
                    </table>

                    <br>
                    <hr>

                    <br>
                    <!-- <h1>Online leave filing is currently not available</h1> -->
                    <b style="color: #294a70; margin-left: 10px;">Pending Leaves</b>
                    <br>

                    <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                        <!-- <button mat-menu-item class="btnAction" (click)="addLeaveManagementOpenDialog('addLeaveTimeDuration')" [disabled]="this.typeOfLeaveChecker == 3 || this.typeOfLeaveChecker == 6">
                            <i class="material-icons">add</i>
                            <p style="margin: -15px 0 0 25px!important ">&nbsp;Add Time&nbsp;</p>
                        </button> -->
                        <button mat-menu-item class="btnAction" (click)="editLeaveDurations('editLeaveTimeDuration')" *ngIf="lType != 2 && lType != 3" [disabled]=" this.typeOfLeaveChecker == 3 || this.typeOfLeaveChecker == 6 || this.typeOfLeaveChecker == 7">
                            <i class="material-icons">edit</i>
                            <p style="margin: -15px 0 0 25px!important ">&nbsp;Edit Time&nbsp;</p>
                        </button>
                        <button mat-menu-item class="btnAction" (click)="deleteLeaveTime()" [disabled]="this.typeOfLeaveChecker == 3 || this.typeOfLeaveChecker == 6">
                            <i class="material-icons">delete</i>
                            <p style="margin: -15px 0 0 25px!important ">&nbsp;Delete Time&nbsp;</p>
                        </button>

                        <!-- <hr> -->
                        <!-- <button mat-menu-item class="btnAction" (click)="addLeaveManagementOpenDialog('updateLeave')">
						<i class="material-icons" >edit</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Edit Time&nbsp;</p>
						</button>
                        <button mat-menu-item class="btnAction" (click)="deleteLeaveTime()">
						<i class="material-icons">delete</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Delete Time&nbsp;</p>
					    </button> -->
                    </mat-menu>

                    <table class="apptable1" id="users1" style="width:100% !important;">
                        <tr>
                            <td width="10%" style="vertical-align: top;">
                                <div style="margin-left: 10px;">
                                    <table class="apptable1" id="users">
                                        <tr>
                                            <th style="width: 10%; text-align: center;">
                                                DATE FILED
                                            </th>
                                        </tr>

                                        <tr *ngFor="let x of leaveArray ">
                                            <td align="center">
                                                <button mat-raised-button (click)="setLeaveDetails(x)">{{x.dateFiled |
                                                    date: 'MM-dd-yyyy'}}</button>

                                            </td>

                                        </tr>

                                        <tr>
                                            <td td align="center">
                                                <button mat-raised-button class="file-button" color="primary" (click)="addLeaveManagementOpenDialog('addLeave')">
                                                    <i class="material-icons" >add</i> File Leave
                                                </button>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </td>

                            <td style="vertical-align: top;">

                                <table class="apptable1" id="users1" style="width: 100%;">
                                    <tr>
                                        <th colspan="5" style="text-align: center;">
                                            LEAVE DETAILS
                                        </th>
                                    </tr>
                                </table>
                                <div style="max-height: 500px; overflow: auto; width: 100%;">
                                    <table class="apptable1" id="users1" *ngIf="leaveArray.length != 0">
                                        <br>
                                        <tr>
                                            <td><strong style="margin-left: 10px;">Reason: </strong>{{leaveReason}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong style="margin-left: 10px;">Date filed: </strong>{{leaveDateFiled | date: 'MM-dd-yyyy'}} ( {{ day }} )</td>
                                        </tr>

                                        <tr>
                                            <td><strong style="margin-left: 10px;">Venue:</strong> {{leaveVenue}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td colspan="5"><strong style="margin-left: 10px;">Leave Status: </strong> {{leaveStatus}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="lType == 1 || lType == 0">
                                            <td><strong style="margin-left: 10px;">Total Leave Time:</strong> {{totalLeaveTime}}
                                            </td>
                                        </tr>

                                        <td colspan="5">
                                            <hr>
                                        </td>

                                    </table>
                                    <table class="apptable1" id="users1" *ngIf="leaveArray.length != 0">

                                        <tbody *ngIf="lType == 1 || lType == 4">
                                            <tr>
                                                <!-- <td width="10px"></td> -->
                                                <td style="text-align: center;">
                                                    <strong>Date of leave</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>From</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>To</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Total minutes</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>Actions</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <hr>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let duration of leaveDuration">
                                                <td align="center">{{ duration.startDate | date: 'MM-dd-yyyy' }}</td>
                                                <td align="center">{{ duration.startDate | date: 'h:mm a' }}</td>
                                                <td align="center">{{ duration.endDate | date: 'h:mm a' }}</td>
                                                <td align="center" width="20%">
                                                    {{ calculateHoursAndMinutes(duration.startDate, duration.endDate) }}
                                                </td>
                                                <td align="center">
                                                    <button mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" [disabled]="leaveStatus != 'Filed'" (click)="setleaveId(duration.id,leaveId,duration.startDate,duration.endDate)">
                                                        <i class="material-icons">arrow_drop_down</i><span
                                                            style="margin-top: 7px"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <br>

                                            <tr>
                                                <td colspan="5">
                                                    <hr>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="lType == 2">
                                            <tr>
                                                <!-- <td width="10px"></td> -->
                                                <td style="text-align: center;">
                                                    <strong>Date of leave</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>From</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>To</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Code No</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Total minutes</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>Actions</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="6">
                                                    <hr>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let duration of leaveDuration">
                                                <td align="center">{{ duration.startDate | date: 'MM-dd-yyyy' }}</td>
                                                <td align="center">{{ duration.startDate | date: 'h:mm a' }}</td>
                                                <td align="center">{{ duration.endDate | date: 'h:mm a' }}</td>
                                                <td align="center">
                                                    <div *ngFor="let durationDetails of duration.facultyLeaveDetails">
                                                        <span style="font-size: 15px;">{{ durationDetails.codeNo
                                                            }}</span>
                                                    </div>

                                                </td>
                                                <td align="center" width="20%">
                                                    {{ calculateHoursAndMinutes(duration.startDate, duration.endDate) }}
                                                </td>
                                                <td align="center">
                                                    <button mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" [disabled]="leaveStatus != 'Filed'" (click)="setleaveId(duration.id,leaveId,duration.startDate,duration.endDate)">
                                                        <i class="material-icons">arrow_drop_down</i><span
                                                            style="margin-top: 7px"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <br>

                                            <tr>
                                                <td colspan="6">
                                                    <hr>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="lType == 3">
                                            <tr>
                                                <!-- <td width="10px"></td> -->
                                                <td style="text-align: center;">
                                                    <strong>Date of leave</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>From</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>To</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Subject</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Section</strong>
                                                </td>

                                                <td style="text-align: center;">
                                                    <strong>Total minutes</strong>
                                                </td>
                                                <td style="text-align: center;">
                                                    <strong>Actions</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="7">
                                                    <hr>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let duration of leaveDuration">
                                                <td align="center">{{ duration.startDate | date: 'MM-dd-yyyy' }}</td>
                                                <td align="center">{{ duration.startDate | date: 'h:mm a' }}</td>
                                                <td align="center">{{ duration.endDate | date: 'h:mm a' }}</td>
                                                <td align="left">
                                                    <div *ngFor="let durationDetails of duration.facultyLeaveDetails">
                                                        <span style="font-size: 15px;">{{
                                                            durationDetails.subject}}</span>
                                                    </div>

                                                </td>
                                                <td align="left">
                                                    <div *ngFor="let durationDetails of duration.facultyLeaveDetails">
                                                        <span style="font-size: 15px;">{{
                                                            durationDetails.section}}</span>
                                                    </div>

                                                </td>
                                                <td align="center" width="20%">
                                                    {{ calculateHoursAndMinutes(duration.startDate, duration.endDate) }}
                                                </td>
                                                <td align="center">
                                                    <button mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" [disabled]="leaveStatus != 'Filed'" (click)="setleaveId(duration.id,leaveId,duration.startDate,duration.endDate)">
                                                        <i class="material-icons">arrow_drop_down</i><span
                                                            style="margin-top: 7px"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <br>

                                            <tr>
                                                <td colspan="7">
                                                    <hr>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                                <table style="width: 100%;" *ngIf="leaveArray.length != 0">
                                    <tr>
                                        <td align="left">
                                            <button mat-raised-button color="primary" (click)="checkSchedule('')" style="padding-right: 0;padding-left: 0.5rem;">
                                                <i class="material-icons" style="margin-right: 5px;">schedule</i><span
                                                    style="margin-top: 7px">Check Schedule&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td align="right">

                                            <button mat-raised-button color="primary" (click)="addLeaveManagementOpenDialog('addLeaveTimeDuration')" [disabled]="leaveStatus != 'Filed'" style="padding-right: 0;padding-left: 0.5rem; margin-right: 10px;" *ngIf="leaveStatus === 'Filed'  || leaveStatus === 'Endorsed'">
                                                <i class="material-icons">add</i><span
                                                     style="margin-top: 7px">Add Time&nbsp;&nbsp;&nbsp;</span>
                                             </button>
                                            <button mat-raised-button color="primary" (click)="refileLeave()" style="padding-right: 0;padding-left: 0.5rem; margin-left: 10px;" *ngIf="leaveStatus === 'Cancelled'">
                                                <i class="material-icons" style="margin-right: 1px;">add_box</i><span
                                                    style="margin-top: 7px">Refile&nbsp;&nbsp;&nbsp;</span>
                                            </button>

                                            <button mat-raised-button color="primary" (click)="updateLeave('updateLeave')" [disabled]="leaveStatus != 'Filed'" style="padding-right: 0;padding-left: 0.5rem;" *ngIf="leaveStatus === 'Filed'  || leaveStatus === 'Endorsed'">
                                                <i class="material-icons">update</i><span
                                                    style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>

                                            <button mat-raised-button color="warn" (click)="cancelLeave()" [disabled]="leaveStatus === 'Endorsed'" style="padding-right: 0;padding-left: 0.5rem; margin-left: 10px;" *ngIf="leaveStatus === 'Filed' || leaveStatus === 'Endorsed'">
                                                <i class="material-icons" style="margin-right: 1px;">cancel</i><span
                                                    style="margin-top: 7px">Cancel&nbsp;&nbsp;&nbsp;</span>
                                            </button>

                                            <button mat-raised-button color="warn" (click)="deleteLeave()" [disabled]="leaveStatus === 'Filed' && leaveStatus === 'Endorsed'" [ngStyle]="{'background-color': (leaveStatus !== 'Filed' ? '#990000' : ''), 'color': (leaveStatus!== 'Filed' ? 'white' : ''), 'padding-right': '0', 'padding-left': '0.5rem', 'margin-left': '10px'}"
                                                *ngIf="leaveStatus === 'Cancelled'">
                                                <i class="material-icons">delete</i><span
                                                    style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>

                                        </td>
                                    </tr>
                                </table>

                                <table style="width: 100%;" *ngIf="leaveArray.length == 0">
                                    <tr class="apptable">
                                        <td colspan="5" style="background-color: #f2f2f2;">
                                            <p style="text-align: center; width: 100%;">
                                                <i>- No Data -</i>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <button mat-raised-button color="primary" (click)="checkSchedule('NTP')" style="padding-right: 0;padding-left: 0.5rem;">
                                                <i class="material-icons" style="margin-right: 5px;">schedule</i><span
                                                    style="margin-top: 7px;">Check Schedule&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <hr>
                    <br>
                    <!-- <h1>Online leave filing is currently not available</h1> -->

                    <b style="color: #294a70; margin-left: 10px;">LEAVE HISTORY</b>
                    <br>

                    <table style="margin-bottom: -14px;">
                        <tr>
                            <td>
                                <mat-form-field style="width: 200px; margin-left: 10px;" appearance="outline">
                                    <mat-label>School Year</mat-label>
                                    <mat-select [(ngModel)]="schoolYear" (selectionChange)="getSy()">
                                        <mat-option value="{{r.yearValue}}" *ngFor="let r of recentSchoolYears">
                                            {{r.year}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                            <td align="left">
                                <button mat-raised-button color="primary" (click)="clearFilters()" style="float: left; margin-left: 10px; margin-bottom: 18px;">
                                    <i class="material-icons">clear</i> Clear Filters
                                </button>
                            </td>
                        </tr>
                        <!-- <td align="left" width="100px">
                            <button mat-raised-button color="primary" (click)="filterOpenDialog()" style="float: left ; margin-left: 10px;">
								<i class="material-icons">reorder</i> Filter
							</button>
                            <br>&nbsp;
                        </td> -->

                    </table>
                    <div style="margin: 20px; overflow-x: auto;">
                        <table class="apptable" id="childrenCSS">
                            <tr>
                                <th style="text-align: center; width: 8%">
                                    DATE FILED
                                </th>
                                <th style="text-align: center; width: 13%">
                                    LEAVE TYPE
                                </th>
                                <th style="text-align: center;">
                                    REASON
                                </th>
                                <th style="text-align: center;width: 10%">
                                    FROM
                                </th>
                                <th style="text-align: center;width: 10%">
                                    TO
                                </th>
                                <th style="text-align: center;width: 5%">
                                    TOTAL MINUTES
                                </th>
                                <th style="text-align: center;width: 15%">
                                    ACTION
                                </th>
                                <th style="text-align: center;width: 120px">
                                    REMARKS
                                </th>
                            </tr>


                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <input readonly matInput [matDatepicker]="picker" placeholder="Date" (dateChange)="dateFiledChange()" [(ngModel)]="dateFiled" name="dateFiledFilter">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <!-- <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="dateFiled" (keyup)="filterall()"> -->
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <mat-label>Type</mat-label>
                                    <mat-select [(ngModel)]="leaveType" (selectionChange)="filterall()">
                                        <mat-option value=' ' (click)="clearLeave()">
                                            -- None --
                                        </mat-option>
                                        <mat-option value="{{r.type}}" *ngFor="let r of leaveTypes">
                                            {{r.type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="leaveType" (keyup)="filterall()">
                            </mat-form-field> -->
                            </td>

                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="reason" (keyup)="filterall()">
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <input readonly matInput [matDatepicker]="picker1" placeholder="Date" (dateChange)="fromDateChange()" [(ngModel)]="from" name="fromdatefilter">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>

                                    <!-- <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="from" (keyup)="filterall()"> -->
                                </mat-form-field>

                            </td>

                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <input readonly matInput [matDatepicker]="picker2" placeholder="Date" (dateChange)="toDateChange()" [(ngModel)]="to" name="todatefilter">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <!-- <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="to" (keyup)="filterall()"> -->
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="totalMinutes" (keyup)="filterall()">
                                </mat-form-field>
                            </td>

                            <td>

                                <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                    <mat-label>Type</mat-label>
                                    <mat-select [(ngModel)]="action" (selectionChange)="filterall()">
                                        <mat-option value=' ' (click)="clearAction()">
                                            -- None --
                                        </mat-option>
                                        <mat-option value="{{r.type}}" *ngFor="let r of actionTypes">
                                            {{r.type}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                                <!-- <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="action" (keyup)="filterall()">
                            </mat-form-field> -->
                            </td>
                            <!--

                        <td>
                            <mat-form-field style="width: 100%; margin-bottom: -20px;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="remarks" (keyup)="filterall()">
                            </mat-form-field>
                        </td> -->

                            <tr *ngFor="let x of filteredArray | paginate: LeaveHistoryConfig">
                                <td style="text-align: center">{{x.dateFiled | date: 'MM-dd-yyyy'}}</td>
                                <td style="text-align: center">{{x.leaveTypeDescription}}</td>
                                <td>{{x.leaveDescription}}</td>
                                <td style="text-align: center">{{x.startDate | date: "MM-dd-yyyy hh:mm a"}}</td>
                                <td style="text-align: center">{{x.endDate | date: "MM-dd-yyyy hh:mm a"}}</td>
                                <td style="text-align: center">{{x.totalMinutes}}</td>
                                <td style="text-align: center">{{x.actionTaken}}</td>
                                <td>{{x.remarks}}</td>
                            </tr>

                            <tr *ngIf="filteredArray.length == 0">
                                <td colspan="8">
                                    <p style="text-align: center; width: 100%;">
                                        <i>- No Data -</i>
                                    </p>
                                </td>
                            </tr>

                        </table>
                        <pagination-controls (pageChange)="LeaveHistoryPageChanged($event)" style="float: right; margin-bottom: 10px;"></pagination-controls>
                        <br>
                        <br>
                        <br>
                    </div>


                    <!-- <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
                            <button mat-menu-item class="btnAction" (click)="addLeaveOpenDialog('Update')">
			  				<i class="material-icons" >edit</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Edit Leave&nbsp;</p>
			  			</button>
                            <button mat-menu-item class="btnAction" (click)="deleteEntry()">
			  				<i class="material-icons">delete</i><p style="margin: -15px 0 0 25px!important ">&nbsp;Delete Leave&nbsp;</p>
			  			</button>
                        </mat-menu> -->
                    <!-- <table class="apptable" id="childrenCSS" *ngIf="pendingLeaveTrigger >=1"> -->
                    <!-- <table class="apptable" id="childrenCSS">
                            <tr>
                                <th style="text-align: center; width: 8%">
                                    DATE FILED
                                </th>
                                <th style="text-align: center; width: 8%">
                                    LEAVE TYPE
                                </th>
                                <th style="text-align: center;">
                                    REASON
                                </th>
                                <th style="text-align: center;width: 10%">
                                    FROM
                                </th>
                                <th style="text-align: center;width: 10%">
                                    TO
                                </th>
                                <th style="text-align: center;width: 5%">
                                    TOTAL MINUTES
                                </th>
                                <th style="text-align: center;width: 15%">
                                    STATUS
                                </th>
                                <th style="text-align: center;width: 120px">
                                    ROUTE
                                </th>
                                <th style="text-align: center;width: 20px">
                                    ACTION
                                </th>
                            </tr>
                            <tr *ngFor="let x of filteredLeaveHistoryArr;let i = index;">
                                <tr *ngFor="let x of filteredPendingLeaveArr;let i = index;">
                                <td *ngIf="compare(i,x)==false" style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                                <td *ngIf="compare(i,x)"></td>
                                <td *ngIf="compare(i,x)==false">{{x.leaveTypeDescription}}</td>
                                <td *ngIf="compare(i,x)"></td>
                                <td *ngIf="compare(i,x)==false">{{x.leaveDescription}}</td>
                                <td *ngIf="compare(i,x)"></td>
                                <td style="text-align: center">{{x.startDate | date: "MM/dd/yyyy hh:mm a"}}</td>
                                <td style="text-align: center">{{x.endDate | date: "MM/dd/yyyy hh:mm a"}}</td>
                                <td>{{x.totalMinutes}}</td>
                                <td *ngIf="validateActionTaken(x.actionTaken)">Pending</td>
                                <td *ngIf="actionTrigger">{{x.actionTaken}}</td>
                                <td *ngIf="validateRoute(x.approvedByHeadOfOffice)">Head of Office</td>
                                <td *ngIf="routetrigger">VP for Administration</td>
                                <td width="20px">
                                    <button *ngIf="compare(i,x)==false&&routetrigger==false" mat-raised-button [matMenuTriggerFor]="appMenu" color="" class="btnstyle1" (click)="setdata(x)">
					    			<i class="material-icons">arrow_drop_down</i><span style="margin-top: 7px"></span>
					    		</button>
                                </td>

                            </tr>
                        </table> -->
                </mat-card>
            </mat-tab>

            <!-- <mat-tab label="Leave History">
                <br>
                <table width="100%">
                    <td align="left" width="100px">
                        <button mat-raised-button color="primary" (click)="filterOpenDialog()" style="float: left">
							<i class="material-icons">reorder</i> Filter
						</button>
                        <br>&nbsp;
                    </td>
                </table>
                <br>
                <table class="apptable" id="childrenCSS">
                    <tr>
                        <th style="text-align: center; width: 8%">
                            DATE FILED
                        </th>
                        <th style="text-align: center; width: 8%">
                            LEAVE TYPE
                        </th>
                        <th style="text-align: center;">
                            REASON
                        </th>
                        <th style="text-align: center;width: 10%">
                            FROM
                        </th>
                        <th style="text-align: center;width: 10%">
                            TO
                        </th>
                        <th style="text-align: center;width: 5%">
                            TOTAL MINUTES
                        </th>
                        <th style="text-align: center;width: 15%">
                            ACTION
                        </th>
                        <th style="text-align: center;width: 120px">
                            REMARKS
                        </th>
                    </tr>

                    <tr *ngFor="let x of filteredLeaveHistoryArr | paginate: LeaveHistoryConfig">
                        <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                        <td>{{x.leaveTypeDescription}}</td>
                        <td>{{x.leaveDescription}}</td>
                        <td style="text-align: center">{{x.startDate | date: "MM/dd/yyyy hh:mm a"}}</td>
                        <td style="text-align: center">{{x.endDate | date: "MM/dd/yyyy hh:mm a"}}</td>
                        <td>{{x.totalMinutes}}</td>
                        <td>{{x.actionTaken}}</td>
                        <td>{{x.remarks}}</td>

                    </tr>
                </table>
                <pagination-controls (pageChange)="LeaveHistoryPageChanged($event)" style="float: right;"></pagination-controls>
                <br>
                <br>
            </mat-tab> -->
        </mat-tab-group>

    </mat-card-content>

</mat-card>

<!-- <mat-card *ngIf="tabbing===1">
          <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Vacation</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of VacationLeaveArr | paginate: VLeaveConfig">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>
              <pagination-controls (pageChange)="VLeavePageChanged($event)" style="float: right;"></pagination-controls>
            <br>
            <br>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Sick</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of SickLeaveArr | paginate: SLeaveConfig">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>
              <pagination-controls (pageChange)="SLeavePageChanged($event)" style="float: right;"></pagination-controls>
            <br>
            <br>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Official</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of OBLeaveArr | paginate: OBLeaveConfig">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>
              <pagination-controls (pageChange)="OBLeavePageChanged($event)" style="float: right;"></pagination-controls>
            <br>
            <br>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Birthday</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of BirthdayLeaveArr">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Maternity/Paternity</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of MatPaternityLeaveArr">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Solo Parent</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of SoloParentLeaveArr">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Bereavement</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of BereavementLeaveArr">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>

        </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b style="color: #294a70;">Sabatical</b>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="apptable" id="childrenCSS">
                  <tr>
                <th style="text-align: center; width: 8%">
                  DATE FILED
                </th>
                <th style="text-align: center; width: 200px">
                  REASON
                </th>
                <th style="text-align: center;width: 10%">
                  FROM
                </th>
                <th style="text-align: center;width: 10%">
                  TO
                </th>
                <th style="text-align: center;width: 5%">
                  TOTAL MINUTES
                </th>
                <th style="text-align: center;width: 15%">
                  ACTION
                </th>
                <th style="text-align: center;width: 120px">
                  REMARKS
                </th>
              </tr>

                <tr *ngFor="let x of SabaticalLeaveArr">
                  <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                  <td>{{x.leaveDescription}}</td>
                  <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                  <td>{{x.totalMinutes}}</td>
                  <td>{{x.actionTaken}}</td>
                  <td>{{x.remarks}}</td>
              </tr>
              </table>

        </mat-expansion-panel>
        </mat-card> -->