
<mat-card class="example-card" id="ebcg"  style="padding: 0 ">
	<mat-card-header >
    <mat-card-title>Electronic Grading Sheet</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px;max-width: 720px;height: calc(100vh - 270px);overflow-x: auto">
	  	<mat-accordion>
			<table width="85%" style="width: 700px">
				<tr>
					<td>
						<mat-form-field style="width: 325px;margin-bottom: -15px" appearance="outline">
					      <mat-label>- School Year -</mat-label>
					      <mat-select [(ngModel)]="sy"  (ngModelChange)='generate()'>
					        <mat-option value=''>
					        	- Select school year -
					        </mat-option>
					        <mat-option *ngFor="let x of sylist" [value]="x.schoolYear">
					          {{ global.syDisplay(x.schoolYear) }}
					        </mat-option>
					      </mat-select>
					    </mat-form-field>
					</td>
				</tr>
		  		<tr>
		  			<td width="65%" *ngIf="sy!=''">
		  				<mat-form-field style="width: 100%;margin-bottom: -15px"  appearance="outline">
			              <mat-label>- Select Code | Subject -</mat-label>
			              <mat-select  [(ngModel)]="CNum" (ngModelChange)="keyDownFunction('onoutfocus')">
			                <mat-option value="{{e.codeNo}}" *ngFor="let e of newCodeListArr">
			                  <strong>Code {{e.codeNo}}</strong> | {{e.subjectTitle}}
			                </mat-option>
			              </mat-select>
			            </mat-form-field>
		  			</td>
		  		</tr>
		  	</table>

		  	<div *ngIf="newCodeListArr!=undefined">
		  		<table width="100%" *ngIf="newCodeListArr.length==0&&sy!=''">
		  			<th>
		  				<h1>No class list available</h1>
		  			</th>
		  		</table>
		  	</div>

		  	<div *ngIf="classlistArr.length!=0">
		  		<style type="text/css">
			  		.bordered {
					  border: 1px solid black;
					  border-collapse: collapse;
			  		}
			  		.padleft{
			  		}
			  		.subdits td {
			  			padding-left: 5px;
			  			padding-right: 5px;
			  		}
			  		.tdcenter {
			  			text-align: center;
			  		}
			  		.td75 {
			  			width: 60px;
			  		}
			  		.bordertop {
			  			border-top: 1px solid;			  		}
			  		.borderright {
			  			border-right: 1px solid;	
			  		}
			  		.borderleft {
			  			border-left: 1px solid;	
			  		}
			  		.borderbottom {
			  			border-bottom: 1px solid;	
			  		}
			  	</style>
		<mat-expansion-panel  style="width: 700px"><!-- [expanded]="true" -->
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">
			  	Details:
			</b>
	      </mat-panel-title>
			<mat-panel-description>
			Status: <b>{{ ogsstatus }}</b>
			</mat-panel-description>
	      <mat-panel-description>
	      </mat-panel-description>

	    </mat-expansion-panel-header>
		  	<table style="width: 100%" cellspacing="0" cellpadding="0" *ngIf="codesummaryArr!=undefined" class="subdits">
              <tr>
              	<td style="width: 90px"><b>School Year</b></td>
              	<td class="bordertop borderright borderleft padleft" colspan="2">{{ global.syDisplay(sy) }}</td>
              	<td class="td75"> </td>
              	<td class="td75"><b>Code No.</b></td>
              	<td class="bordertop borderright borderleft td75 tdcenter">{{CNum}}</td>
              </tr>
              <tr>
              	<td><b>Subject ID</b></td>
              	<td class="bordered padleft" colspan="2">{{codesummaryArr[0].subjectId}}</td>
              	<td  style="width: 75px"> </td>
              	<td style="width: 75px"><b>Lec. Units</b></td>
              	<td class="bordertop borderright borderleft"  style="width: 75px;text-align: center;">{{codesummaryArr[0].lecUnits}}</td>
              </tr>
              <tr>
              	<td style="width: 75px" colspan="4"><b>Subject Description</b></td>
              	<td style="width: 75px"><b>Lab. Units</b></td>
              	<td class="bordertop borderright borderleft" style="width: 75px;text-align: center;">{{codesummaryArr[0].labUnits}}</td>
              </tr>
              <tr>
              	<td class="bordered padleft" rowspan="" colspan="6" valign="top" style="height: 40px">{{codesummaryArr[0].subjectTitle}}</td>	
              </tr>

              <tr>
              	<td colspan="3" class="borderbottom"></td>
                <td class="tdcenter td75 borderleft borderbottom"><b>Remarks</b></td>
                <td class="tdcenter td75 borderright borderbottom borderleft"><b>Total</b></td>
                <td class="tdcenter td75 borderright borderbottom"><b>%</b></td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"><b>Instructor</b></td>
              	<td class="tdcenter borderleft" style="width: 90px">
              		<b>Date Signed</b>
              	</td>
              	<td class="tdcenter td75 borderleft borderbottom">Passed</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Passed')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Passed')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"></td>
              	<td class="borderleft"></td>
              	<td class="tdcenter td75 borderleft borderbottom">Failed</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Failed')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Failed')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft borderbottom tdcenter">
              		{{codesummaryArr[0].instructor}}
              	</td>
              	<td class="borderleft borderbottom tdcenter"></td>
              	<td class="tdcenter td75 borderleft borderbottom">Dropped</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Dropped')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Dropped')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft "><b>Academic Dean</b></td>
              	<td class="tdcenter borderleft ">
              		<b>Date Signed</b>
              	</td>
              	<td class="tdcenter td75 borderleft borderbottom">NFE</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'No Final Exam')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'No Final Exam')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"></td>
              	<td class="borderleft"></td>
              	<td class="tdcenter td75 borderleft borderbottom">WP</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Widrawn with Permission')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Widrawn with Permission')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft borderbottom tdcenter">
              		{{academicdean}}
              	</td>
              	<td class="borderleft borderbottom"></td>
              	<td class="tdcenter td75 borderleft borderbottom"><span style="font-size: 12px">Blank Grade</span></td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Blank Grade')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Blank Grade')}}%</td>
              </tr>
              <tr>
              	<td colspan="3" style="text-align: center;font-size: 11px;">
              		<i>*Grade Legend: D is Dropped; N is NFE; WP is for Widrawn with Permision</i>
              	</td>
              	<td class="tdcenter td75 borderleft borderbottom">Total</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{ classlistArr.length}}</td>
              	<td class="tdcenter td75 borderright borderbottom">100%</td>
              </tr>
              
            </table>
	  	</mat-expansion-panel>

	            
	            <div style="width: 700px !important;margin-bottom: 15px;margin-top: 15px" >
					<button  mat-raised-button color="" class="btnstyle" style="min-width: 10px;width: 100px!important;float: left;margin-bottom: 10px" (click)="generatePDF()"  [disabled]="ogsstatus!='Locked'">
		    			<i class="material-icons">print</i> View PDF &nbsp;<span style="margin-top: 7px;"></span>
		    		</button>
					<button  mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px" (click)="uploadthis.click()"  [disabled]="ogsstatus!='Not Yet Uploaded'">
		    			&nbsp;<i class="material-icons">cloud_upload</i> Upload EGS file&nbsp;<span style="margin-top: 7px;"></span>
		    		</button>
					<button  mat-raised-button color="" class="btnstyle" style="margin-right:10px;min-width: 10px;width: 140px!important;float: right;margin-bottom: 10px" (click)="generateExcelOGS()" [disabled]="ogsstatus!='Not Yet Uploaded'">
		    			&nbsp;<i class="material-icons">cloud_download</i> Download EGS file&nbsp;<span style="margin-top: 7px;"></span>
		    		</button>
					
					<input type="file" (change)="onFileChange($event)" multiple="false"  #uploadthis style="visibility: hidden;" />

				</div>
	            <table  class="apptable" style="width: 700px" *ngIf="classlistArr.length!=0">
	            	<tr>
	            		<th style="text-align: left;width: 25px"> &nbsp;No.</th>
	            		<th style="text-align: left;width: 80px"> &nbsp;ID</th>
	            		<th style="text-align: left;min-width: 150px"> &nbsp;Name</th>
	            		<th style="text-align: left;width: 50px"> &nbsp;Gender</th>
	            		<th style="text-align: left;width: 50px"> &nbsp;Grade</th>
	            		<th style="text-align: left;width: 100px"> &nbsp;Remarks</th>
	            	</tr>
	            	<tr  *ngFor="let e of classlistArr; let i = index">
	            		<td>{{i+1}}</td>
	            		<td>{{e.idNumber}}</td>
	            		<td>{{e.name}}</td>
	            		<td>{{e.gender}}</td>
	            		<td>
	            			{{classlistArr[i].grade}}
	            		</td>
	            		<td>
							<b  *ngIf="classlistArr[i].grade>74&&classlistArr[i].grade<101"  style="color: #28a745" >Passed</b>

							<b  *ngIf="classlistArr[i].grade==70"  style="color: #294a70" >Failed</b>

							<b  *ngIf="classlistArr[i].grade=='D'"  style="color: #294a70" >Dropped</b>
							
							<b  *ngIf="classlistArr[i].grade=='N'"  style="color: #294a70" >No Final Exam</b>

							<b  *ngIf="classlistArr[i].grade=='WP'"  style="color: #294a70" >Widrawn with Permission</b>

							<b style="color: #dc3545" *ngIf="!(classlistArr[i].grade>74&&classlistArr[i].grade<101||classlistArr[i].grade==70||classlistArr[i].grade=='D'||classlistArr[i].grade=='N'||classlistArr[i].grade=='WP'||classlistArr[i].grade==''||classlistArr[i].grade==null)">Invalid Input</b>

							<b style="color: #ff9807" *ngIf="classlistArr[i].grade==''||classlistArr[i].grade==null">Blank Grade</b>

	            		</td>
	            	</tr>
	            </table>
            <p *ngIf="ogsstatus=='Locked'">
            	Note: You have Uploaded the Final Grading Sheet of Code <b>{{CNum}}</b> and has been set to <b>locked</b>. For changes and verification, notify your respective Dean.
            </p>
            <p *ngIf="ogsstatus=='Posted'">
            	Note: This Grading Sheet has been POSTED. For changes and verification, notify the Registrar's Office.
            </p>
            <p *ngIf="ogsstatus=='Not Yet Uploaded'">
            	Note: The <button>Save Only</button> button temporarily uploads the completed grading sheet and the <button>Save and Submit</button> button uploads the finalized grading sheet.
            </p>

	            <div  style="max-width: 700px !important;margin-bottom: 10px;margin-top: 15px">

					<button  mat-raised-button color="primary" (click)="savefunc()" [disabled]="ogsstatus!='Not Yet Uploaded'">
		    			<i class="material-icons">save_alt</i>Save Only
		    		</button>
					<button  mat-raised-button color="primary" (click)="savefunc(1)" style="float: right;" [disabled]="ogsstatus!='Not Yet Uploaded'">
		    			<i class="material-icons">save_alt</i>Save and Submit
		    		</button>
		    		<br>
		    	</div>
		  	</div>
		</mat-accordion>
    	
    </div>
  </mat-card-content>
</mat-card>
 