<table class="apptable" style="max-width: 100%;margin-top: 15px">
  <tr>
    <td colspan="3">
      <b>Report Card:</b>
    </td>
  </tr>
  <tr>
    <td style="width: 205px;">
      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,reportCardVar)">
        <img [src]="reportCardVar" width="150" height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;">
      </div>
    </td>
    <td>
      <span *ngIf='record[0].reportCardStatus!=2'>
      <b>Upload Report Card:</b><br>
      <input mat-raised-button type="file" id="avatar4" (change)="onFileChangeReportCard($event)" #fileInput2 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
      </span>
      Report Card Criteria, the following have to be indicated as approved:
      <ul>
        <li>Report card must be signed by your principal</li>
      </ul>
    </td>
    <td style="text-align: center;width: 100px">
      <span  *ngIf='record[0].reportCardStatus!=3'>
      <span *ngIf='record[0].reportCardStatus==0' >
      <b style="color: orange">On Process</b>
      </span>

      <span *ngIf='record[0].reportCardStatus==1' >
      <b style="color: red">Not Verified</b><br>
      ({{record[0].reportCardRemarks}})
      </span>

      <span *ngIf='record[0].reportCardStatus==2' >
      <b style="color: green">Approved</b>
      </span>
      </span>
    </td>
  </tr>



  <tr>
    <td colspan="3">
      <b>Proof of Payment:</b>
    </td>
  </tr>
  <tr>
    <td style="width: 205px;">
      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,popvar)">
        <img [src]="popvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;"  onerror="this.onerror=null;this.src='assets/noimage3.jpg'">
      </div>
    </td>
    <td>
      <span *ngIf='record[0].proofOfPayment_Status!=2'>
      <b>Upload Proof of Payment:</b><br>
      <input mat-raised-button type="file" id="avatar4" (change)="onFileChangePoP($event)" #fileInput4 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br>

      <mat-form-field appearance="outline"  style="width: calc(90% - 20px);">
          <mat-label>Date of Payment</mat-label>
      <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <br>
      </span>
      <span *ngIf="record[0].proofOfPayment_Status==2">
        Accounting payment verified.
      </span>
      <span *ngIf="record[0].proofOfPayment_Status!=2">
      Upload a clear copy of the receipt.
      </span>
    </td>
    <td style="text-align: center;width: 100px" >

      <span *ngIf='record[0].proofOfPayment_Status!=3'>
      <span *ngIf='record[0].proofOfPayment_Status==0' >
      <b style="color: orange">On Process</b>
      </span>

      <span *ngIf='record[0].proofOfPayment_Status==1' >
      <b style="color: red">Not Verified</b><br>
      ({{record[0].proofOfPayment_Remarks}})
      </span>

      <span *ngIf='record[0].proofOfPayment_Status==2' >
      <b style="color: green">Approved</b>
      </span>
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p>
      <b>Note:</b> All uploaded documentary requirements are subject to approval. Please check this site for updates as regards your admission and pre-enrolment status. You can still update your documentary requirements when the status is "on the process" or "not verified".
      </p>
    </td>
  </tr>
</table>

<span *ngIf="!(record[0].proofOfPayment_Status==2 && record[0].reportCardStatus==2)">
  <button mat-raised-button color="primary" (click)="SubmitReq()" style="margin-top: 15px;float: right" *ngIf='record[0].proofOfPayment_Status==3'>
  <i class="material-icons">done_outline</i> Submit
  </button>
  <button mat-raised-button color="primary" (click)="SubmitReq()" style="margin-top: 15px;float: right" *ngIf='record[0].proofOfPayment_Status!=3'>
  <i class="material-icons">done_outline</i> Update
  </button>
  </span>
