
<mat-card class="example-card" id="ebcg"  style="padding: 0 " *ngIf="global.empPInfo!=undefined&&global.empInfo!=undefined">
   
  <mat-card-header >
    <mat-card-title>Employee Records</mat-card-title>
        <mat-card-subtitle><i>Disclaimer: If there are information here that need to be updated, please inform the Human Resource Management and Development Office (HRMDO).</i></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="padding: 10px">
      <div>
        <br>
        <strong style="font-size: 16px;color: #294a70;">Appointments:</strong>
        <hr>

        <table class="apptable" id="childrenCSS">
          <tr>
            <th style="text-align: center; width: 100px">
              DATE APPOINTED
            </th>
            <th style="text-align: center;">
              DEPARTMENT NAME
            </th>
            <th style="text-align: center;width: 25%">
              POSITION
            </th>
            <th style="text-align: center;width: 8%">
              FROM
            </th>
            <th style="text-align: center;width: 8%">
              TO
            </th>
            <th style="text-align: center;width: 5%">
              STATUS
            </th>
          </tr>
            <tr *ngFor="let el of global.empAppntmt">
            <td>{{el.dateAppointed}}</td>
            <td>{{el.departmentName}}</td>
            <td>{{el.position}}</td>
            <td>{{el.startdate}}</td>
            <td>{{el.enddate}}</td>
            <td *ngIf="el.active===1">Active</td>
            <td *ngIf="el.active===0">Not Active</td>
          </tr>
        </table>

        <br>
        <strong style="font-size: 16px;color: #294a70;">Contracts:</strong>
        <hr>

        <table class="apptable" id="childrenCSS">
          <tr>
            <th style="text-align: center; width: 100px">
              DESCRIPTION
            </th>
            <th style="text-align: center;width: 8%">
              FROM
            </th>
            <th style="text-align: center;width: 8%">
              TO
            </th>
          </tr>
            <tr *ngFor="let c of global.empContracts">
            <td>{{c.description}}</td>
            <td>{{c.startdate}}</td>
            <td>{{c.enddate}}</td>
          </tr>
        </table>
      </div>  	
    </div>
  </mat-card-content>
</mat-card>
 