	.example-spacer{
    flex: 1 1 auto;
}

	span{
		font-size: 14px
	}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix{
  width: auto !important;
}

.headerBcg{
  height: 20px!important; 
}
.headerCardTitle{
  margin-top: -10px!important;
}
.headerTitle{
  font-size: 0.78em ;
}
.headerSubTitle{
  font-size: 0.65em;
}