<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>Announcement</mat-card-title>
    <span class="example-spacer"></span>
  <button mat-raised-button (click)="noclick()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>
    <div class="module_3" style="max-height: calc(100vh - 400px);overflow-x: auto;">
      <h3>Louisian Employees and Students</h3>
            <p>
              
      For important updates and advisories from the University, please subscribe to the following media platforms:
      <br>
      </p>
      <table>
        <tr>
          <td>
            <a href="https://www.facebook.com/OfficialUSLPhilippines" target="_blank"><img src="assets/fb.png" width="50" /></a>
          </td>
          <td><b>Facebook Page (New)</b><br>
          Link: <a href="https://www.facebook.com/OfficialUSLPhilippines" target="_blank">https://www.facebook.com/OfficialUSLPhilippines</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.instagram.com/uslphilippines/" target="_blank"><img src="assets/insta.png" width="50" /></a>
          </td>
          <td><b>Instagram</b><br>
          Link: <a href="https://www.instagram.com/uslphilippines/" target="_blank">https://www.instagram.com/uslphilippines/</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.youtube.com/uslphilippines" target="_blank"><img src="assets/yt.png" width="50" /></a>
          </td>
          <td><b>Youtube Channel</b><br>
          Link: <a href="https://www.youtube.com/uslphilippines" target="_blank">https://www.youtube.com/uslphilippines</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://usl.edu.ph/" target="_blank"><img src="assets/usl.png" width="50" /></a>
          </td>
          <td><b>Website</b><br>
          Link: <a href="https://usl.edu.ph/" target="_blank">https://usl.edu.ph/</a>
          </td>
        </tr>
      </table>
      <br>
</div>


  </mat-card-content>
</mat-card>
