<mat-drawer-container class="example-container" style="max-height: calc(100vh - 50px);" id="main" *ngIf="global.studinfo!=undefined&&global.requestrole()=='Student'">
    <mat-drawer mode="side" opened="true" #drawer>
        <div id="coverp" *ngIf="global.userinfo!=undefined">
            <img [src]="global.image" width="125" id="photop" onError="this.src='assets/noimage.jpg'" />
            <div id="fullname">
                {{global.userinfo.idNumber}}<br>

                <span style="text-transform: capitalize">{{global.userinfo.firstName}} {{global.userinfo.middleName}} {{global.userinfo.lastName}} {{global.userinfo.suffixName}}</span> <br>
                <span *ngIf="global.studinfo.yearOrGradeLevel!=0">{{global.studinfo.course}}</span>
                <span *ngIf="global.studinfo.departmentCode!='GS'&&global.studinfo.yearOrGradeLevel!=0">
        <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==1">{{global.studinfo.departmentCode}} - Grade 7</span>
                <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==2"> - Grade 8</span>
                <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==3"> - Grade 9</span>
                <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==4"> - Grade 10</span>
                <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==5"> - Grade 11</span>
                <span *ngIf="global.studinfo.departmentCode=='HS'&&global.studinfo.yearOrGradeLevel==6"> - Grade 12</span>
                <span *ngIf="global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='GS'"> - {{global.studinfo.yearOrGradeLevel}}</span>
                </span>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 50%">
                            <small><a mat-button color='default' style="font-size: 10px;text-align: right;" (click)="openDialogChangePassword()"><i class="material-icons iconsize">lock</i> Change Password</a></small>
                        </td>
                        <td style="text-align: center;text-align: left;"><small><a mat-button color='default' style="font-size: 10px;float: left" (click)="logout()" >
          <mat-icon>exit_to_app</mat-icon> Sign Out</a></small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="background-color: #294a70;color: white;text-align: center;font-size: 11px;padding: 5px" *ngIf="global.studinfo.course!=''&&global.studinfo.course!=null">
            <!-- Active: <span *ngIf="(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">{{global.syDisplay(global.sy)}}</span>
    <span *ngIf="!(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">{{global.syDisplay(global.sy.substring(0, global.sy.length - 1))}}</span> -->
            <div *ngIf="(global.studinfo.departmentCode == 'HS' || global.studinfo.departmentCode=='ELEM');else template1">

                <div *ngIf="global.constSY.substring(0,global.constSY.length-1) != global.schoolyear && !(global.hsfirstyear && (global.studinfo.yearOrGradeLevel != 4))">
                    <div *ngIf="global.enrollmenthist.length>1">
                      <span>{{ global.lastSYDisplay }}</span>: {{global.lastSYLevel}} <b><span><span *ngIf="global.lastSY=='Paid'">Officially Enrolled</span><span *ngIf="global.lastSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                      <br>
                    </div>
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.nextSYDisplay }}</span>: {{global.nextSYlevel}} <b><span>
                    <span *ngIf="global.nextSY=='Paid' && !(global.nextSYStudInfo.yearOrGradeLevel == 6 || (global.nextSYStudInfo.yearOrGradeLevel > 1 && global.nextSYStudInfo.yearOrGradeLevel <= 4) )">{{global.checkEnrollmentStatus(global.userdemog)}}</span>
                    <span *ngIf="global.nextSY=='Paid' && (global.nextSYStudInfo.yearOrGradeLevel == 6 || (global.nextSYStudInfo.yearOrGradeLevel > 1 && global.nextSYStudInfo.yearOrGradeLevel <= 4) )">Officially Enrolled</span>
                    <span *ngIf="global.nextSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>

                <div *ngIf="global.constSY.substring(0,global.constSY.length-1) == global.schoolyear">
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.syDisplay(global.enrollmenthist[global.enrollmenthist.length-1].schoolYear) }}</span>: <b><span><span *ngIf="global.lastSY=='Paid'">Officially Enrolled</span><span *ngIf="global.lastSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>
                <div *ngIf="global.constSY.substring(0,global.constSY.length-1) != global.schoolyear && (global.hsfirstyear && global.studinfo.yearOrGradeLevel != 4)">
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.nextSYDisplay }}</span>: {{global.nextSYlevel}} <b><span><span *ngIf="global.nextSY=='Paid'">{{global.checkEnrollmentStatus(global.userdemog)}}</span><span *ngIf="global.nextSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>
            </div>

            <ng-template #template1>
                <div *ngIf="global.constSY != global.schoolyear && !(global.firstyear && global.studinfo.yearOrGradeLevel == 1)">
                    <div *ngIf="global.enrollmenthist.length>1">
                      <span>{{ global.lastSYDisplay }}</span>: {{global.lastSYLevel}} <b><span><span *ngIf="global.lastSY=='Paid'">Officially Enrolled</span><span *ngIf="global.lastSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                      <br>
                    </div>
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.nextSYDisplay }}</span>: {{global.nextSYlevel}} <b><span><span *ngIf="global.nextSY=='Paid'">{{global.checkEnrollmentStatus(global.userdemog)}}</span><span *ngIf="global.nextSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>
                <div *ngIf="global.constSY == global.schoolyear">
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.syDisplay(global.enrollmenthist[global.enrollmenthist.length-1].schoolYear) }}</span>: <b><span><span *ngIf="global.lastSY=='Paid'">Officially Enrolled</span><span *ngIf="global.lastSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>
                <div *ngIf="global.constSY != global.schoolyear && (global.firstyear && global.studinfo.yearOrGradeLevel == 1)">
                    <span *ngIf="global.enrollmenthist.length!=0">{{ global.nextSYDisplay }}</span>: {{global.nextSYlevel}} <b><span><span *ngIf="global.nextSY=='Paid'">{{global.checkEnrollmentStatus(global.userdemog)}}</span><span *ngIf="global.nextSY=='Admitted'">Admitted</span>&nbsp;&nbsp;</span></b>
                </div>
            </ng-template>



        </div>
        <div style="height: 3px;background-color: #ffab1f;"></div>

        <div style="max-height: calc(100vh - 445px);overflow-y: auto;">

            <style type="text/css">
                .vmenu {
                    padding: 5px 25px 5px 25px !important;
                    font-weight: bold;
                }
            </style>
            <div style="height: 10px"></div>
            <div *ngIf="global.loading">

                <a mat-button [routerLink]="['../main',{outlets:{div:'personal-data'}}]" class="vmenu"><i class="material-icons iconsize ">assignment_ind</i> Personal Data</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'grades'}}]" class="vmenu" *ngIf="global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'&&global.gradearray.length!=0"><i class="material-icons iconsize">assignment</i> Grades</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'class-schedule'}}]" class="vmenu" *ngIf="global.ClassSchedule.length!=0&&global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'"><i class="material-icons iconsize">calendar_today</i> Class Schedule</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'Elem-Class-Schedule'}}]" class="vmenu" *ngIf="global.studinfo.departmentCode=='ELEM'"><i class="material-icons iconsize">calendar_today</i> Class Schedule</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'exam-schedule'}}]" class="vmenu" *ngIf="global.ExamSchedule.length!=0&&global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'"><i class="material-icons iconsize">date_range</i> Exam Schedule</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'assessment'}}]" class="vmenu" *ngIf="global.enrollmenthist.length>0">
                    <i class="material-icons iconsize">assessment</i> Assessment
                </a>
                <a mat-button [routerLink]="['../main',{outlets:{div:'open-codes'}}]" class="vmenu" *ngIf="(global.enrollment!=-1&&global.lockCodes==0&&global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'&&!global.firstyear)"><i class="material-icons iconsize">code</i> Open Codes</a>

                <a mat-button [routerLink]="['../main',{outlets:{div:'checklist'}}]" class="vmenu" *ngIf="(global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'&&!global.firstyear&&!global.gsfirstyear)&&global.studinfo.course!=''&&global.studinfo.course!=null"><i class="material-icons iconsize">reorder</i> Checklist</a>


                <div *ngIf="global.userinfo!=undefined">
                    <a mat-button [routerLink]="['../main',{outlets:{div:'LMS-access-codes'}}]" class="vmenu" *ngIf="global.ClassSchedule.length!=0 && global.studinfo.enrollmentStatus=='Paid'&&global.studinfo.departmentCode!='ELEM' && !global.firstyear"><i class="material-icons iconsize">list_alt</i> LMS Access Codes</a>
                </div>


                <div *ngIf="global.userinfo!=undefined">
                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Elective'}}]" class="vmenu"  *ngIf="global.studinfo.yearOrGradeLevel==3&&global.studinfo.departmentCode=='HS'&&
     (global.studinfo.enrollmentStatus=='Paid')&&global.checksettings('USLJHSElective')&&global.electivesy==global.sy.substring(0,6)"><i class="material-icons iconsize">dashboard</i> Elective</a> -->

                    <a mat-button [routerLink]="['../main',{outlets:{div:'Elective'}}]" class="vmenu"
                    *ngIf="
                      global.studinfo.departmentCode=='HS' &&
                      (global.checknextStudinfoStatus(global.electivesy)=='PAID') &&
                      global.checksettings('USLJHSElective') &&
                      (global.checknextStudinfo(global.studinfo.yearOrGradeLevel)==3)"><i class="material-icons iconsize">dashboard</i> Elective</a>
                </div>

                <!-- <div *ngIf="global.userinfo!=undefined&&global.serverdate!=''">
     <a mat-button [routerLink]="['../main',{outlets:{div:'Modality'}}]" class="vmenu"  *ngIf="
     global.studinfo.enrollmentStatus!='For Admission' || global.studinfo.enrollmentStatus=='Paid'"><i class="material-icons iconsize">dns</i> Modality</a>
     </div> -->
                <!-- <div *ngIf="global.userinfo!=undefined&&global.serverdate!=''">
      <a mat-button [routerLink]="['../main',{outlets:{div:'Modality'}}]" class="vmenu"  *ngIf="
      (global.studinfo.enrollmentStatus!='For Admission' && global.studinfo.departmentCode=='HS') ||
      (global.studinfo.enrollmentStatus=='Paid' && global.studinfo.departmentCode!='HS'&& global.studinfo.departmentCode!='ELEM'&& global.studinfo.departmentCode!='GS')"><i class="material-icons iconsize">dns</i> Modality</a>
      </div> -->
                <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Modality'}}]" class="vmenu"  *ngIf="
     (global.studinfo.enrollmentStatus!='For Admission' && global.studinfo.yearOrGradeLevel<5) ||
     (global.studinfo.enrollmentStatus=='Paid' && global.studinfo.yearOrGradeLevel<5 && global.studinfo.departmentCode!='ELEM'&& global.studinfo.departmentCode!='GS')"><i class="material-icons iconsize">dns</i> Modality</a>
     </div> -->

                <div *ngIf="global.userinfo!=undefined">
                    <a mat-button [routerLink]="['../main',{outlets:{div:'HS-class-Schedules'}}]" class="vmenu" *ngIf="global.studinfo.enrollmentStatus=='Paid'&&
     global.studinfo.departmentCode=='HS'"><i class="material-icons iconsize">calendar_today</i> Class Schedule</a>
                </div>

                <div *ngIf="global.studinfo.blacklistedStopped!=1">
                    <!--enrollment link for college regular-->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'enrollment'}}]" class="vmenu" *ngIf="
                      global.enrollment!=-1&&
                      global.studinfo.level == 'COLLEGE'&&
                      !global.firstyear
                      "><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                    <!--enrollment link for incoming first year-->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu" *ngIf="
          global.onlineEnrollment==1 && global.firstyear && !(global.studinfo.enrollmentStatus=='Paid'&&
          global.sy==global.enrollmentsy)
      ">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment
                    </a>

                    <!--enrollment link for incoming first year from usl-->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu" *ngIf="global.onlineEnrollment==1 && global.oldshs_col && (global.nextSYStudInfo.enrollmentStatus=='Admitted')">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment
                    </a>


                    <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu" *ngIf="((global.enrollment==-1) && (global.studinfo.enrollmentStatus=='Paid'||global.studinfo.enrollmentStatus=='Admitted') && global.studinfo.departmentCode!='ELEM' && global.nextSYStudInfo.departmentCode!='HS') && !(global.onlineEnrollment==1 && global.firstyear)">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment{{global.nextSYDisplay.substring(12,global.nextSYDisplay.length)}}
                    </a>
                    <!-- *ngIf="global.studinfo.enrollmentStatus=='Paid' && global.studinfo.departmentCode!='ELEM' &&global.studinfo.departmentCode!='HS' && !global.firstyear" -->
                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu"><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
 -->


                    <!-- college SCGOOL-->
                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'enrollment'}}]" class="vmenu"  *ngIf="
     global.enrollment==0&&
     global.studinfo.departmentCode!='ELEM'&&
     global.studinfo.departmentCode!='HS'&&
     global.studinfo.enrollmentStatus!='Paid'&&
     global.studinfo.departmentCode!='GS'&&
     !global.firstyear
     "><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment3</a> -->

                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu"  *ngIf="
     global.onlineEnrollment==1&&
     global.studinfo.departmentCode!='ELEM'&&
     global.studinfo.departmentCode!='GS'&&
     (global.studinfo.departmentCode!='HS')&&
     global.studinfo.enrollmentStatus!='Paid'&&
     studinfo.enrollmentStatus=='Admitted'&&!(
     global.enrollment!=-1&&
     global.studinfo.departmentCode!='ELEM'&&
     global.studinfo.departmentCode!='HS'&&
     (global.studinfo.enrollmentStatus!='Paid'||global.enrollmentsy!=global.sy)&&
     global.studinfo.departmentCode!='GS'&&
     !global.firstyear)"><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a> -->
                    <!-- college short term SCGOOL firstyear -->

                    <!-- <div *ngIf="global.userinfo!=undefined">
     <a mat-button [routerLink]="['../main',{outlets:{div:'graduate-school-enrollment'}}]" class="vmenu"  *ngIf="(global.onlineEnrollment==1&&global.enrollment!=-1&&global.studinfo.departmentCode=='GS'&&global.studinfo.enrollmentStatus!='Paid')&&!global.firstyear"><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
     </div> -->
                    <!-- GRAD SCGOOL -->

                    <!--enrollment link for g7 & g11-->
                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
      ((global.studinfo.yearOrGradeLevel == 4) && (global.jhsGrade7Enrollment || global.shsGrade11Enrollment)) && global.sy.substring(0,6) != global.enrollmentsy">
      <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment 4</a> -->

                    <!--ENROLLMENT LINK FOR INCOMING G11 OUTSIDER----------------------------->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
        ((global.hsfirstyear && (global.studinfo.yearOrGradeLevel != 4 && (global.studinfo.lastLevel == 'INVALID' || global.studinfo.lastSY == null))) && global.shsGrade11Enrollment) && global.sy.substring(0,6) != global.enrollmentsy">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                    <!--ENROLLMENT LINK FOR INCOMING G7 OUTSIDER----------------------------->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
        ((global.hsfirstyear && ((global.studinfo.yearOrGradeLevel != 4 && global.studinfo.yearOrGradeLevel != 6 ) && (global.studinfo.lastLevel == 'INVALID' || global.studinfo.lastSY == null))) && global.jhsGrade7Enrollment) && global.sy.substring(0,6) != global.enrollmentsy">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                         <!--ENROLLMENT LINK FOR INCOMING G7 INSIDER----------------------------->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
                    ((global.studinfo.yearOrGradeLevel == 6) && (global.jhsGrade7Enrollment)) && global.sy.substring(0,6) != global.enrollmentsy">
                                    <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                                <!--ENROLLMENT LINK FOR INCOMING G7 INSIDER----------------------------->

                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
        ((global.hsfirstyear && global.studinfo.yearOrGradeLevel != 4) && !(global.jhsGrade7Enrollment || global.shsGrade11Enrollment)) && global.sy.substring(0,6) != global.enrollmentsy">
        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment form</a> -->

                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
            (
              (global.hsfirstyear && global.studinfo.yearOrGradeLevel != 4) &&
                (global.studinfo.enrollmentStatus=='Paid' || global.studinfo.enrollmentStatus=='Admitted') &&
              (global.studinfo.departmentCode=='HS' && global)
            ) && !(global.jhsGrade7Enrollment || global.shsGrade11Enrollment)">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment{{global.syDisplaynoSemester(global.constSY)}}
                    </a>
                    <!--ENROLLMENT LINK FOR INCOMING G11 OUTSIDER----------------------------->

                    <!--ENROLLMENT LINK FOR INCOMING G11 INSIDER----------------------------->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
        ((global.studinfo.yearOrGradeLevel == 4) && (global.shsGrade11Enrollment)) && global.sy.substring(0,6) != global.enrollmentsy">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                    <!--ENROLLMENT LINK FOR INCOMING G11 INSIDER----------------------------->



                    <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
      ((global.studinfo.yearOrGradeLevel == 5 && global.currentplacementstatus == 'SHS') && (global.jhsGrade7Enrollment || global.shsGrade11Enrollment)) && global.sy.substring(0,6) != global.enrollmentsy">
      <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment 4a</a> -->

                    <!--enrollment link for HS-->
                    <a mat-button [routerLink]="['../main',{outlets:{div:'high-school-enrollment'}}]" class="vmenu" *ngIf="
      ((global.hsEnrollment && global.studinfo.yearOrGradeLevel<5)||(global.shsEnrollment && global.studinfo.yearOrGradeLevel==5)) && !global.firstyear && global.sy.substring(0,6)!=global.enrollmentsy">
                        <i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>

                </div>
                <!-- HS SCHOOL -->
                <a mat-button class="vmenu" *ngIf="
      (
        global.shsGrade11Enrollment==1
        || global.shsEnrollment==1
        || global.jhsGrade7Enrollment==1
        || global.hsEnrollment==1
        || global.onlineEnrollment==1
        || global.enrollment!=-1
      )
      && global.studinfo.blacklistedStopped==1
      && global.studinfo.enrollmentStatus=='For Admission'
      && !(
            global.onlineEnrollment==1
            && global.studinfo.departmentCode!='ELEM'
            && global.studinfo.departmentCode!='HS'
            && global.studinfo.enrollmentStatus!='Paid'
            && global.studinfo.departmentCode!='GS'
            &&!global.firstyear
          )
     " (click)="blacklistedStopped()"><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
                <!-- ////////////////////////////////// Start: Pre-enrolment button of JHS-->

                <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Pre-Enrollment'}}]" class="vmenu" *ngIf="
      (
        global.placement.examForSchoolYear.substring(0, 6) == global.HSplacementyear
        && global.currentplacementstatus == 'JHS'
        && global.checksettings('USL_JHS_PreEnrollment')
      )
      && !(global.HSplacementyear == global.sy.substring(0, 6) && global.studinfo.enrollmentStatus=='Paid')

      "><i class="material-icons iconsize">chrome_reader_mode</i> Pre-enrollment</a> -->
                <!-- ////////////////////////////////// End: Pre-enrolment button of JHS-->

                <!-- ////////////////////////////////// Start: Pre-enrolment button of SHS-->


                <!-- (global.preenrollmenteligible && global.checksettings('USL_SHS_PreEnrollment'))

                ||

                (global.preenrollmenteligibleHS && global.checksettings('USL_SHSPreReg'))

                &&

                (
                  global.placement.examForSchoolYear.substring(0, 6) == global.HSplacementyear &&
                  global.currentplacementstatus == 'SHS' && global.checksettings('USL_SHS_PreEnrollment')
                ) -->
                <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Pre-Enrollment'}}]" class="vmenu" *ngIf="
      (
        (
          (global.placement.examForSchoolYear.substring(0, 6) == global.HSplacementyear|| global.getplacementshs)
          && (global.preenrollmenteligibleHS )
          && global.checksettings('USL_SHS_PreEnrollment')|| global.checksettings('USL_SHSPreReg')
          && !(global.HSplacementyear == global.sy.substring(0, 6) && global.studinfo.enrollmentStatus=='Paid')
          && global.currentplacementstatus != 'COLLEGE' && global.currentplacementstatus != 'JHS'
        )
        && (!global.oldshs_col) && !(global.ClassSchedule.length!=0) && !(global.studinfo.enrollmentStatus=='Admitted' && global.currentplacementstatus == 'SHS')
      )

      "><i class="material-icons iconsize">chrome_reader_mode</i> Pre-enrollment 2</a> -->
                <!-- ////////////////////////////////// End: Pre-enrolment button of SHS-->

                <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Pre-Enrollment'}}]" class="vmenu" *ngIf="
     (
        (global.preenrollmenteligibleHS && global.checksettings('USL_SHSPreReg')) ||
        (
          global.placement.examForSchoolYear.substring(0, 6) == global.HSplacementyear &&
          (global.currentplacementstatus=='JHS'||global.currentplacementstatus=='SHS') &&
          (global.jhspreenrollment||global.shspreenrollment)
        )
      ) &&
      !(global.HSplacementyear == global.sy.substring(0, 6) && global.studinfo.enrollmentStatus=='Paid')">
      <i class="material-icons iconsize">chrome_reader_mode</i> Pre-enrollment</a> -->
                <!-- <a mat-button
        [routerLink]="['../main',{outlets:{div:'Pre-Enrollment'}}]"
        class="vmenu"
        *ngIf="((global.colpreenrollment || (global.preenrollmenteligible && global.checksettings('ColPreEnroll') &&global.checksettings('USL_SHSPreReg'))
        && global.currentplacementstatus != 'SHS' && global.currentplacementstatus != 'JHS'
        || global.oldshs_col == true)  && !global.studentIsInList)&&!(global.studinfo.enrollmentStatus=='Admitted'&&global.ClassSchedule.length!=0)
        ">
      <i class="material-icons iconsize">chrome_reader_mode</i> Admission</a> -->

                <!-- g12 to incoming first year admission -->
                <!-- <a mat-button
          [routerLink]="['../main',{outlets:{div:'Pre-Enrollment'}}]"
          class="vmenu"
          *ngIf="(global.checksettings('ColPreEnroll') && global.g12CurrentYearLevel == 6 && global.g12CourseCode == 'SHS' && global.g12EnrollmentStatus == 'Paid')">
        <i class="material-icons iconsize">chrome_reader_mode</i> Admission</a> -->
                <!-- g12 to incoming first year admission -->

                <!-- <a mat-button
        [routerLink]="['../main',{outlets:{div:'faculty-evaluation'}}]"
        class="vmenu"
        *ngIf="global.studinfo.level !='ELEMENTARY' && global.studinfo.departmentCode!='GS'">
        <i class="material-icons iconsize">event_note</i>Faculty Evaluation</a> -->

                <!-- <a mat-button [routerLink]="['../main',{outlets:{div:'faculty-evaluation'}}]" class="vmenu" *ngIf="global.studinfo.departmentCode!='GS'"> -->
                  <a mat-button [routerLink]="['../main',{outlets:{div:'faculty-evaluation'}}]" class="vmenu">
                    <i class="material-icons iconsize">event_note</i>Faculty Evaluation</a>

                <!-- <a mat-button
        [routerLink]="['../main',{outlets:{div:'faculty-evaluation'}}]"
        class="vmenu"
        *ngIf="global.studinfo.level =='ELEMENTARY' && global.studinfo.yearOrGradeLevel > 3">
        <i class="material-icons iconsize">event_note</i>Faculty Evaluation</a> -->

                <div style="height: 10px"></div>
                <div *ngIf="global.loading">
                    <!-- <span *ngIf="(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">
        <button
          mat-raised-button color="primary"
          style="min-width: 10px;margin-left: 5px;font-size: 11px"
          (click)='ViewPrint("col")'
          *ngIf="global.studinfo.enrollmentStatus=='Paid'&&global.studinfo.departmentCode!='ELEM'" >
            <mat-icon>format_align_center</mat-icon> Enrollment Form1 {{global.syDisplay(global.sy)}}&nbsp;
        </button>
      </span> -->

                    <span *ngIf="!(global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM')">
        <!-- <button mat-raised-button color="primary" style="min-width: 10px;margin-left: 10px;font-size: 11.5px;margin-left: 35px" (click)='ViewPrint("hs")' *ngIf="(global.studinfo.enrollmentStatus=='Paid'||global.studinfo.enrollmentStatus=='Admitted')&&global.studinfo.departmentCode!='ELEM'" ><mat-icon>format_align_center</mat-icon> Enrollment Form2 {{global.syDisplay(global.sy.substring(0, 6))}}&nbsp;</button></span>                    -->
                    <button mat-raised-button color="primary" style="min-width: 10px;margin-left: 10px;font-size: 11.5px;margin-left: 35px" (click)='ViewPrint("hs")' *ngIf="(global.studinfo.enrollmentStatus=='Paid'||global.studinfo.enrollmentStatus=='Admitted')&&global.studinfo.departmentCode!='ELEM' && (global.jhsGrade7Enrollment || global.shsGrade11Enrollment)">
              <mat-icon>format_align_center</mat-icon> Enrollment Form{{global.syDisplay(global.constSY.substring(0, 6))}}&nbsp;
          </button>
                    <button mat-raised-button color="primary" style="min-width: 10px;margin-left: 10px;font-size: 11.5px;margin-left: 35px" (click)='ViewPrint("hs")' *ngIf="(global.studinfo.enrollmentStatus=='Paid'||global.studinfo.enrollmentStatus=='Admitted') && global.studinfo.departmentCode!='ELEM' && !(global.getplacementshs) && !(global.getplacementjhs) && !(global.jhsGrade7Enrollment || global.shsGrade11Enrollment)">
              <mat-icon>format_align_center</mat-icon> Enrollment Form{{global.syDisplay(global.constSY.substring(0, 6))}}&nbsp;
          </button>
                    </span>
                </div>




            </div>
            <mat-spinner style="margin-right: auto;margin-left: auto" *ngIf="!global.loading"></mat-spinner>
            <!-- <div *ngIf="global.userinfo!=undefined">
     <a mat-button [routerLink]="['../main',{outlets:{div:'short-term-enrollment'}}]" class="vmenu"  *ngIf="true"><i class="material-icons iconsize">chrome_reader_mode</i> Enrollment</a>
     </div> -->
            <!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >assessment</i><b>&nbsp; General</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-button>
      <i class="material-icons iconsize">person_add</i> New Person Registration
    </a>

  </mat-expansion-panel>

</mat-accordion> -->

        </div>

        <div style="bottom: 0 !important;position: fixed;width: 300px;background-color: #294a70;color: white;">
            <div style="height: 5px;background-color: #ffab1f;"></div>
            <p style="font-size: 11px;line-height: 1.3;padding-left: 10px">
                ©{{global.year}} USL MyPortal, All rights reserved.<br> University of Saint Louis - Tuguegarao City<br> Center for Information and Communications Technology</p>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div style="margin-left: 10px;margin-top: 8px;" class="hnav">

            <!-- <p style="font-size: 14px;color: red;padding: 5px;margin: 0px 20px 0 0px;" *ngIf="
      (global.firstyear&&global.onlineEnrollment==0) ||

      (!global.firstyear&&
       global.studinfo.departmentCode!='ELEM'&&
       global.studinfo.departmentCode!='HS'&&
       global.studinfo.enrollmentStatus!='Paid'&&
       global.studinfo.departmentCode!='GS'&&
       global.enrollment==-1)
     ">
                Enrollment for SY 2021-2022 first semester is currently closed. Please contact
                <span><a href="mailto:dsas@usl.edu.ph" style="color: #294a70">dsas@usl.edu.ph</a> or <a href="tel:09563078723" style="color: #294a70">09563078723</a></span> for more information.
            </p>

            <p style="font-size: 14px;color: red;padding: 5px;margin: 0px 20px 0 0px;" *ngIf="
        (global.hsfirstyear&&!(global.jhsGrade7Enrollment||global.shsGrade11Enrollment)) ||


       (!global.hsfirstyear&&global.studinfo.departmentCode=='HS'&&global.hsEnrollment==0)
     ">
                Enrollment for SY 2021-2022 is currently closed. Please contact JHS/SHS Guidance for more information.
            </p> -->
            <button mat-button color="primary" style="min-width: 10px;width: 32px;" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

            <button mat-button color="primary" style="min-width: 10px;width: auto;" (click)='openDialogAnnouncement()'><mat-icon>volume_up</mat-icon> Announcement &nbsp;</button>

            <button *ngIf="EmployeeRole" mat-button (click)="openDialogWifiStatus('Employee')" color="primary" style="min-width: 10px;width: auto;"><mat-icon>wifi</mat-icon> Louisian Wifi Account &nbsp;</button>
            <button *ngIf="StudentRole" mat-button (click)="openDialogWifiStatus('Student')" color="primary" style="min-width: 10px;width: auto;"><mat-icon>wifi</mat-icon> Email and Wifi Account Details &nbsp;</button>

            <button mat-button [matMenuTriggerFor]="reports" color="primary" style="min-width: 10px;width: auto;" *ngIf="global.studinfo.departmentCode!='ELEM'">
      <mat-icon>picture_as_pdf</mat-icon> Downloadables <i class="material-icons">arrow_drop_down</i>
    </button>

            <button mat-button [matMenuTriggerFor]="online" color="primary" style="min-width: 10px;width: auto;" *ngIf="global.studinfo.enrollmentStatus=='Paid'">
      <mat-icon>cloud_circle</mat-icon> Online Resources <i class="material-icons">arrow_drop_down</i>
    </button>

            <style type="text/css">
                .link {
                    text-decoration: none;
                }
            </style>

            <mat-menu #reports="matMenu">
                <div>
                    <a href="assets/pdf/Covid Prevention Booklet.pdf" target="_blank" class="link"><button mat-menu-item >Covid Prevention Booklet</button></a>
                </div>

                <div *ngIf="global.studinfo.departmentCode=='HS'||global.studinfo.yearOrGradeLevel==0">
                    <b style="padding: 10px 10px 0px 10px;font-size: 11px">For incoming Grade 7 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Transferees</b>
                    <a href="assets/pdf/HS-Enrollment-Form.pdf" target="_blank" class="link"><button mat-menu-item >- Enrollment Form</button></a>
                </div>

                <div *ngIf="global.studinfo.departmentCode=='HS'||global.studinfo.yearOrGradeLevel==0">
                    <b style="padding: 10px 10px 0px 10px;font-size: 11px">For incoming Grade 11</b>
                    <a href="assets/pdf/SHS-Enrollment-Form.pdf" target="_blank" class="link"><button mat-menu-item >- Enrollment Form</button></a>
                </div>

                <div *ngIf="(global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='GS')||global.studinfo.yearOrGradeLevel==0">
                    <b style="padding: 10px 10px 0px 10px;font-size: 11px">For College</b>
                    <a href="assets/pdf/FM-SAS-005-Admission-Form.pdf" target="_blank" class="link"><button mat-menu-item >- Admission Form  </button></a>
                    <a href="assets/pdf/adding-form.docx" target="_blank" class="link"><button mat-menu-item >- Adding Form  </button></a>
                    <a href="assets/pdf/Shifting-Form.docx" target="_blank" class="link"><button mat-menu-item >- Shifting Form  </button></a>
                    <a href="assets/pdf/Dropping-Form.docx" target="_blank" class="link"><button mat-menu-item >- Dropping Form  </button></a>
                    <a href="assets/pdf/Student-Information-Form.docx" target="_blank" class="link"><button mat-menu-item >- Student Information Form  </button></a>
                    <a href="assets/pdf/FM-SAS-019- Class Excusal Form.pdf" target="_blank" class="link"><button mat-menu-item >- Excusal Form  </button></a>
                    <a href="assets/pdf/FM-SAS-054- Parents_ Waiver.pdf" target="_blank" class="link"><button mat-menu-item >- Parent's Waiver  </button></a>
                </div>

                <div *ngIf="global.studinfo.departmentCode=='GS'||global.studinfo.yearOrGradeLevel==0">
                    <b style="padding: 10px 10px 0px 10px;font-size: 11px">For Graduate School</b>
                    <button mat-menu-item>- no content -</button>
                </div>

            </mat-menu>

            <mat-menu #online="matMenu">


                <button mat-menu-item [matMenuTriggerFor]="Orientation" *ngIf="global.studinfo.departmentCode!='ELEM'&&global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='GS'">USL College Orientation</button>
                <button mat-menu-item [matMenuTriggerFor]="Downloadables">Downloadables</button>
                <button mat-menu-item [matMenuTriggerFor]="handbook">Student Handbook</button>

                <a href="assets/pdf/COLLEGE ACAD GUIDE.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode!='ELEM'&&
                  global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='GS'">
                  <button mat-menu-item>Academic Guide</button>
                </a>
                <a href="assets/pdf/SHS ACAD GUIDE.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item> Academic Guide</button>
                </a>

                <a href="assets/pdf/JHS ACAD GUIDE.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>Academic Guide</button>
                </a>
                <!--
                <a href="assets/pdf/ELEM ACAD GUIDE.pdf" class="link"  target="_blank"  *ngIf="global.studinfo.departmentCode=='ELEM'"><button mat-menu-item>
                  Academic Guide

                </button></a> -->
                            <!-- <a href="assets/pdf/Student Handbook 2020-0716.pdf" class="link" target="_blank"><button mat-menu-item>
                  Student Handbook
                </button></a> -->


                <!-- <a href="assets/pdf/SHS-Calendar.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>Calendar</button>
                </a>

                <a href="assets/pdf/JHS-Calendar.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>Calendar</button>
                </a> -->
                <a href="assets/pdf/BES-Calendar.pdf" class="link" target="_blank" *ngIf="global.studinfo.departmentCode=='ELEM' || global.studinfo.departmentCode=='HS'">
                  <button mat-menu-item>Calendar</button>
                </a>

                <!-- <a href="https://www.youtube.com/watch?v=ILfu9Duwgb4" class="link" target="_blank">
                  <button mat-menu-item>NEO LMS Tutorial</button>
                </a> -->
            </mat-menu>

            <mat-menu #handbook="matMenu">
              <a href="assets/pdf/Student Handbook-Elem.pdf" target="_blank" class="link">
                <button mat-menu-item>Elementary</button>
              </a>
              <a href="assets/pdf/Student Handbook-JHS.pdf" target="_blank" class="link">
                <button mat-menu-item>Junior High School</button>
              </a>
              <a href="assets/pdf/Student Handbook-SHS.pdf" target="_blank" class="link">
                <button mat-menu-item>Senior High School</button>
              </a>
              <a href="assets/pdf/Student Handbook-College.pdf" target="_blank" class="link">
                <button mat-menu-item>College</button>
              </a>
            </mat-menu>


            <mat-menu #Orientation="matMenu">
                <a href="assets/pdf/USL College Orientation 2020 Test.pdf" target="_blank" class="link">
                  <button mat-menu-item>Test</button>
                </a>
                <a href="assets/pdf/Orientation Test 2020- Answer Sheet.docx" target="_blank" class="link">
                  <button mat-menu-item>Answer Sheet</button>
                </a>
            </mat-menu>

            <mat-menu #Downloadables="matMenu">
                <a href="https://drive.google.com/file/d/1KgS4B_zWA8fp2CkguE1lBUK856c_D0Lt/view" target="_blank" class="link">
                  <button mat-menu-item>Administrative Staff SY 2020-2021</button>
                </a>

                <a href="https://drive.google.com/file/d/1UiXPEIR0FatgG7jdJNGLTSwiOwzM3Nv7/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>SHS Scholarships and grants</button>
                </a>

                <a href="assets/pdf/Guidance Orientation.pptx" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>Guidance Orientation</button>
                </a>

                <a href="assets/pdf/JHS Library Orientation.ppsx" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>JHS Library Orientation</button>
                </a>

                <a href="https://drive.google.com/file/d/1Ii5wHb_8hR1TfkZ5uPe4MCcvzOLtOYHj/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>SHS Library Orientation</button>
                </a>

                <a href="https://drive.google.com/file/d/18X47HpaMR1fKkfihCdaqwePvLj2Z9xuq/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>SHS Guidance Orientation</button>
                </a>

                <a href="https://drive.google.com/file/d/1nfrhZXqJ8Aoy7vixwslC7vZIux_BGmo0/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>SHS AFP PRESENTATION</button>
                </a>

                <a href="assets/pdf/jhs Academic Policies.ppt" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>Academic Policies</button>
                </a>

                <a href="https://drive.google.com/file/d/1TttvkIqILtb0ag814rxopG-qpxAaWRuG/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>Academic Policies</button>
                </a>

                <a href="https://drive.google.com/file/d/1nfrhZXqJ8Aoy7vixwslC7vZIux_BGmo0/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel==5||global.studinfo.yearOrGradeLevel==6)">
                  <button mat-menu-item>SHS2 AFP PRESENTATION</button>
                </a>

                <a href="https://drive.google.com/file/d/1u7KYuiRwsQJSlsfOVyyCfPDBaERQTHk9/view" target="_blank" class="link" *ngIf="global.studinfo.departmentCode=='HS'&&(global.studinfo.yearOrGradeLevel<5)">
                  <button mat-menu-item>JHS Scholarships and Grants</button>
                </a>

                <a href="https://drive.google.com/file/d/1rQ8JMMnEzOl8Q2ll8Js062BJBnzjeQLu/view" target="_blank" class="link">
                  <button mat-menu-item>Chaplain</button>
                </a>

                <a href="https://drive.google.com/file/d/19zkIcid6cAMBA-DrrSKmZBV9p4G9VwXC/view" target="_blank" class="link">
                  <button mat-menu-item>Accounting Office students' orientation</button>
                </a>

            </mat-menu>
            <mat-menu #ched="matMenu">
                <button mat-menu-item>Enrolment List</button>
                <button mat-menu-item>Enrolment Summary</button>
            </mat-menu>

            <!--  <button mat-button [matMenuTriggerFor]="acct"  color="primary"  style="min-width: 10px;width: auto;">
      <mat-icon>account_circle</mat-icon> My Account<i class="material-icons">arrow_drop_down</i></button>


  <mat-menu #acct="matMenu">
    <a mat-button color='default' style="padding-right: 10px;padding-left: 10px;" (click)="openDialogchangepassword()"><i class="material-icons iconsize">lock</i> Change Password</a>
  </mat-menu>
 -->

        </div>

        <mat-card class="matcontainer" style="padding: 0;">
            <!-- commented out 3/22/2023 -->
            <!-- <div style="padding: 10px 10px 10px 20px;color: white;background-color: #cb413f;font-size: 12px" *ngIf="
        global.ClassSchedule.length!=0&&(
        global.userdemog.cForm138=='0'||
        ((global.studinfo.enrollmentType==2||global.studinfo.enrollmentType==1)&&
        global.userdemog.otr=='0')||
        (global.userdemog.civilStatus=='M'&&
        global.userdemog.marriageContract=='False'))&&global.studinfo.enrollmentStatus=='Paid'
        ">
        <p style="margin: 5px 0px 5px 0px;font-size: 13px" *ngIf="global.studinfo.departmentCode!='HS'&&global.studinfo.departmentCode!='ELEM'">
        Please submit the following documents to the Office of Student Affairs and Services(not later than Friday of the First Week of July):
        </p>
        <p style="margin: 5px 0px 5px 0px;font-size: 13px" *ngIf="global.studinfo.departmentCode=='HS'">
        Please submit the following documents to the Principal's Office:
        </p> -->
            <!-- <span style="margin-left: 20px" *ngIf="
        global.userdemog.cForm137A==false
        ">*Form 137A<br></span> -->
            <!-- <span style="margin-left: 20px" *ngIf="
        global.userdemog.cForm138=='0'
        ">*Form 138<br></span>
        <span style="margin-left: 20px" *ngIf="
        global.userdemog.cnso=='0'
        ">*NSO Birth Certificate<br></span>
        <span style="margin-left: 20px" *ngIf="
        (global.studinfo.enrollmentType==2||global.studinfo.enrollmentType==1)&&
        global.userdemog.otr=='0'
        ">*OTR From Other Schools<br></span>
        <span style="margin-left: 20px" *ngIf="
        global.userdemog.civilStatus=='M'&&
        global.userdemog.marriageContract=='False'
        ">*Marriage Contract<br></span>
      </div> -->
            <!-- commented out 3/22/2023 -->
            <router-outlet name="div"></router-outlet>

        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>




<mat-drawer-container class="example-container" style="max-height: calc(100vh - 50px);" id="main" *ngIf="global.requestrole()=='Employee'">
    <mat-drawer mode="side" opened="true" #drawer>
        <div id="coverp" *ngIf="global.empInfo!=undefined">
            <img [src]="image" width="125" id="photop" onError="this.src='assets/noimage.jpg'" />
            <div id="fullname">
                {{global.empInfo.idnumber}}<br> {{global.empInfo.fullname}}
                <br> {{global.empInfo.position}}
                <table style="width: 100%">
                    <tr>
                        <td style="width: 50%">
                            <small><a mat-button color='default' style="font-size: 10px;text-align: right;" (click)="openDialogChangePassword()"><i class="material-icons iconsize">lock</i> Change Password</a></small>
                        </td>
                        <td style="text-align: center;text-align: left;"><small><a mat-button color='default' style="font-size: 10px;float: left" (click)="logout()" >
      <mat-icon>exit_to_app</mat-icon> Sign Out</a></small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="max-height: calc(100vh - 420px);overflow-y: auto;">

            <style type="text/css">
                .vmenu {
                    padding: 5px 25px 5px 25px !important;
                    font-weight: bold;
                }
            </style>
            <div style="height: 10px"></div>

            <a mat-button [routerLink]="['../main',{outlets:{div:'personal-data-emp'}}]" class="vmenu"><i class="material-icons iconsize ">person_outline</i> Personal Data</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'other-info'}}]" class="vmenu"><i class="material-icons iconsize ">assignment_ind</i> Other Info</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'emp-records'}}]" class="vmenu"><i class="material-icons iconsize ">file_copy</i> Employee Records</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'dtr'}}]" class="vmenu"><i class="material-icons iconsize ">query_builder</i> Daily Time Record</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'basic-ed-class-list'}}]" class="vmenu" *ngIf="HSclassList"><i class="material-icons iconsize ">list_alt</i> Class List</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'class-list'}}]" class="vmenu" *ngIf="HEdClasslist"><i class="material-icons iconsize ">list_alt</i> Class List</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'basic-ed-class-schedule'}}]" class="vmenu" *ngIf="basicEdCtrl"><i class="material-icons iconsize">calendar_today</i> Class Schedule</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'Electronic-Grading-Sheet'}}]" class="vmenu" *ngIf="sylist.length!=0"><i class="material-icons iconsize">assignment</i> Electronic Grading Sheet</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'leaves'}}]" class="vmenu"><i class="material-icons iconsize ">how_to_vote</i> Leaves</a>
            <a mat-button [routerLink]="['../main',{outlets:{div:'Payslip'}}]" class="vmenu"><i class="material-icons iconsize ">chrome_reader_mode</i> Payslip</a>

            <!--<a mat-button [routerLink]="['../main',{outlets:{div:'generate-cv'}}]" class="vmenu"><i class="material-icons iconsize ">save_alt</i> Generate CV</a>-->
            <!-- <a mat-button class="vmenu" (click)="openGenerateCVDialog()"><i class="material-icons iconsize ">save_alt</i> Generate CV</a> -->

            <!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons iconsize" >assessment</i><b>&nbsp; General</b>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-button>
      <i class="material-icons iconsize">person_add</i> New Person Registration
    </a>

  </mat-expansion-panel>

</mat-accordion> -->

        </div>

        <div style="bottom: 0 !important;position: fixed;width: 300px;background-color: #294a70;color: white;">
            <div style="height: 5px;background-color: #ffab1f;"></div>
            <p style="font-size: 11px;line-height: 1.3;padding-left: 10px">
                ©{{global.year}} USL MyPortal, All rights reserved.<br> University of Saint Louis - Tuguegarao City<br> Center for Information and Communications Technology</p>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <div style="margin-left: 10px;margin-top: 8px;" class="hnav">

            <button mat-button color="primary" style="min-width: 10px;width: 32px;" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

            <button mat-button color="primary" style="min-width: 10px;width: auto;" (click)='openDialogAnnouncement()'><mat-icon>volume_up</mat-icon> Announcement &nbsp;</button>

            <button *ngIf="EmployeeRole" mat-button (click)="openDialogWifiStatus('Employee')" color="primary" style="min-width: 10px;width: auto;"><mat-icon>wifi</mat-icon> Louisian Wifi Account &nbsp;</button>
            <button *ngIf="StudentRole" mat-button (click)="openDialogWifiStatus('Student')" color="primary" style="min-width: 10px;width: auto;"><mat-icon>wifi</mat-icon> Email and Wifi Account Details &nbsp;</button>

            <button mat-button [matMenuTriggerFor]="Downloadable" color="primary" style="min-width: 10px;width: auto;">
      <mat-icon>picture_as_pdf</mat-icon> Downloadables<i class="material-icons">arrow_drop_down</i>
    </button>

            <mat-menu #Downloadable="matMenu">
                <div>
                    <a href="assets/pdf/Covid Prevention Booklet.pdf" target="_blank" class="link"><button mat-menu-item >Covid Prevention Booklet</button></a>
                    <a href="assets/pdf/FM-SAS-005- Admission Form.docx" target="_blank" class="link"><button mat-menu-item >Admission Form</button></a>
                    <a href="FM-SAS-008- Student Information Form.docx" target="_blank" class="link"><button mat-menu-item >Student Information Form</button></a>
                    <a href="assets/pdf/FM-OAD-042 Shifting Form.docx" target="_blank" class="link"><button mat-menu-item >Shifting Form</button></a>
                </div>
            </mat-menu>
            <!--  <button mat-button [matMenuTriggerFor]="acct"  color="primary"  style="min-width: 10px;width: auto;">
      <mat-icon>account_circle</mat-icon> My Account<i class="material-icons">arrow_drop_down</i></button>


  <mat-menu #acct="matMenu">
    <a mat-button color='default' style="padding-right: 10px;padding-left: 10px;" (click)="openDialogchangepassword()"><i class="material-icons iconsize">lock</i> Change Password</a>
  </mat-menu>
 -->

        </div>

        <mat-card class="matcontainer" style="padding: 0;overflow-y: scroll;">

            <router-outlet name="div"></router-outlet>

        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="(global.studinfo!=undefined&&global.requestrole()=='Student')||global.requestrole()=='Employee'">
    <div style="height: 5px;background-color: #ffab1f;"></div>
    <div style="height: 7px;background-color: #294a70;"></div>
</div>
