<div  id="aWE" style="">
<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Add membership to professional organizations</b></mat-card-title>
  </mat-card-header>
  <div style="height: 10px"></div>
  <mat-card-content class='colo'>
		  <table  cellspacing="0" style="width: 100%">
			  <tr>
			    <td width="100%" colspan="2">
			    	<mat-form-field class="example-full-width">
				      <input matInput placeholder="Organization"  [(ngModel)]="organization">
				    </mat-form-field>
			    </td>
			  </tr>
			  <tr>
			    <td width="100%" colspan="2">
				  	<mat-form-field class="example-full-width">
				      <input matInput placeholder="Position"  [(ngModel)]="position">
				    </mat-form-field>
			    </td>
			  </tr>
			  <tr>
			  	<td width="50%" style="padding-left: 5px">
				  	<mat-form-field class="example-full-width">
				      <input readonly matInput [matDatepicker]="picker" placeholder="Expiration Date" (click)="picker.open()"  [(ngModel)]="expDate" name="date" required>
						  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						  <mat-datepicker #picker></mat-datepicker>
				    </mat-form-field>
			    </td>
			    <td width="50%">
			    	
			    </td>
			  </tr>
		  </table>
		  
	</mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions >
	<table width="100%">
		<tr>
			<td align="left">
				<button mat-raised-button style="background-color: #a20808 !important;color: white" (click)="deleteorg()" class="btnstyle" *ngIf="type==='Update'">
	    			<i class="material-icons">delete</i><span style="margin-top: 7px;font-size: 11px !important;">Delete&nbsp;&nbsp;&nbsp;</span>
	    		</button>
			</td>
			<td align="right">
				<button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  				<button mat-raised-button color="primary" (click)="save()" >Save</button>
			</td>
		</tr>
	</table>
</div>