<div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>DATE & TIME DETAILS</b></mat-card-title>
        </mat-card-header>
        <mat-card-content class='colo'>

            <table class="apptable1" style="width: 100%;">
                <tr>

                    <th style="width: 80%;">SELECT DATE & TIME</th>
                    <th style="width: 20%;">--ACTION--</th>

                </tr>
                <tr>

                    <td>
                        <mat-form-field style="width: 49%;" [formGroup]="form">
                            <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Start Date" (dateChange)="onDateSelected1('1')" (click)="picker.open()" formControlName="sdate" name="sdate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched )">Start Date is required</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 49%; margin-left: 5px;" [formGroup]="form">
                            <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="End Date" (dateChange)="onDateSelected('0')" (click)="picker2.open()" formControlName="edate" name="edate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="form.get('edate').invalid && form.get('edate').touched">End Date is required</mat-error>
                        </mat-form-field>


                        <div style="display: flex; justify-content: center;">
                            <div style="width: 45%; display: flex; align-items: center; margin-right: 20px;">
                                <strong>From: </strong>
                                <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="fromAmValue" (ngModelChange)="timeChecker(fromAmValue,1)">
                                </ngx-timepicker-field>
                                <button style="margin-left: -10px;" matSuffix mat-icon-button aria-label="Clear" (click)="fromAmValue = null">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </div>

                            <div style="width: 45%; display: flex; align-items: center;">
                                <strong>To: </strong>
                                <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="toAmValue" (ngModelChange)="timeChecker(toAmValue,2)">
                                </ngx-timepicker-field>
                                <button style="margin-left: -10px;" matSuffix mat-icon-button aria-label="Clear" (click)="toAmValue = null">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </div>

                        </div>

                        <div style="display: flex; justify-content: center;">
                            <div style="width: 45%; display: flex; align-items: center; margin-right: 20px;">
                                <strong>From: </strong>
                                <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="fromPmValue" (ngModelChange)="timeChecker(fromPmValue,3)">
                                </ngx-timepicker-field>
                                <button style="margin-left: -10px;" matSuffix mat-icon-button aria-label="Clear" (click)="fromPmValue = null">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </div>

                            <div style="width: 45%; display: flex; align-items: center;">
                                <strong>To: </strong>
                                <ngx-timepicker-field [format]="12" [minutesGap]="30" [controlOnly]="true" [(ngModel)]="toPmValue" (ngModelChange)="timeChecker(toPmValue,4)">
                                </ngx-timepicker-field>
                                <button style="margin-left: -10px;" matSuffix mat-icon-button aria-label="Clear" (click)="toPmValue = null">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </div>

                        </div>

                    </td>

                    <td align="center">
                        <button mat-raised-button color="primary" (click)="calculateDates()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6">ADD</button>
                        <div style="height: 10px;"></div>
                        <button mat-raised-button [color]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? 'primary' : ''" (click)="clear()" [disabled]="this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6"
                            [ngStyle]="{'background-color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : '#990000', 'color': this.data.typeOfLeave === 7 || this.data.typeOfLeave === 3 || this.data.typeOfLeave === 6 ? '' : 'white'}"
                            style="padding: 0;">
                       CLEAR</button>
                    </td>

                </tr>
            </table>

            <div style="max-height: 200px; overflow-y: auto; margin-top: 5px;">
                <table class="apptable1" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 15%;">Date</th>
                            <th style="width: 15%;">From</th>
                            <th style="width: 15%;">TO</th>
                            <th style="width: 18%;">HR/MIN</th>
                            <th style="width: 15%; text-align: center;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of displayArr">
                            <td>{{c.date}}</td>
                            <td>{{c.from}}</td>
                            <td>{{c.to}}</td>
                            <td>{{c.hrmins}}</td>
                            <td align="center">
                                <button mat-raised-button (click)="delete(c.date,c.from,c.to)" [disabled]=" this.data.typeOfLeave === 6" [ngStyle]="{'font-size': '12px', 'min-width': '18px', 'line-height': '15px', 'height': '28px', 'padding': '0', 'background-color':  this.data.typeOfLeave === 6 ? '' : '#990000', 'color': this.data.typeOfLeave === 6 ? '' : 'white'}">
                                  <i class="material-icons" style="font-size: 16px; margin-left: 5px;">delete</i>
                                  <span style="margin-top: 7px;">REMOVE&nbsp;&nbsp;&nbsp;</span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="displayArr.length == 0 || displayArr.length == undefined">
                            <td colspan="5">
                                <p style="text-align: center; width: 100%;">
                                    <i>- No Data -</i>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>

<div>
    <table width="100%">
        <tr>
            <td align="left">
                <button mat-raised-button color="primary" (click)="checkSchedule('NTP')" style="padding-right: 0;padding-left: 0.5rem; margin-left: 15px;">
                      <i class="material-icons" style="margin-right: 5px;">schedule</i><span
                          style="margin-top: 7px;">Check Schedule&nbsp;&nbsp;&nbsp;</span>
                  </button>
            </td>
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning" style="margin-right: 5px;">Close</button>
                <button mat-raised-button [disabled]="displayArr.length == 0" color="primary" (click)="testSave()" style="margin-right: 15px;">Save</button>
            </td>
        </tr>
    </table>
</div>