.apptable1 {
    border-collapse: collapse;
    width: 100%;
}

.apptable1 td,
.apptable1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

// .apptable1 tr:nth-child(even) {
//     background-color: #f2f2f2;
// }
// .apptable1 tr:hover {
//     background-color: #ddd;
// }
.apptable1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}