<div id="aWE">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>{{pretype}} date/time details</b></mat-card-title>
        </mat-card-header>
        <mat-card-content class='colo'>

            <table border="0" width="100%">
                <tr>
                    <td width="40%">
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder="From" (click)="picker1.open()" [(ngModel)]="fromdate" name="fromdate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td width="40%">
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="To" (click)="picker2.open()" [(ngModel)]="todate" name="todate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <mat-form-field class="example-half-width">
                            <input matInput placeholder="Start time" value="" [(ngModel)]="recordTimeIn_12hour" (click)="openIndialog()" autocomplete="off" readonly>
                        </mat-form-field>
                    </td>
                    <td width="40%">
                        <mat-form-field class="example-half-width">
                            <input matInput placeholder="End time" value="" [(ngModel)]="recordTimeOut_12hour" (click)="openIndialog1()" autocomplete="off" readonly>
                        </mat-form-field>
                    </td>
                    <td width="20%">
                        <button mat-raised-button class="btnstyle" *ngIf="!fireTimeTrigger" disabled=true style="color: gray">
		    			<i class="material-icons">close</i>
		    		</button>
                        <button mat-raised-button class="btnstyle" *ngIf="!fireTimeTrigger" disabled=true style="color: gray">
		    			<i class="material-icons">done</i>
		    		</button>

                        <button mat-raised-button class="btnstyle" *ngIf="fireTimeTrigger" (click)="cleartime()" style="color: red">
		    			<i class="material-icons">close</i>
		    		</button>
                        <button mat-raised-button class="btnstyle" *ngIf="fireTimeTrigger" (click)="appendtime()" style="color: green">
		    			<i class="material-icons">done</i>
		    		</button>
                    </td>
                </tr>
            </table>
            <mat-divider></mat-divider>
            <!-- <table border="0" width="100%" *ngIf = "appendtimeTrigger"> -->
            <table border="0" width="100%">
                <tr>
                    <th style="width: 35%">From</th>
                    <th style="width: 35%">To</th>
                    <th>Total Hr/Min</th>
                    <th style="width: 30%">Action</th>
                </tr>
                <tr align="center" *ngFor="let x of addedTimeArr_24hour;let i = index;">
                    <td>{{LeaveValidationService.validateTimeAMPM(x.from)}}</td>
                    <td>{{LeaveValidationService.validateTimeAMPM(x.to)}}</td>
                    <td>{{x.totMins/60}}</td>
                    <td>
                        <button mat-raised-button class="btnstyle" (click)="addedTimeArr_24hour.splice(i, 1);resetMins(x.totMins)">
		    			<i class="material-icons">delete</i>
		    		</button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <table width="100%">
        <tr>
            <td align="left">
            </td>
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
                <button mat-raised-button color="primary" (click)="save()">Save</button>
            </td>
        </tr>
    </table>
</div>