<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>Faculty Evaluation</b>
      </mat-card-title>
      <mat-card-subtitle style="color: #ffab1f;">Note: Faculty evaluation may not load properly at times because of the bulk of users accessing at the same time in our servers. Please reload your portal to fetch again the needed data. CICT team is working on this issue. Thank you and sorry for the incovenience</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo' >

  	<mat-divider></mat-divider>
    <br>
    <table class="apptable">
      <tr>
        <th style="text-align: center;">
          FACULTY NAME
        </th>
        <th style="text-align: center;">
          CODE NUMBER
        </th>
        <th style="text-align: center;">
          SUBJECT TITLE
        </th>
        <th style="text-align: center;">
          TYPE
        </th>
        <th style="text-align: center;">
          EVALUATION STATUS
        </th>
        <th style="width: 90px;text-align: center;">
          - ACTION -
        </th>
      </tr>
      <tr *ngFor="let f of subjectsToEvaluateArray; let i=index">
        <ng-container>
            <td width="25%">{{f.employeeName}}</td>
            <td width="4%">{{f.codeNo}}</td>
            <td>{{f.subject}}</td>
            <td>{{getSchedType(f.schedType)}}</td>
            <td>{{f.status}}</td>
            <td style="text-align: center;">
              <ng-container *ngIf="getIsOpenStatus(f.isOpen); else isClose">
                <ng-container *ngIf="f.status == 'Incomplete Evaluation' || f.status == 'Ready for evaluation'; else template1">
                  <!--<div *ngIf="evaluateButtonTrigger">
                     <button
                      mat-raised-button
                      color="primary"
                      [ngClass]="f.status == 'Incomplete Evaluation' ? 'btnstyle_colored_orange' : 'btnstyle' "
                      (click)="createEvaluation(f)">
                        <i class="material-icons">assessment</i><span style="margin-top: 7px">Evaluate</span>
                    </button>
                  </div>
                  <button mat-raised-button color="" class="btnstyle" *ngIf="!evaluateButtonTrigger" disabled>
                    <i class="material-icons">assessment</i><span style="margin-top: 7px">Evaluate</span>
                  </button> -->
                  <button
                      mat-raised-button
                      color="primary"
                      [ngClass]="f.status == 'Incomplete Evaluation' ? 'btnstyle_colored_orange' : 'btnstyle' "
                      (click)="createEvaluation(f)">
                        <i class="material-icons">assessment</i><span style="margin-top: 7px">Evaluate</span>
                    </button>
                </ng-container>
                <ng-template #template1 >
                  <ng-container *ngIf="f.status == 'Evaluated'">
                    <!-- <span></span> -->
                    <!-- <button
                    mat-raised-button
                    class="btnstyle_colored_white"
                    (click)="createEvaluation(f)">
                      <i class="material-icons">update</i><span style="margin-top: 7px">Update</span>
                  </button>  -->
                  </ng-container>
                </ng-template>
              </ng-container>
              <ng-template #isClose>
                <ng-container >
                  <!-- <button mat-raised-button color="" class="btnstyle" disabled>
                    <i class="material-icons">assessment</i><span style="margin-top: 7px">Evaluate</span>
                  </button> -->
                  <span style="font-size: 11.75px;color: rgb(211, 91, 5);">Evaluation closed</span>
                </ng-container>
              </ng-template>
            </td>
        </ng-container>

      </tr>
    </table>
  </mat-card-content>
</mat-card>
