
<div id="es" *ngIf="classlistArr!=undefined"><mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Electronic Grading Sheet</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style="overflow-y: auto;overflow-x: scroll;">
		 
<style type="text/css">
			  		.bordered {
					  border: 1px solid black;
					  border-collapse: collapse;
			  		}
			  		.padleft{
			  		}
			  		.subdits td, th {
			  			padding-left: 5px;
              padding-right: 5px;
              padding-top: 3px;
              padding-bottom: 3px;
			  		} 
			  		.tdcenter {
			  			text-align: center;
			  		}
			  		.td75 {
			  			width: 60px;
			  		}
			  		.bordertop {
			  			border-top: 1px solid;			  		}
			  		.borderright {
			  			border-right: 1px solid;	
			  		}
			  		.borderleft {
			  			border-left: 1px solid;	
			  		}
			  		.borderbottom {
			  			border-bottom: 1px solid;	
			  		}
			  	</style>
<div style="height: calc(100vh - 300px);">
<div style="width: 650px;margin-right: auto;margin-left: auto;
              font-size: 12px;margin-top: 20px;margin-bottom: 50px" id="ContenttoExport">	
<p style="text-align: center;">
	<b>
		University of Saint Louis<br>
		Tuguegarao City, Cagayan<br>
		FINAL GRADES
	</b>
</p>		  	
		<table style="width: 100%" cellspacing="0" cellpadding="0" *ngIf="codesummaryArr!=undefined" class="subdits">
              <tr>
              	<td style="width: 90px"><b>School Year</b></td>
              	<td class="bordertop borderright borderleft padleft" colspan="2">{{ global.syDisplay(sy) }}</td>
              	<td class="td75"> </td>
              	<td class="td75"><b>Code No.</b></td>
              	<td class="bordertop borderright borderleft td75 tdcenter">{{CNum}}</td>
              </tr>
              <tr>
              	<td><b>Subject ID</b></td>
              	<td class="bordered padleft" colspan="2">{{codesummaryArr[0].subjectId}}</td>
              	<td  style="width: 75px"> </td>
              	<td style="width: 75px"><b>Lec. Units</b></td>
              	<td class="bordertop borderright borderleft"  style="width: 75px;text-align: center;">{{codesummaryArr[0].lecUnits}}</td>
              </tr>
              <tr>
              	<td style="width: 75px" colspan="4"><b>Subject Description</b></td>
              	<td style="width: 75px"><b>Lab. Units</b></td>
              	<td class="bordertop borderright borderleft" style="width: 75px;text-align: center;">{{codesummaryArr[0].labUnits}}</td>
              </tr>
              <tr>
              	<td class="bordered padleft" rowspan="" colspan="6" valign="top" style="height: 40px">{{codesummaryArr[0].subjectTitle}}</td>	
              </tr>

              <tr>
              	<td colspan="3" class="borderbottom"></td>
                <td class="tdcenter td75 borderleft borderbottom"><b>Remarks</b></td>
                <td class="tdcenter td75 borderright borderbottom borderleft"><b>Total</b></td>
                <td class="tdcenter td75 borderright borderbottom"><b>%</b></td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"><b>Instructor</b></td>
              	<td class="tdcenter borderleft" style="width: 90px">
              		<b>Date Signed</b>
              	</td>
              	<td class="tdcenter td75 borderleft borderbottom">Passed</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Passed')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Passed')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"></td>
              	<td class="borderleft"></td>
              	<td class="tdcenter td75 borderleft borderbottom">Failed</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Failed')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Failed')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft borderbottom tdcenter">
              		{{codesummaryArr[0].instructor}}
              	</td>
              	<td class="borderleft borderbottom tdcenter"></td>
              	<td class="tdcenter td75 borderleft borderbottom">Dropped</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Dropped')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Dropped')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft "><b>Academic Dean</b></td>
              	<td class="tdcenter borderleft ">
              		<b>Date Signed</b>
              	</td>
              	<td class="tdcenter td75 borderleft borderbottom">NFE</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'No Final Exam')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'No Final Exam')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft"></td>
              	<td class="borderleft"></td>
              	<td class="tdcenter td75 borderleft borderbottom">WP</td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Widrawn with Permission')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Widrawn with Permission')}}%</td>
              </tr>
              <tr>
              	<td colspan="2" class="borderleft borderbottom tdcenter">
              		{{academicdean}}
              	</td>
              	<td class="borderleft borderbottom"></td>
              	<td class="tdcenter td75 borderleft borderbottom"><span style="font-size: 12px">Blank Grade</span></td>
              	<td class="tdcenter td75 borderright borderbottom borderleft">{{getpercentage(0,'Blank Grade')}}</td>
              	<td class="tdcenter td75 borderright borderbottom">{{getpercentage(1,'Blank Grade')}}%</td>
              </tr>
              <tr>
              	<td colspan="3" style="text-align: center;font-size: 11px;">
              		<i>*Grade Legend: D is Dropped; N is NFE; WP is for Widrawn with Permision</i>
              	</td>
              	<td class="tdcenter td75 borderleft ">Total</td>
              	<td class="tdcenter td75 borderright  borderleft">{{ classlistArr.length}}</td>
              	<td class="tdcenter td75 borderright ">100%</td>
              </tr>
              <tr>
              	<td colspan="6" class="bordered">&nbsp;</td>
              </tr>
            </table>
            <table style="width: 100%" cellspacing="0" cellpadding="0" class="subdits">
              <tr>
              	<th class="borderleft borderright borderbottom">No.</th>
                <th class="borderright borderbottom">ID NUMBER</th>
                <th class="borderright borderbottom">NAME</th>
              	<th class="borderright borderbottom">GENDER</th>
              	<th class="borderright borderbottom">GRADE</th>
              	<th class="borderright borderbottom">REMARKS</th>
              </tr>
              <tr  *ngFor="let e of classlistArr; let i = index">
                  <td class="borderleft borderright  borderbottom" style="text-align: right;">{{i+1}}</td>
                  <td class="borderright borderbottom">{{e.idNumber}}</td>
                  <td class="borderright borderbottom">{{e.name}}</td>
                  <td class="borderright borderbottom tdcenter">{{e.gender}}</td>
                  <td class="borderright borderbottom tdcenter">{{e.grade}}</td>
                  <td class="borderright borderbottom">{{e.remark}}</td>
            </table>
            <br>
            <br>
            Checked by:
            <br>
            <br>
            <br>
            <br>
            Name and Signature
		  </div>
      </div>
	</mat-card-content>
</mat-card>
<div mat-dialog-actions>
	<table style="width: 100%">
		<tr>
			<td>
  				<button mat-raised-button (click)="onNoClickclose()" color="warning"  style="float: left">Close</button>
			</td>
			<td>
				<button mat-raised-button color="primary" (click)="egsprint()"  style="float: right" ><i class="material-icons">print</i> Print</button>
			</td>
		</tr>
	</table>
  
</div>
</div>
 