<div id="aWE">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Filter</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table width="100%">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepicker]="picker3" placeholder="Date Filed" (click)="picker3.open()" [(ngModel)]="dateFiled" name="fromdatefilter" required>
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="leave Type" [(ngModel)]="leaveType">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Reason" [(ngModel)]="reasonfilter">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepicker]="picker1" placeholder="From date" (click)="picker1.open()" [(ngModel)]="from" name="fromdatefilter" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="To date" (click)="picker2.open()" [(ngModel)]="to" name="todatefilter" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Total Minutes" [(ngModel)]="totalMinutes">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="100%">
                        <mat-form-field>
                            <mat-label>Action</mat-label>
                            <mat-select [(ngModel)]="fterm">
                                <!-- <mat-option  value='1' (click)="filterall('onoutfocus')">
					          Approved with pay 
					        </mat-option>
					        <mat-option  value='2' (click)="filterall('onoutfocus')">
					          Approved without pay
					        </mat-option>
					        <mat-option  value='4' (click)="filterall('onoutfocus')">
					          Unauthorized
					        </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <table width="100%">
        <tr>
            <!-- 
			<td align="left">
				<button mat-raised-button style="background-color: #a20808 !important;color: white" (click)="deleteorg()" class="btnstyle" *ngIf="type==='update'">
	    			<i class="material-icons">delete</i><span style="margin-top: 7px;font-size: 11px !important;">Delete&nbsp;&nbsp;&nbsp;</span>
	    		</button>
			</td> -->
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
                <button mat-raised-button color="primary" (click)="save()">Save</button>
            </td>
        </tr>
    </table>
</div>