<div class="example-box" id='es' style="right: 20px;padding: 10px">
	<mat-card-header >
    <mat-card-title>
    	Subjects that are not credited
	  		</mat-card-title>
  </mat-card-header>
  
  <mat-card-content class='colo'>
		<div style="
		max-height: calc(100vh - 300px);
  		overflow-y: scroll;">
	  <div style="height: 5px"></div>
	  <table class="apptable" style="width: 100%">
          <tr>
            <th style="width: 100px;text-align: center;">
              Subject ID
            </th>
            <th>
              Subject Title
            </th>
            <th style="width: 80px;text-align: center;">
              Total Units
            </th>
            <th style="width: 62px;text-align: center;">
              Grade
            </th>
          </tr>
      </table>
      <div  *ngIf="notcredited!=undefined">
      	<mat-radio-group aria-label="Select an option">
      	<div *ngFor="let a of notcredited; let i = index">
		  <table class="apptable">
	          <tr>
	          	<td style="width: 100px;text-align: left;">
	              {{ a.subjectId }}
	            </td>
	            <td style="text-align: left;">
	              {{ a.subjectTitle }}
	            </td>
	            <td style="width: 80px;text-align: center;">
	              {{ a.units }}
	            </td>
	            <td style="width: 62px;text-align: center;">
	            	{{ a.grade }}
	            </td>
	          </tr>
	      </table>
      	</div>
      	</mat-radio-group>
      </div>
	  <table class="apptable">

          <tr *ngIf="notcredited===undefined">
          	<td  colspan="4">
          		<mat-spinner style="margin-left: auto;margin-right: auto;" ></mat-spinner>
          	</td>
          </tr>
		  	<tr  *ngIf="notcredited!=undefined">
		  		<td colspan="4"  *ngIf="notcredited.length==0" >
					      <p style="text-align: center;"><i>- No result found! -</i></p>
		  		</td>
		  	</tr>
        </table>
        </div>
        <p>
        	<b>NOTE:</b> Please contact your program chair to credit this subject(s).
        </p>
        <div style="height: 5px"></div>
	  			<button mat-raised-button (click)="onNoClickclose()" style="float: right;"> <i class="material-icons iconsize">close</i> Close</button>
    </mat-card-content>
	</div>