  <mat-card class="example-card" id="changep" style='padding: 0 !important;'>
  <mat-card-header >
    <mat-card-title><b>Change Password</b></mat-card-title>
    <mat-card-subtitle *ngIf="global.getvalidation().dp">To secure your account, please change the default password</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content class='colo'>
		  <table  cellspacing="0" style="width: 100%">
		  <tr *ngIf="!global.getvalidation().dp">
		    <td width="100%">

		                <mat-grid-list cols="9" rowHeight="70px">
		                    <mat-grid-tile [rowspan]="1"  class="login-icon">
		                        <mat-icon>remove_red_eye</mat-icon>
		                    </mat-grid-tile>
		                    <mat-grid-tile [colspan]="7">
		                        <mat-form-field class="example-full-width">
		                            <input matInput placeholder="Current Password" text="password" type="password"  [(ngModel)]="pword" [readonly]='global.getvalidation().dp'>
		                        </mat-form-field>
		                    </mat-grid-tile>
		                </mat-grid-list>
		    </td>
		  </tr>
		  <tr *ngIf="!global.getvalidation().vali&&global.getvalidation().dp">
		    <td width="100%">
		    	<b>Identify yourself as the owner of this account.</b><br>
		    	<small>Input your last name together with your birthdate(MMDDYYYY).</small>
		    	<div style="height: 10px"></div>
		                <mat-grid-list cols="9" rowHeight="78px">
		                    <mat-grid-tile [rowspan]="1"  class="login-icon">
		                        <mat-icon>remove_red_eye</mat-icon>
		                    </mat-grid-tile>
		                    <mat-grid-tile [colspan]="7">
		                        <mat-form-field class="example-full-width">
		                            <input matInput placeholder="E.g. delacruz01151998" type="text"  [(ngModel)]="vali">
		                        </mat-form-field>
		                    </mat-grid-tile>
		                </mat-grid-list>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
                <mat-grid-list cols="9" rowHeight="70px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="New Password" text="password" type="password"  [(ngModel)]="npword">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">

		                <mat-grid-list cols="9" rowHeight="70px">
		                    <mat-grid-tile [rowspan]="1"  class="login-icon">
		                        <mat-icon>remove_red_eye</mat-icon>
		                    </mat-grid-tile>
		                    <mat-grid-tile [colspan]="7">
		                        <mat-form-field class="example-full-width">
		                            <input matInput placeholder="Confirm Password" text="password" type="password"  [(ngModel)]="cpword">
		                        </mat-form-field>
		                    </mat-grid-tile>
		                </mat-grid-list>
		    </td>
		  </tr>
		  </table>
	<div mat-dialog-actions style="float: right">
	  <button mat-raised-button (click)="onNoClickclose()" color="warning" *ngIf="!global.getvalidation().dp">Close</button>
	  <button mat-raised-button (click)="cancel()" color="warning" *ngIf="global.getvalidation().dp" style="float: left;">Cancel</button>
	  <button mat-raised-button color="primary" (click)="submit3()" >Save</button>
	</div>
</mat-card-content>
 