<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>FREQUENTLY ASKED QUESTIONS</mat-card-title>
    <span class="example-spacer"></span>
  <button mat-raised-button (click)="noclick()" color="warning" style="margin-right: 10px;margin-top: -4px;height: 35px"><span style="color: black !important;">Close</span></button>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>
    <div class="module_3" style="max-height: calc(100vh - 500px);overflow-y: scroll;">
		<div>
		<h3>1. How can I register for an account?</h3>
		In case you do not have any existing third-party account<em>, 
		you will have to register a <strong>USL account</strong> providing your <strong>ID Number</strong> (which will serve as your username) 
		and your desired <strong>Password</strong> to access the portal.</em>

		<h3>2. How can I change my account information?</h3>
		<p>If you want to change your account information (passwords / third-party account), go to the CICT (formerly CCIS) and fill-up a form for Update of Account.</p>

		<h3>3. Can our records be viewed by other students using their accounts?</h3>
		<p>No, only the records of the student who owns the account (based on IDNumber) can be viewed by the same student.</p>
		<p><font color="red"><strong>TAKE NOTE!</strong></font> Always log-out from the portal after using it to prevent other persons from viewing your records.</p>
		</div>
	</div>
  </mat-card-content>
</mat-card>
