mat-form-field {
    width: 100%
}

.mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

#aWE {
    /* overflow-y: scroll; */
    max-height: 90vh
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

.secondTable {
    margin-top: -20px;
}

.btnstyle {
    font-size: 11px;
    width: 28px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px
}