<div id="aWE" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>OFFICIAL BUSINESS DETAILS</b></mat-card-title>

        </mat-card-header>

        <mat-card-content class='colo'>
            <table width="100%">

                <tr>
                    <td width="100%">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Venue" [(ngModel)]="venue">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sponsor/Company" [(ngModel)]="companyname">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td width="40%">
                        <mat-form-field style="width: 100%;margin-top: -3px!important">
                            <mat-label>Category</mat-label>
                            <mat-select [(ngModel)]="STID">
                                <mat-option value="{{c.trainingtypeID}}" *ngFor="let c of progTypeArr" (click)="setTrainingType(c.trainingType)">
                                    {{c.trainingType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <table width="100%">
        <tr>
            <td align="left">
            </td>
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
                <button mat-raised-button color="primary" (click)="save()">Save</button>
            </td>
        </tr>
    </table>
</div>