
<mat-card class="example-card" id="ebcg"  style="padding: 0 " *ngIf="global.empPInfo!=undefined&&global.empInfo!=undefined">
   <mat-card-header >
    <mat-card-title>Other Info</mat-card-title>
    <mat-card-subtitle><i>Disclaimer: If there are information here that need to be updated, please inform the Human Resource Management and Development Office (HRMDO).</i></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px">
  <mat-accordion>
	  <mat-expansion-panel  [expanded]="true">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Educational Attainment</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

    	<table class="apptable" style="width:100%">
          <tr>
            <th style="text-align: center;">
              PROGRAM LEVEL
            </th>
            <th style="text-align: center;">
              PROGRAM NAME
            </th>
            <th style="text-align: center;">
             SCHOOL NAME
            </th>
            <th width="125px" style="text-align: center;">
              YEAR GRADUATED
            </th>
          </tr>
          <tr *ngFor="let e of global.empEducBcgArray">
            <td>{{e.programLevel}}</td>
            <td>{{e.programName}}</td>
            <td>{{e.schoolName}}</td>
            <td>{{e.yearGraduated}}</td>
          </tr>
        </table>

	  </mat-expansion-panel>
	  <mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70;">Seminars, Training and Conferences *</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>

	    <button mat-raised-button color="primary" (click)="addSaTOpenDialog()" style="float: left">
			<i class="material-icons">add</i> Add New (seminar/Training/Conference)
		</button><br>&nbsp;		
	    <p style="color: red;font-size: 12px">*Note: Click on the record to [Update/Delete] information. It only applies to records that are subject for approval (highlighted in yellow).</p>
	    
	    <table class="apptable" id="childrenCSS">
          	<tr>
	    		<th style="display:none;">
		    		seminarid
		    	</th>
		    	<th style="text-align: center;">
		    		SEMINAR DESCRIPTIOM
		    	</th>
		    	<th style="display:none;;">
		    		SPONSOR
		    	</th>
		    	<th style="text-align: center;">
		    		VENUE
		    	</th>
		    	<th style="text-align: center;">
		    		START DATE
		    	</th>
		    	<th style="text-align: center;">
		    		END DATE
		    	</th>
		    	<th style="text-align: center;">
		    		CATEGORY
		    	</th>
		    	<th style="display:none;">
		    		TRAINING ID
		    	</th>
		    </tr>
		    
	        <tr *ngFor="let SaT of global.SeminarTableArr | paginate: seminarConfig" (click)="updateSaTOpenDialog(SaT,SaT.statusID)">
	        	<ng-container *ngIf="SaT.statusID===0; else second">
			    	<td style="display:none;">{{SaT.seminarid}}</td>
			    	<td style="background-color: #fcefa1">{{SaT.seminardescription}}</td>
			    	<td style="display:none;">{{SaT.companyname}}</td>
			    	<td style="background-color: #fcefa1">{{SaT.venue}}</td>
			    	<td width="6%" style="background-color: #fcefa1">{{SaT.startdate}}</td>
			    	<td width="6%" style="background-color: #fcefa1">{{SaT.enddate}}</td>
			    	<td width="7%" style="background-color: #fcefa1">{{SaT.trainingType}}</td>
			    	<td style="display:none;">{{SaT.trainingTypeID}}</td>
			    </ng-container>
			    <ng-template #second>
				    <ng-container>
				    	<td style="display:none;">{{SaT.seminarid}}</td>
				    	<td>{{SaT.seminardescription}}</td>
				    	<td style="display:none;">{{SaT.companyname}}</td>
				    	<td>{{SaT.venue}}</td>
				    	<td width="6%">{{SaT.startdate}}</td>
				    	<td width="6%">{{SaT.enddate}}</td>
				    	<td width="7%">{{SaT.trainingType}}</td>
				    	<td style="display:none;">{{SaT.trainingTypeID}}</td>
				    </ng-container>
				</ng-template>
		    </tr>
        </table>
        <pagination-controls (pageChange)="SeminarPageChanged($event)" style="float: right;"></pagination-controls>
	    <br>
	    <br>
	  



	  </mat-expansion-panel>

	  <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Work Experiences</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table class="apptable" id="childrenCSS">
          	<tr>
		    	<th style="text-align: center;">
		    		POSITION
		    	</th>
		    	<th style="text-align: center;">
		    		COMPANY NAME
		    	</th>
		    	<th style="text-align: center;">
		    		FROM
		    	</th>
		    	<th style="text-align: center;">
		    		TO
		    	</th>
		    </tr>
	        <tr *ngFor="let xp of global.empWorkXPArray">
		    	<td>{{xp.position}}</td>
		    	<td >{{xp.companyname}}</td>
		    	<td>{{xp.startdate}}</td>
		    	<td>{{xp.enddate}}</td>
		    </tr>
        </table>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Eligibilities</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <table class="apptable" id="childrenCSS">
          	<tr>
		    	<th style="text-align: center;">
		    		EXAMINATION
		    	</th>
		    	<th style="text-align: center;">
		    		DATE PASSED
		    	</th>
		    	<th style="text-align: center;">
		    		RATING
		    	</th>
		    </tr>
	        <tr *ngFor="let el of global.empEligArray">
		    	<td>{{el.examination}}</td>
		    	<td >{{el.datepassed}}</td>
		    	<td>{{el.rating}}</td>
		    </tr>
        </table>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Membership to Professional Organizations *</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" (click)="addOrgOpenDialog()" style="float: left">
			<i class="material-icons">add</i> Add New (Organization)
		</button><br>&nbsp;		
	    <p style="color: red;font-size: 12px">*Note: Click on the record to [Update/Delete] information. It only applies to records that are subject for approval (highlighted in yellow).</p>
	    
	    <table class="apptable" id="childrenCSS" style="width: 80%">
          	<tr>
	    		<th style="display:none;">
		    		organizationid
		    	</th>
		    	<th style="text-align: center;width: 250px">
		    		POSITION
		    	</th>
		    	<th style="text-align: center;width: 250px">
		    		ORGANIZATION
		    	</th>
		    	<th style="text-align: center;width: 100px">
		    		EXPIRATION DATE
		    	</th>
		    </tr>
		    
	        <tr *ngFor="let org of global.OrganizationTableArr" (click)="updateOrgOpenDialog(org,org.statusID)">
	        	<ng-container *ngIf="org.statusID===0; else second">
			    	<td style="display:none;">{{org.organizationid}}</td>
			    	<td style="background-color: #fcefa1">{{org.position}}</td>
			    	<td style="background-color: #fcefa1">{{org.organization}}</td>
			    	<td style="background-color: #fcefa1">{{org.expirationDate | date: 'MM/dd/yyyy'}}</td>
			    </ng-container>
			    <ng-template #second>
				    <ng-container>
				    	<td style="display:none;">{{org.organizationid}}</td>
				    	<td>{{org.position}}</td>
				    	<td>{{org.organization}}</td>
				    	<td>{{org.expirationDate | date: 'MM/dd/yyyy'}}</td>
				    </ng-container>
				</ng-template>
		    </tr>
        </table>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Research and Publications *</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <button mat-raised-button color="primary" (click)="addResOpenDialog()" style="float: left">
			<i class="material-icons">add</i> Add New (Research)
		</button><br>&nbsp;		
	    <p style="color: red;font-size: 12px">*Note: Click on the record to [Update/Delete] information. It only applies to records that are subject for approval (highlighted in yellow).</p>
	    
	    <table class="apptable" id="childrenCSS" style="width: 100%">
          	<tr>
	    		<th style="display:none;">
		    		researchID
		    	</th>
		    	<th style="text-align: center;width: 250px">
		    		RESEARCH TITLE
		    	</th>
		    	<th style="text-align: center;">
		    		REMARKS
		    	</th>
		    	<th style="text-align: center;width: 100px">
		    		DATE COMPLETED
		    	</th>
		    	<th style="text-align: center;width: 100px">
		    		COPYRIGHT YEAR
		    	</th>
		    	<th style="text-align: center;width: 100px">
		    		RESEARCH TYPE
		    	</th>
		    </tr>
		    
	        <tr *ngFor="let res of global.ResearchArray" (click)="updateResOpenDialog(res,res.statusID)">
	        	<ng-container *ngIf="res.statusID===0; else second">
			    	<td style="display:none;">{{res.researchID}}</td>
			    	<td style="background-color: #fcefa1">{{res.title}}</td>
			    	<td style="background-color: #fcefa1">{{res.remarks}}</td>
			    	<td style="background-color: #fcefa1">{{res.dateCompleted | date: 'MM/dd/yyyy'}}</td>
			    	<td style="background-color: #fcefa1">{{res.copyrightYear}}</td>
			    	<td style="background-color: #fcefa1">{{res.researchType}}</td>
			    </ng-container>
			    <ng-template #second>
				    <ng-container>
				    	<td style="display:none;">{{res.researchID}}</td>
				    	<td>{{res.title}}</td>
				    	<td>{{res.remarks}}</td>
				    	<td>{{res.dateCompleted | date: 'MM/dd/yyyy'}}</td>
				    	<td>{{res.copyrightYear}}</td>
				    	<td>{{res.researchType}}</td>
				    </ng-container>
				</ng-template>
		    </tr>
        </table>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Community Engagement *</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <button mat-raised-button color="primary" (click)="addCEOpenDialog()" style="float: left">
			<i class="material-icons">add</i> Add New (Community Engagement)
		</button><br>&nbsp;		
	    <p style="color: red;font-size: 12px">*Note: Click on the record to [Update/Delete] information. It only applies to records that are subject for approval (highlighted in yellow).</p>
	    
	    <table class="apptable" id="childrenCSS" style="width: 100%">
          	<tr>
	    		<th style="display: none;">
		    		ID
		    	</th>
		    	<th style="text-align: center;">
		    		DATE CONDUCTED
		    	</th>
		    	<th style="text-align: center;">
		    		ACTIVITY
		    	</th>
		    	<th style="text-align: center;">
		    		LOCATION
		    	</th>
		    </tr>
		    
	        <tr *ngFor="let ct of global.CommunityExtArray" (click)="updateCEOpenDialog(ct,ct.statusID)">
	        	<ng-container *ngIf="ct.statusID===0; else second">
			    	<td style="display:none;">{{ct.ceid}}</td>
			    	<td style="background-color: #fcefa1" width="12%">{{ct.dateConducted | date: 'MM/dd/yyyy'}}</td>
			    	<td style="background-color: #fcefa1">{{ct.activity}}</td>
			    	<td style="background-color: #fcefa1">{{ct.location}}</td>
			    </ng-container>
			    <ng-template #second>
				    <ng-container>
				    	<td style="display:none;">{{ct.ceid}}</td>
				    	<td>{{ct.dateConducted | date: 'MM/dd/yyyy'}}</td>
				    	<td>{{ct.activity}}</td>
				    	<td>{{ct.location}}</td>
				    </ng-container>
				</ng-template>
		    </tr>
        </table>

      </mat-expansion-panel>
<!-----------
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Speaking Engagement</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
	        <button mat-raised-button color="primary" (click)="addSEngOpenDialog()" style="float: left">
				<i class="material-icons">add</i> Add New (Speaking Engagement)
			</button><br>&nbsp;		
		    <p style="color: red;font-size: 12px">*Note: Click on the record to [Update/Delete] information. It only applies to records that are subject for approval (highlighted in yellow).</p>
		    
		    <table class="apptable" id="childrenCSS" style="width: 100%">
	          	<tr>
		    		<th style="display: none;">
			    		ID
			    	</th>
			    	<th style="text-align: center;">
			    		TITLE
			    	</th>
			    	<th style="text-align: center;">
			    		ORGANIZER
			    	</th>
			    	<th style="text-align: center;">
			    		VENUE
			    	</th>
			    	<th style="text-align: center;">
		    			START DATE
			    	</th>
			    	<th style="text-align: center;">
			    		END DATE
			    	</th>
			    </tr>
			    
		        <tr *ngFor="let e of global.speakingEngArr" (click)="updateCEOpenDialog(e,e.statusID)">
		        	<ng-container *ngIf="e.statusID===0; else second">
				    	<td style="display:none;">{{e.id}}</td>
				    	<td style="background-color: #fcefa1">{{e.conferenceTitle}}</td>
				    	<td style="background-color: #fcefa1">{{e.eventOrganizer}}</td>
				    	<td style="background-color: #fcefa1">{{e.venue}}</td>
				    	<td style="background-color: #fcefa1" width="12%">{{e.startDate | date: 'MM/dd/yyyy'}}</td>
				    	<td style="background-color: #fcefa1" width="12%">{{e.endDate | date: 'MM/dd/yyyy'}}</td>
				    </ng-container>
				    <ng-template #second>
					    <ng-container>
					    	<td style="display:none;">{{e.ceid}}</td>
					    	<td>{{e.dateConducted | date: 'MM/dd/yyyy'}}</td>
					    	<td>{{e.activity}}</td>
					    	<td>{{e.location}}</td>
					    </ng-container>
					</ng-template>
			    </tr>
	        </table>
	    

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b style="color: #294a70">Awards/Achievements</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
	    

      </mat-expansion-panel>
------------->
</mat-accordion>
    	
    </div>
  </mat-card-content>
</mat-card>
 