<div  id="pinfo" style="">
<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Sibling Information</b></mat-card-title>
  </mat-card-header>
  <div style="height: 10px"></div>
  <mat-card-content class='colo'>
  	<table>
  		<tr>
  			<td>
  		<table>
  		<tr>
  			<td>
		  			<table class="example-full-width" cellspacing="0">
						  <tr>
						    <td width="50%">
						    	<!-- <mat-form-field class="example-full-widthminus"  *ngIf="data.kind==1"  appearance="outline">
                      <mat-label>ID Number</mat-label>
						          <input autofocus matInput #idno2 maxlength="7" placeholder="" value="" [(ngModel)]="id" (keydown)="keyDownFunction($event)" name="idno" required="required">
						    	</mat-form-field>
						    	<mat-form-field class="example-full-widthminus"  *ngIf="data.kind!=1"  appearance="outline">
						          <input autofocus matInput #idno2 maxlength="7" placeholder="ID Number" value="" [(ngModel)]="id" name="idno" required="required"  readonly="readonly">
						    	</mat-form-field> -->

                  <mat-form-field class="example-full-widthminus">
                    <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id" name="idno" required="required"  (keydown)="keyDownFunction($event)">
                  </mat-form-field>

                  <!-- <button mat-mini-fab color="primary"  (click)="studentlookup()">
                    <mat-icon>search</mat-icon>
                  </button> -->
							</td>
				        <td style="padding-left: 10px">
                  <p style="color: red; font-size: 8.75px;">Input ID Number of sibling and hit ENTER</p>
				        </td>
						  </tr>
						  </table>

				    <h2 *ngIf="lname!=''" style="margin: 0px">{{lname}}, {{fname}} {{mname}} {{suffix}}</h2>
				    <!-- <div style="height: 10px"></div>
				    <table class="example-full-width" >
				        <tr>
				          <td style="width: 100px">
						  	<mat-form-field style="width: 125px">
						      <input matInput placeholder="Year/Grade" value="" [(ngModel)]="yearlevel" readonly="readonly">
						    </mat-form-field>
				          </td>
				          <td style="width:300px">
						  	<mat-form-field class="example-full-width">
						      <input matInput placeholder="Course" value="" [(ngModel)]="course" readonly="readonly">
						    </mat-form-field>
				          </td>
				          <td></td>
				        </tr>
				    </table> -->

				  			</td>
				  		</tr>
				  	</table>


  			</td>
  		</tr>
  	</table>

	</mat-card-content>
</mat-card>
</div>
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button *ngIf="saveButtonTrigger" color="primary" (click)="save()" >Save</button>
  <button mat-raised-button *ngIf="!saveButtonTrigger" color="primary" (click)="save()" [disabled]= "true">Save</button>
</div>
