<mat-card class="example-card" id="es"  style="padding: 0" *ngIf='studinfo!=undefined'>
   <mat-card-header >
    <mat-card-title>Enrollment for {{global.syDisplay(global.enrollmentsy)}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>

    <mat-divider></mat-divider>
    <div style="padding: 10px">
	  <mat-expansion-panel  [expanded]="true" style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Basic Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>

	    </mat-expansion-panel-header>
    <style type="text/css">
  		#users  td{
  			border: 0px solid #ddd;
  		}
  	</style>
  		  <table class="apptable" id="users" border="0">

  		  	<tr>
  		  		<td width="100px">
  		  			<b>ID Number:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.idNumber}}
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Name:</b>
  		  		</td>
  		  		<td>
  		  			{{global.userinfo.firstName}} {{global.userinfo.middleName}} {{global.userinfo.lastName}} {{global.userinfo.suffixName}}
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Year:</b>
  		  		</td>
  		  		<td>
              <span  *ngIf="studinfo.enrollmentStatus=='For Admission'" >{{getyear(studinfo.yearOrGradeLevel)}} </span>
              <span *ngIf="studinfo.enrollmentStatus=='Admitted'" >{{studinfo.yearOrGradeLevel}} </span>
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  			<b>Course:</b>
  		  		</td>
  		  		<td >
  		  			{{studinfo.course}}
  		  		</td>
  		  	</tr>
  		  </table>
	  </mat-expansion-panel>
    <mat-expansion-panel  *ngIf="
    studinfo.enrollmentStatus=='Admitted'&&
    ClassSchedule.length>0"  [expanded]="true"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Contact Information</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="apptable" id="users" border="0">
          <tr>
            <td width="200px">
              <b>Telephone Number</b>
            </td>
            <td>
              {{global.userdemog.telNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Cellphone Number</b>
            </td>
            <td>
              {{global.userdemog.mobileNo}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Email Address</b>
            </td>
            <td>
              {{global.userdemog.emailAdd}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Home Address</b>
            </td>
            <td>
              {{global.userdemog.homeAddress}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Current/Boarding Address</b>
            </td>
            <td>
              {{global.userdemog.currentAddress}}
            </td>
          </tr>
        </table>
    </mat-expansion-panel>
	  <mat-expansion-panel  [expanded]="true"  *ngIf="
    studinfo.enrollmentStatus=='For Admission'||
    (studinfo.enrollmentStatus=='Admitted'&&ClassSchedule.length==0)"  style="max-width: 950px">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b style="color: #294a70">Contact Information</b>
	      </mat-panel-title>
	      <mat-panel-description>
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	     <table class="example-full-width" cellspacing="0"  style="max-width: 900px"><tr>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Telephone Number</mat-label>
			      <input matInput [(ngModel)]="tno" placeholder="">
			    </mat-form-field>
			</td>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Cellphone Number</mat-label>
			      <input matInput [(ngModel)]="cno" placeholder="">
			    </mat-form-field>
			</td>
		    <td style="padding-right: 10px">
			    <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>E-mail Address</mat-label>
			      <input matInput [(ngModel)]="email" placeholder="">
			    </mat-form-field>
			</td>
		  	</tr></table>

		  <table class="example-full-width" cellspacing="0"  style="max-width: 900px">
		  <tr>
		    <td width="30%">
		  	<mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Street</mat-label>
		      <input matInput placeholder="" [(ngModel)]="permNoStreet" name="lrno">
		    </mat-form-field></td>
		  	<td style="padding-left: 10px;padding-top: 9px">
		    <mat-form-field class="example-full-widthminus"  appearance="outline" (click)="openDialog(1)">
            <mat-label>Home Address</mat-label>
		      <input autofocus matInput  placeholder="" [(ngModel)]="homeaddress" readonly="readonly">

		    </mat-form-field>
		    <button mat-mini-fab color="primary"  (click)="openDialog(1)">
			    <mat-icon>search</mat-icon>
			  </button>
		  	</td>
		  </tr>
		  </table>

		  <table class="example-full-width" cellspacing="0"  style="max-width: 900px">
		  <tr>
		    <td width="30%">
		  	<mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Street</mat-label>
		      <input matInput placeholder="Street" [(ngModel)]="currNoStreet" name="lrno">
		    </mat-form-field></td>
		  	<td style="padding-left: 10px;padding-top: 9px">
		    <mat-form-field class="example-full-widthminus"  appearance="outline"  (click)="openDialog(2)">
            <mat-label>Current/Boarding Address</mat-label>
		      <input autofocus matInput  placeholder="" [(ngModel)]="boardingaddress" readonly="readonly">

		    </mat-form-field>
		    <button mat-mini-fab color="primary" (click)="openDialog(2)">
			    <mat-icon>search</mat-icon>
			  </button>
		  	</td>
		  </tr>
		  </table>
	  </mat-expansion-panel>

<!-- <mat-expansion-panel [expanded]="true" style="max-width: 950px" *ngIf="
    studinfo.enrollmentStatus=='For Admission'||
    (studinfo.enrollmentStatus=='Admitted'&&ClassSchedule.length==0)" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Learning Modality</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
<table *ngIf="!exist">
  <tr>
    <td style="width: 280px" >
      <mat-radio-group aria-label="Select an option"  [(ngModel)]="selected">
        <mat-card  *ngFor="let a of array;">
        <div style="height: 10px"></div>
          <mat-radio-button value="{{a.id}}">{{a.name}}</mat-radio-button>
        <div style="height: 10px"></div>
        </mat-card>
      </mat-radio-group>
    </td>
    <td style="width:300px">
      <table style="width: 100%"  >
        <tr>
          <td style="text-align: center;" >
            <div *ngFor="let a of array;">
            <h3 *ngIf="selected==a.id.toString()" style="margin: 0">{{a.name}}</h3>
            <p *ngIf="selected==a.id.toString()">
              {{a.description}}
            <p>
            </div>
            <div  *ngIf="selected==''">

              <div style="height:30px"></div>
              Please Select your<br>
              preffered Learning Modality.
              <div style="height:40px"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
                //<button mat-raised-button color="primary" form="ngForm" [disabled]="selected===undefined||checktemp" (click)="check()">
                //  <i class="material-icons">done_outline</i> Select Learning Modality
                // </button>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table *ngIf="exist">
  <tr>
    <td>
      <h2 style="margin: 0;background-color: #006600;color: white;padding: 10px;border-radius: 10px">Currently Selected Modality: <b>{{arrayexist[0].name}}</b></h2>
    </td>

  </tr>
</table>
<p *ngIf="exist" style="max-width: 500px">{{arrayexist[0].description}}</p>
<div style="height: 10px"></div>
       <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner>
       <div *ngIf="array!=undefined">
        <p *ngIf="array.length===0" style="text-align: center;"><i>- No Learning Modality found! -</i></p>
      </div>
    </mat-expansion-panel> -->
    <mat-expansion-panel [expanded]="true"  *ngIf="(studinfo.enrollmentStatus=='For Admission'||(studinfo.enrollmentStatus=='Admitted'&&studinfo.onlineEnrolled==1))&&ClassSchedule.length==0"  style="max-width: 950px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enroll Subjects</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


        <div style="height: 5px"></div>
        <table>
          <tr>
            <td style="width: 30px">
              <b>Set:</b>
            </td>
            <td>
              <mat-form-field style="margin-top: -16px;width: 250px">
                <mat-select [(ngModel)]="setvar" name="gender" placeholder="- Select -">
                <mat-option  *ngFor="let x of setfiltered" value="{{x.headerId}}">{{x.setDescription}}</mat-option>
              </mat-select>
              </mat-form-field>
          </td>
          </tr>
        </table>
        <div style="height: 20px"></div>
        <table class="apptable">
          <tr>
          <th style="width: 60px;text-align: center;">Code No.</th>
          <th style="width: 75px;text-align: center;">Subject ID</th>
          <th>Descriptive Title</th>
          <th style="width: 50px;text-align: center;">Day</th>
          <th style="width: 120px;text-align: center;">Time</th>
          <th style="width: 55px;text-align: center;">Room</th>
          <th style="width: 40px;text-align: center;">Units</th>
          </tr>
          <tr *ngFor="let a of tableArr">
            <td style="text-align: center;">{{a.codeNo}}</td>
            <td style="text-align: center;">{{a.subjectId}}</td>
            <td>{{a.subjectTitle}}</td>
            <td style="text-align: center;">{{a.day}}</td>
            <td style="text-align: center;">{{a.time}}</td>
            <td style="text-align: center;">{{a.roomNumber}}</td>
            <td style="text-align: center;">{{a.units}}</td>
          </tr>
        </table>

                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
               <div *ngIf="tableArr!=undefined">
                <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
              </div>
        <div style="height: 10px"></div>
              <mat-checkbox [(ngModel)]='agree1'>I certify that all of the above information</mat-checkbox>  are true and correct.<br>
          <button mat-raised-button color="primary" form="ngForm" style="float: right;" [disabled]="checkenroll&&!(agree1)" (click)="confirmenroll()"><i class="material-icons">
      done_outline
      </i> Enroll</button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true"  style="max-width: 950px" *ngIf="(this.studinfo.enrollmentStatus=='Admitted'||this.studinfo.enrollmentStatus=='Paid')&&ClassSchedule.length!=0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b style="color: #294a70">Enrolment</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
            <!-- <p style="text-align: center;">
              <b>*NOTE:</b> You are successfully pre-enrolled the subjects but you are not yet officially enrolled.<br>
              You may now proceed to your designated program chair for printing of your enrollment form or click the enrolment form button.
            </p> -->
            <p>
              <b>*NOTE:</b><br>A. For incoming first-year students and transferees, please submit the following documentary requirements to be considered officially enrolled.
            </p>
            <ul tyle="a">
              <li>
                2x2 ID picture (white background, casual attire, natural hair color, clean haircut, and no earring for male students)
              </li>
              <li>
                PSA-Authenticated Birth Certificate
              </li>
              <li>
                SHS Report Card
              </li>
              <li>
                Certificate of Good Moral Character
              </li>
              <li>
                Printed and signed Personal Information Sheet <span style="font-style: italic;">(generated form after online Enrolment process)</span>
              </li>
              <li>
                Church Marriage Certificate, if married
              </li>
              <li>
                Affidavit of Non-cohabitation if single parent
              </li>
              <li>
                Certificate of Solo Parent
              </li>
            </ul>
            B. For old/returning students, please settle your down payment to be considered officially enrolled.
            <br>
            <p style="background-color: #294a70; color: white;padding: 10px 10px 10px 10px; border: 1px solid black">
              <strong>IMPORTANT REMINDER<br> FAILURE TO SUBMIT ADMISSION REQUIREMENTS MAY MEAN INVALIDATION OF ENROLMENT. PLEASE BE GUIDED PROPERLY.</strong>
            </p>
            <hr>



            <app-enrollment-form
            [studinfo]="studinfo"
            [familyarray]="familyarray"
            [personalInfo]="personalInfo"
            ></app-enrollment-form>
        </mat-expansion-panel>

    <div style="height: 50px"></div>
    </div>
  </mat-card-content>
</mat-card>
