
<div id="es"><mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Address Look up</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
		  <table  cellspacing="0" style="width: 100%">
		  <tr>
		    <td width="100%">
            <mat-form-field style="width: 100%" >
              <mat-label>Province</mat-label>
              <mat-select  [(ngModel)]="prov" >
                <mat-option value="{{f.province}}"  *ngFor="let f of provinces" (click)="gettowncity(f.province)">
                  {{f.province}}
                </mat-option>
              </mat-select>
            </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
            <mat-form-field  style="width: 100%">
              <mat-label>Town/City:</mat-label>
              <mat-select  [(ngModel)]="town">
                <mat-option value="{{f.townOrCity}}"  *ngFor="let f of towncity"  (click)="getbarangay(prov,f.townOrCity)">
                  {{f.townOrCity}}
                </mat-option>
              </mat-select>
            </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
            <mat-form-field style="width: 100%" >
              <mat-label>Barangay</mat-label>
              <mat-select  [(ngModel)]="bar" >
                <mat-option value="{{f.psgc}}"  *ngFor="let f of barangay" (click)="see(f.barangay)">
                  {{f.barangay}}
                </mat-option>
              </mat-select>
            </mat-form-field>
		    </td>
		  </tr>
		  </table>
		  
	</mat-card-content>
</mat-card>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  <button mat-raised-button color="primary" (click)="onNoClick()" >Save</button>
</div>
</div>
 