<div  id="aSaT" style="">
<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Add Seminar and Training</b></mat-card-title>
  </mat-card-header>
  <div style="height: 10px"></div>
  <mat-card-content class='colo'>
		  <table  cellspacing="0" style="width: 100%">
		  <tr>
		    <td width="100%" colspan="2">
			  	<mat-form-field class="example-full-width">
			      <input matInput placeholder="Seminar Description"  [(ngModel)]="seminardesc">
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%" colspan="2">
		    	<mat-form-field class="example-full-width">
			      <input matInput placeholder="Sponsor/Company"  [(ngModel)]="companyname">
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%" colspan="2">
			  	<mat-form-field class="example-full-width">
			      <input matInput placeholder="Venue"  [(ngModel)]="venue">
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		  	<td width="50%" style="padding-left: 5px">
			  	<mat-form-field class="example-full-width">
			      <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()"  [(ngModel)]="sdate" name="sdate" required>
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
			    </mat-form-field>
		    </td>
		    <td width="50%" style="padding-left: 5px">
			  	<mat-form-field class="example-full-width">
			      <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()"  [(ngModel)]="edate" name="edate" required>
					  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					  <mat-datepicker #picker2></mat-datepicker>
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%"  colspan="2">
		  		<mat-form-field style="width: 100%" >
	              <mat-label>Category</mat-label>
	              <mat-select  [(ngModel)]="STID" >
	                <mat-option value="{{c.trainingtypeID}}" *ngFor="let c of progTypeArr">
	                  {{c.trainingType}}
	                </mat-option>
	              </mat-select>
	            </mat-form-field>
		    </td>
		  </tr>
		  </table>
		  
	</mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions >
	<table width="100%">
		<tr>
			<td align="left">
				<button mat-raised-button style="background-color: #a20808 !important;color: white" (click)="deletesat()" class="btnstyle" *ngIf="type==='Update'">
	    			<i class="material-icons">delete</i><span style="margin-top: 7px;font-size: 11px !important;">Delete&nbsp;&nbsp;&nbsp;</span>
	    		</button>
			</td>
			<td align="right">
				<button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  				<button mat-raised-button color="primary" (click)="save()" >Save</button>
			</td>
		</tr>
	</table>
</div>