<div  id="ares" style="">
<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>{{type}} community engagement</b></mat-card-title>
  </mat-card-header>
  <div style="height: 10px"></div>
  <mat-card-content class='colo'>
		  <table  cellspacing="0" style="width: 100%">
		  <tr>
		    <td width="100%">
			  	<mat-form-field class="example-full-width">
			      <input matInput placeholder="Activity"  [(ngModel)]="activity">
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="50%" style="padding-left: 5px">
			  	<mat-form-field class="example-full-width">
			      <input readonly matInput [matDatepicker]="picker" placeholder="Date Conducted" (click)="picker.open()"  [(ngModel)]="date" name="date" required>
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
			    </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		    <td width="100%">
			  	<mat-form-field class="example-full-width">
			      <input matInput placeholder="Location"  [(ngModel)]="location">
			    </mat-form-field>
		    </td>
		  </tr>
		  </table>
		  
	</mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  <button mat-raised-button color="primary" (click)="save()" >Save</button>
</div>