<mat-card class="example-card" id="es" style="padding: 0;overflow-y: auto">
   <mat-card-header >
    <mat-card-title>Academic History</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
<div style="height: 14px"></div>
<table class="apptable">
	<tr>
		<th style="width: 100px">Subject ID</th>
		<th>Descriptive Title</th>
		<th style="width: 75px">Grade</th>
		<th style="width: 75px">Units</th>
	</tr>
		
</table>

<div  style="max-height: calc(100vh - 313px);overflow-y: scroll;">
<table  *ngFor="let grade of gradearray; let i = index" class="apptable">
		<tr *ngIf="sy(i,grade.schoolYear)" style="text-align: center">
			<td colspan="4">
				<b>{{  getsy(grade.schoolYear) }}</b>
			</td>
		</tr>
		<tr *ngIf="sem(i,grade.schoolYear)" bgcolor="#f4f8fd">
			<td colspan="4">
				<b><i>{{  getsem(grade.schoolYear) }}</i></b>
			</td>
		</tr>
		<tr>
			<td style="width: 100px">
				{{ grade.subjectID }}
			</td>
			<td>
				{{ grade.subjectTitle }}
			</td>
			<td style="width: 69px">
				{{ grade.grade }}
			</td>
			<td style="width: 62px">
				{{ grade.units }}
			</td>
		</tr>
		<tr *ngIf="sem2(grade.schoolYear,i)" >
			<td colspan="4" style="text-align: right;color: red">
				<b><i>{{ calcgrade(grade.schoolYear) }}</i></b>
			</td>
		</tr>
</table>
<mat-spinner *ngIf="gradearray==undefined" style="margin:10px auto 10px auto"></mat-spinner>
</div>

  </mat-card-content>
</mat-card>
