<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>Exam Schedule - {{global.sydisplay}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
	
<style type="text/css">
	.mat-form-field-infix {
		width: auto !important;
	}
  .mat-form-field{
    margin-bottom: -10px;
  }
  th{
  	text-align: center;
  }
</style>
<div style="height: 14px"></div>
<div style="width: 100%;max-height: calc(100vh - 400px); overflow-y: scroll;">
                  
                  <table class="apptable" style="text-align: center;">
                    <tr>
                      <th style="width:50px">Code</th>
                      <th style="width:85px">Subject ID</th>
                      <th style="min-width:100px">Descriptive Title</th>
                      <th style="width:130px">Day</th>
                      <th style="width:80px">Time</th>
                      <th style="width:60px">Room</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let a of tableArr">
                      <td>{{a.codeNo}}</td>
                      <td>{{a.subjectId}}</td>
                      <td style="text-align: left;">{{a.title}}</td>
                      <td>{{a.day}}</td>
                      <td>{{a.time}}</td>
                      <td>{{a.roomNumber}}</td>

                    </tr>
                    </tbody>
                  </table>
</div>
                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
			         <div *ngIf="tableArr!=undefined">
			          <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
			        </div>
		  		  
  </mat-card-content>
</mat-card>
 