<mat-card class="example-card" id="es" style="padding: 0;overflow-y: auto;height: calc(100vh - 175px)">
  <mat-card-header>
    <mat-card-title>Assessment</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style='height: calc(100vh - 270px);padding: 0;'>
    <mat-divider></mat-divider>


    <mat-tab-group (selectedTabChange)="getindex($event)" style="position: absolute;width: calc(100% - 15px);z-index: 2;">
      {{global.studinfo.enrollmentStatus}}
      <mat-tab  label="For {{sydisplay1}}" 
        *ngIf='(global.enrollmenthist.length>0&&global.studinfo.enrollmentStatus!="Admitted")||(global.enrollmenthist.length==1&&global.studinfo.enrollmentStatus=="Paid")'>
        <!-- <iframe [src]="lastSY"
          style="width: calc(100% - 15px);height: 500px;padding: 15px 0px 15px 0px;position: absolute;z-index: 2;"
          frameborder="0">
        </iframe> -->
        <p class="header">Assessment for {{sydisplay1}}</p>
        <table *ngIf="feesBreakdown.length>0" style="padding-bottom: 15px;">
          <tr style="vertical-align: top">
            <td>
              <table class="AssessmentBox">
                <tr><td class="subHeader">Fees Breakdown</td></tr>
                <tr>
                  <td>
                    <table class="apptable" style="text-align: center;">
                      <tr>
                        <th class="assessmentTH">Particulars</th>
                        <th class="assessmentTH">Amount</th>
                      </tr>
                      <tbody>
                      <tr *ngFor="let a of feesBreakdown">
                        <td class="assessmentTD">{{a.description}}</td>
                        <td class="assessmentAmount">{{a.amount | number : '0.2-2'}}</td>
                      </tr>
                      <tr>
                        <th class="assessmentTD">TOTAL FEES</th>
                        <th class="assessmentAmount">{{TotalFees | number : '0.2-2'}}</th>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table class="AssessmentBox">
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Statement of Accounts</td></tr>
                      <tr>
                        <td>
                          <table class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">Ref Date</th>
                              <th class="assessmentTD">Ref No</th>
                              <th class="assessmentTD">Particulars</th>
                              <th class="assessmentTD">Debit</th>
                              <th class="assessmentTD">Credit</th>
                              <th class="assessmentTD">Balance</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of SOA">
                              <td class="assessmentTD">{{a.refDate  | date: 'MM/dd/yyyy'}}</td>
                              <td class="assessmentTD">{{a.refNo}}</td>
                              <td class="assessmentTD">{{a.particulars}}</td>
                              <td class="assessmentAmount">{{a.debit | number : '0.2-2'}}</td>
                              <td class="assessmentAmount">{{a.credit | number : '0.2-2' }}</td>
                              <td class="assessmentAmount">{{a.balance | number : '0.2-2' }}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="float: right;">
                      <table>
                        <tr><td style="height: 10px;"></td></tr>
                        <tr>
                          <td *ngIf="desc0!=''" class="assessmentAmount">{{desc0}}</td>
                          <td *ngIf="desc1!=''" class="assessmentAmount">{{desc1}}</td>
                          <td *ngIf="desc2!=''" class="assessmentAmount">{{desc2}}</td>
                          <td *ngIf="desc3!=''" class="assessmentAmount">{{desc3}}</td>
                          <td *ngIf="desc4!=''" class="assessmentAmount">{{desc4}}</td>
                        </tr>
                        <tr>
                          <td *ngIf="dueAmount0!=''"><input class="duesAmount" readonly="true" [value]="dueAmount0" type="text"></td>
                          <td *ngIf="dueAmount1!=''"><input class="duesAmount" readonly="true" [value]="dueAmount1" type="text"></td>
                          <td *ngIf="dueAmount2!=''"><input class="duesAmount" readonly="true" [value]="dueAmount2" type="text"></td>
                          <td *ngIf="dueAmount3!=''"><input class="duesAmount" readonly="true" [value]="dueAmount3" type="text"></td>
                          <td *ngIf="dueAmount4!=''"><input class="duesAmount" readonly="true" [value]="dueAmount4" type="text"></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr><td style="height: 10px;"></td></tr>
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Clearance/Obligations</td></tr>
                      <tr>
                        <td>
                          <table *ngIf="Clearance.length>0" class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">SchoolYear</th>
                              <th class="assessmentTD">Office</th>
                              <th class="assessmentTD">Remarks</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of Clearance">
                              <td class="assessmentTD">{{a.schoolYear}}</td>
                              <td class="assessmentTD">{{a.office}}</td>
                              <td class="assessmentTD">{{a.remarks}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="SOA===undefined"></mat-spinner>
        <div *ngIf="SOA!=undefined">
          <p *ngIf="SOA.length===0" style="text-align: center;"><i>- No Assessment Found! -</i></p>
        </div>
      </mat-tab>
      <mat-tab label="Previous SY ({{sydisplay2}})" *ngIf='global.enrollmenthist.length>1'>
        <!-- <div style="height: 500px; ">
          <iframe [src]="imagePath"
            style="width: calc(100% - 15px);height: 500px;padding: 15px 0px 15px 0px;position: absolute;z-index: 2;"
            frameborder="0">
          </iframe>
        </div> -->
        <p class="header">Assessment for {{sydisplay2}}</p>
        <table *ngIf="feesBreakdown.length>0" style="padding-bottom: 15px;">
          <tr style="vertical-align: top">
            <td>
              <table class="AssessmentBox">
                <tr><td class="subHeader">Fees Breakdown</td></tr>
                <tr>
                  <td>
                    <table class="apptable" style="text-align: center;">
                      <tr>
                        <th class="assessmentTH">Particulars</th>
                        <th class="assessmentTH">Amount</th>
                      </tr>
                      <tbody>
                      <tr *ngFor="let a of feesBreakdown">
                        <td class="assessmentTD">{{a.description}}</td>
                        <td class="assessmentAmount">{{a.amount | number : '0.2-2'}}</td>
                      </tr>
                      <tr>
                        <th class="assessmentTD">TOTAL FEES</th>
                        <th class="assessmentAmount">{{TotalFees | number : '0.2-2'}}</th>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table class="AssessmentBox">
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Statement of Accounts</td></tr>
                      <tr>
                        <td>
                          <table class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">Ref Date</th>
                              <th class="assessmentTD">Ref No</th>
                              <th class="assessmentTD">Particulars</th>
                              <th class="assessmentTD">Debit</th>
                              <th class="assessmentTD">Credit</th>
                              <th class="assessmentTD">Balance</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of SOA">
                              <td class="assessmentTD">{{a.refDate  | date: 'MM/dd/yyyy'}}</td>
                              <td class="assessmentTD">{{a.refNo}}</td>
                              <td class="assessmentTD">{{a.particulars}}</td>
                              <td class="assessmentAmount">{{a.debit | number : '0.2-2'}}</td>
                              <td class="assessmentAmount">{{a.credit | number : '0.2-2' }}</td>
                              <td class="assessmentAmount">{{a.balance | number : '0.2-2' }}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="float: right;">
                      <table>
                        <tr><td style="height: 10px;"></td></tr>
                        <tr>
                          <td *ngIf="desc0!=''" class="assessmentAmount">{{desc0}}</td>
                          <td *ngIf="desc1!=''" class="assessmentAmount">{{desc1}}</td>
                          <td *ngIf="desc2!=''" class="assessmentAmount">{{desc2}}</td>
                          <td *ngIf="desc3!=''" class="assessmentAmount">{{desc3}}</td>
                          <td *ngIf="desc4!=''" class="assessmentAmount">{{desc4}}</td>
                        </tr>
                        <tr>
                          <td *ngIf="dueAmount0!=''"><input class="duesAmount" readonly="true" [value]="dueAmount0" type="text"></td>
                          <td *ngIf="dueAmount1!=''"><input class="duesAmount" readonly="true" [value]="dueAmount1" type="text"></td>
                          <td *ngIf="dueAmount2!=''"><input class="duesAmount" readonly="true" [value]="dueAmount2" type="text"></td>
                          <td *ngIf="dueAmount3!=''"><input class="duesAmount" readonly="true" [value]="dueAmount3" type="text"></td>
                          <td *ngIf="dueAmount4!=''"><input class="duesAmount" readonly="true" [value]="dueAmount4" type="text"></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr><td style="height: 10px;"></td></tr>
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Clearance/Obligations</td></tr>
                      <tr>
                        <td>
                          <table *ngIf="Clearance.length>0" class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">SchoolYear</th>
                              <th class="assessmentTD">Office</th>
                              <th class="assessmentTD">Remarks</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of Clearance">
                              <td class="assessmentTD">{{a.schoolYear}}</td>
                              <td class="assessmentTD">{{a.office}}</td>
                              <td class="assessmentTD">{{a.remarks}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="SOA===undefined"></mat-spinner>
        <div *ngIf="SOA!=undefined">
          <p *ngIf="SOA.length===0" style="text-align: center;"><i>- No Assessment Found! -</i></p>
        </div>
      </mat-tab>

      <mat-tab label="Next SY ({{sydisplay3}})" *ngIf='global.enrollmenthist.length>1'>
        <!-- <div style="height: 500px; ">
          <iframe [src]="imagePath3"
            style="width: calc(100% - 15px);height: 500px;padding: 15px 0px 15px 0px;position: absolute;z-index: 2;"
            frameborder="0">
          </iframe>
        </div> -->
        <p class="header">Assessment for {{sydisplay3}}</p>
        <table *ngIf="feesBreakdown.length>0" style="padding-bottom: 15px;">
          <tr style="vertical-align: top">
            <td>
              <table class="AssessmentBox">
                <tr><td class="subHeader">Fees Breakdown</td></tr>
                <tr>
                  <td>
                    <table class="apptable" style="text-align: center;">
                      <tr>
                        <th class="assessmentTH">Particulars</th>
                        <th class="assessmentTH">Amount</th>
                      </tr>
                      <tbody>
                      <tr *ngFor="let a of feesBreakdown">
                        <td class="assessmentTD">{{a.description}}</td>
                        <td class="assessmentAmount">{{a.amount | number : '0.2-2'}}</td>
                      </tr>
                      <tr>
                        <th class="assessmentTD">TOTAL FEES</th>
                        <th class="assessmentAmount">{{TotalFees | number : '0.2-2'}}</th>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table class="AssessmentBox">
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Statement of Accounts</td></tr>
                      <tr>
                        <td>
                          <table class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">Ref Date</th>
                              <th class="assessmentTD">Ref No</th>
                              <th class="assessmentTD">Particulars</th>
                              <th class="assessmentTD">Debit</th>
                              <th class="assessmentTD">Credit</th>
                              <th class="assessmentTD">Balance</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of SOA">
                              <td class="assessmentTD">{{a.refDate  | date: 'MM/dd/yyyy'}}</td>
                              <td class="assessmentTD">{{a.refNo}}</td>
                              <td class="assessmentTD">{{a.particulars}}</td>
                              <td class="assessmentAmount">{{a.debit | number : '0.2-2'}}</td>
                              <td class="assessmentAmount">{{a.credit | number : '0.2-2' }}</td>
                              <td class="assessmentAmount">{{a.balance | number : '0.2-2' }}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="float: right;">
                      <table>
                        <tr><td style="height: 10px;"></td></tr>
                        <tr>
                          <td *ngIf="desc0!=''" class="assessmentAmount">{{desc0}}</td>
                          <td *ngIf="desc1!=''" class="assessmentAmount">{{desc1}}</td>
                          <td *ngIf="desc2!=''" class="assessmentAmount">{{desc2}}</td>
                          <td *ngIf="desc3!=''" class="assessmentAmount">{{desc3}}</td>
                          <td *ngIf="desc4!=''" class="assessmentAmount">{{desc4}}</td>
                        </tr>
                        <tr>
                          <td *ngIf="dueAmount0!=''"><input class="duesAmount" readonly="true" [value]="dueAmount0" type="text"></td>
                          <td *ngIf="dueAmount1!=''"><input class="duesAmount" readonly="true" [value]="dueAmount1" type="text"></td>
                          <td *ngIf="dueAmount2!=''"><input class="duesAmount" readonly="true" [value]="dueAmount2" type="text"></td>
                          <td *ngIf="dueAmount3!=''"><input class="duesAmount" readonly="true" [value]="dueAmount3" type="text"></td>
                          <td *ngIf="dueAmount4!=''"><input class="duesAmount" readonly="true" [value]="dueAmount4" type="text"></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr><td style="height: 10px;"></td></tr>
                <tr>
                  <td>
                    <table style="border-spacing: 0; width: 100%;">
                      <tr><td class="subHeader">Clearance/Obligations</td></tr>
                      <tr>
                        <td>
                          <table *ngIf="Clearance.length>0" class="apptable" style="text-align: center;">
                            <tr>
                              <th class="assessmentTD">SchoolYear</th>
                              <th class="assessmentTD">Office</th>
                              <th class="assessmentTD">Remarks</th>
                            </tr>
                            <tbody>
                            <tr *ngFor="let a of Clearance">
                              <td class="assessmentTD">{{a.schoolYear}}</td>
                              <td class="assessmentTD">{{a.office}}</td>
                              <td class="assessmentTD">{{a.remarks}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="SOA===undefined"></mat-spinner>
        <div *ngIf="SOA!=undefined">
          <p *ngIf="SOA.length===0" style="text-align: center;"><i>- No Assessment Found! -</i></p>
        </div>
      </mat-tab>

    </mat-tab-group>
    <!-- <mat-spinner style="margin-left: 365px;margin-top: 100px;position: relative;z-index: 1"
      *ngIf='(global.feesBreakdown.length>0&&!(global.enrollmenthist.length==1&&global.studinfo.enrollmentStatus=="Admitted"))||global.enrollmenthist.length>1'></mat-spinner> -->
    <!-- <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="feesBreakdown===undefined"></mat-spinner> -->
    <!-- <p style="text-align: left;margin-left: 275px;"
      *ngIf='(global.enrollmenthist.length>0&&!(global.enrollmenthist.length==1&&global.studinfo.enrollmentStatus=="Admitted"))||global.enrollmenthist.length>1'>
      Loading... Connecting to Accounting server</p> -->
    <!-- <p style="text-align: center;margin-left: 20px;margin-top: 20px;" *ngIf='feesBreakdown===undefined && global.studinfo.enrollmentStatus=="Admitted"'>No Assessment to
      Show. Please settle your downpayment<br> to generate your assessment.</p> -->


  </mat-card-content>
</mat-card>
