
<mat-card class="example-card" id="es"  style="padding: 0;overflow-y: auto;height: calc(100vh - 175px)">
   <mat-card-header >
    <mat-card-title>Payslip</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style='height: calc(100vh - 270px);padding: 0;'>
    <mat-divider></mat-divider>


    <div>
      <table style="width: 500px">
        <tr>
          <td>
            
            <mat-form-field style="width:300px;margin-bottom: -15px" appearance="outline" >
                <mat-label>- Pay Period -</mat-label>
                <mat-select [(ngModel)]="value"  (ngModelChange)='generatePDF(1)'>
                  <mat-option *ngFor="let x of array" [value]="x.recordID">
                    {{ x.name }} (<span style="font-size: 11px">{{ x.description }} </span>)
                    
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <td>
              <button  mat-raised-button color="primary" (click)="generatePDF(2)" style="float: right;">
              <i class="material-icons">print</i> Print/Download
              </button>
          </td>
        </tr>
      </table>
      <span style="margin-bottom: 10px; margin-left: 10px;font-size: 12px;text-align: center;">Payslip dates range only in 6 months. Please download your payslip.</span>
      <div style="height: 10px"></div>
</div>

  <iframe src="" style="width: 500px;height: calc(100vh - 340px)" *ngIf="url!=undefined" ></iframe> 

  </mat-card-content>
</mat-card>
