<div id="aWE">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <b>TIME SCHEDULE</b>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class='colo'>

            <table width="50%">
                <tbody>
                    <tr>

                        <td width="30%">
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Select leave form</mat-label>
                                    <mat-select [(ngModel)]="lType">
                                        <mat-option *ngFor="let form of leaveCategory" [value]="form.id">
                                            {{form.category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>

                        <td width="20%">
                            <div style="margin-left: 10px;" *ngIf="lType == 2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Faculty Type</mat-label>
                                    <mat-select [(ngModel)]="fType" [disabled]="facultyType.length == 0">
                                        <mat-option *ngFor="let type of facultyType" [value]="type.id">
                                            {{type.category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-divider></mat-divider>
            <br>

            <div style=" display: flex; flex-wrap: wrap; justify-content: space-evenly;" *ngIf="lType == 1 || lType == 4">
                <div *ngFor="let day of tempArray" class="schedule-card">

                    <p style="font-weight: bold; text-align: center; width: 100%; font-size: large; text-transform: uppercase; background-color: #294a70; color: white; margin: 0; height: 40px; display: flex; align-items: center; justify-content: center;">
                        {{day.day}}</p>
                    <p style="margin: 0px !important; text-align: center;">
                        <!-- <strong>AM</strong> -->
                        <br> <strong>{{convertTo12HourFormat(day.amTimeIn)}} -
                            {{convertTo12HourFormat(day.amTimeOut)}}</strong>
                        <br> ({{day.amTotalHrs}} hours)
                        <br>
                        <br>
                        <!-- <strong>PM</strong> -->
                        <br> <strong>{{convertTo12HourFormat(day.pmTimeIn)}} -
                            {{convertTo12HourFormat(day.pmTimeOut)}}</strong>
                        <br> ({{day.pmTotalHrs}} hours)
                    </p>

                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" *ngIf="lType == 2 && fType == 2">
                <div *ngFor="let day of displayTimeSchedule" class="faculty-schedule-card">
                    <p style="font-weight: bold; text-align: center; width: 100%; font-size: large; text-transform: uppercase; background-color: #294a70; color: white; margin: 0; height: 40px; display: flex; align-items: center; justify-content: center;">
                        {{day.displayDay}}
                    </p>
                    <br>
                    <div *ngFor="let detail of day.time; let i = index" style="margin: 0px !important; text-align: center;">
                        <strong>{{detail}}</strong>
                        <div style="display: flex; flex-direction: column;">
                            <span>{{day.subjectTitle[i]}}</span>
                            <span>Code: {{day.codeNo[i]}}</span>
                        </div>
                        <br>
                    </div>
                </div>

            </div>

            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" *ngIf="lType == 2 && fType == 3">

                <div *ngFor="let day of displayBesTimeSchedule" class="faculty-schedule-card">
                    <p style="font-weight: bold; text-align: center; width: 100%; font-size: large; text-transform: uppercase; background-color: #294a70; color: white; margin: 0; height: 40px; display: flex; align-items: center; justify-content: center;">
                        {{day.displayDay}}
                    </p>
                    <br>
                    <div *ngFor="let detail of day.time; let i = index" style="margin: 0px !important; text-align: center;">
                        <strong>{{detail}}</strong>
                        <div style="display: flex; flex-direction: column;">
                            <span>{{day.section[i]}}</span>
                            <span>   {{day.subject[i]}}</span>
                        </div>
                        <br>
                    </div>
                </div>

            </div>

            <div *ngIf=" lType == 2 && facultyType.length == 0">
                <p style="text-align: center;">
                    <b>
                        <h3>- NO AVAILABLE SCHEDULE -</h3>
                    </b>
                </p>
            </div>

            <div *ngIf=" lType == 1 && empSchedule.length == 0 ||  lType == 3 && empSchedule.length == 0">
                <p style="text-align: center;">
                    <b>
                        <h3>- NO AVAILABLE SCHEDULE -</h3>
                    </b>
                </p>
            </div>

        </mat-card-content>
    </mat-card>
</div>