.schedule-card {
    height: 175px;
    width: 175px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    // margin: 0px 7px 7px 0px;
}

.faculty-schedule-card {
    // height: 375px;
    width: 175px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    // margin: 0px 7px 7px 0px;
}