<mat-card class="example-card" *ngIf='data.pre==0'>
   <mat-card-header >
    <mat-card-title>
    	<b *ngIf="data.type==1">Receipt</b>
    	<b *ngIf="data.type==2">Update Details</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo' style="overflow-y: auto;max-height: calc(100vh - 400px)">
		 <div *ngIf="data.type==1">
		 	<h3 style="margin-top: 0px;margin-bottom: 10px;">{{data.data[0].lastName}}, {{data.data[0].firstName}} {{data.data[0].middleName}} {{data.data[0].suffixName}}</h3>
	          <div style="float: left;width: 40%"  class="fullwidth" *ngIf="!preenrollment">
	           Date of Payment:
	           <h3 style="margin-top: 0px;margin-left: 15px">{{data.data[0].datePaid | date:'mediumDate'}}</h3>
	          </div>
		 	<img [src]="attachment" style="width: 100%">
		 </div>	

		 <div *ngIf="data.type==2">
		 	
      <div style="padding:10px">
            <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Select Strand</mat-label>
              <mat-select [(ngModel)]="strandval">
                <mat-option *ngFor="let a of strandfiltered" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <!-- <div style="padding-left: 10px;padding-right: 10px;margin-top: -10px">
            <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
              <mat-label>Select Strand Priority 2</mat-label>
              <mat-select [(ngModel)]="strandval1">
                <mat-option *ngFor="let a of strandfiltered" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div> -->

    <div style="clear: both;margin: 15px" *ngIf="!preenrollment">
          <div style="float: left;width: 50%"  class="fullwidth">
            <div style="height: 5px"></div>
              Upload Proof of Payment:<br>
              <input mat-raised-button type="file" id="avatar" (change)="onFileChange($event)" #fileInput class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/>
          </div>
          <div style="float: left;width: 50%;"  class="fullwidth" >
           <mat-form-field appearance="outline"  style="width: 100%;float: right;">
                  <mat-label>Date of Payment</mat-label>
              <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

            <div style="height: 15px"></div>

          <img [src]='attachment'  *ngIf='attachment!=""' style="width:calc(100% - 30px)" />
    </div>
		 </div>
	</mat-card-content>
  <div mat-dialog-actions>
  <table style="width: 100%">
    <tr>
      <td>
          <button mat-raised-button (click)="onNoClickclose()" color="warning"  style="float: left">Close</button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="preenroll()"  style="float: right"  *ngIf="data.type==2"><i class="material-icons">edit</i> Update</button>
      </td>
    </tr>
  </table>
  
</div>
</mat-card>

<div  *ngIf='data.pre!=0' style="max-height: calc(100vh - 200px);">
          <button mat-raised-button (click)="onNoClickclose()" color="warning"  style="float: right;margin-bottom: 10px">Close</button>
  
  <img [src]="data.rec" style="border-radius: 2%;width: 100%" (click)="opennewpic(data.rec)" >

</div>


 