<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>LMS Access Codes - {{global.sydisplay}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
	
<style type="text/css">
	.mat-form-field-infix {
		width: auto !important;
	}
  .mat-form-field{
    margin-bottom: -10px;
  }
  th{
  	text-align: center;
  }
</style>
<div style="height: 14px"></div>
<div style="width: 100%;max-height: calc(100vh - 400px); overflow-y: scroll;">
                  
                  <table class="apptable" style="text-align: center;width: 600px">
                    <tr>
                      <th style="width:60px">Code</th>
                      <th style="width:100px">Subject ID</th>
                      <th style="width:200px">Descriptive Title</th>
                      <th style="width:40px">Units</th>
                      <th style="width:200px">LMS Access Code</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let a of tableArr">
                      <td>{{a.codeNo}}</td>
                      <td>{{a.subjectID}}</td>
                      <td style="text-align: left;">{{a.subjectTitle}}</td>
                      <td>{{a.units}}</td>
                      <td>{{ a.accesscode }}</td>

                    </tr>
                    </tbody>
                  </table>
</div>
			         <div *ngIf="tableArr!=undefined">
			          <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
			        </div>
		  		  
  </mat-card-content>
</mat-card>
 