
<mat-card class="example-card" id="es"  style="padding: 0;overflow-y: auto;height: calc(100vh - 175px)">
   <mat-card-header >
    <mat-card-title *ngIf="(global.checksettings('USL_SHSPreReg')||global.checksettings('USL_JHS_PreEnrollment') && (global.currentplacementstatus == 'JHS'||global.currentplacementstatus == 'SHS'))&& global.studentIsInList == false">Pre-Enrollment</mat-card-title>
    <mat-card-title *ngIf="(global.checksettings('ColPreEnroll')&& !(global.currentplacementstatus == 'JHS'||global.currentplacementstatus == 'SHS'))|| global.oldshs_col == true">Admission</mat-card-title>
    <mat-card-title *ngIf="(global.checksettings('ColPreEnroll') && global.g12CurrentYearLevel == 6 && global.g12CourseCode == 'SHS' && global.g12EnrollmentStatus == 'Paid')">Admission for College {{global.syDisplay(global.colpreenrollmentyear)}}</mat-card-title>
    <mat-card-subtitle *ngIf="(global.checksettings('ColPreEnroll') && global.g12CurrentYearLevel == 6 && global.g12CourseCode == 'SHS' && global.g12EnrollmentStatus == 'Paid')">This refers to the submission of documentary requirements for the evaluation and approval of the Office of Student Affairs & Services prior to enrolment.</mat-card-subtitle>
    <mat-card-subtitle *ngIf="(global.checksettings('ColPreEnroll')&& !(global.currentplacementstatus == 'JHS'||global.currentplacementstatus == 'SHS'))|| global.oldshs_col == true">This refers to the submission of documentary requirements for the evaluation and approval of the Office of Student Affairs & Services prior to enrolment.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo' style='height: calc(100vh - 270px);padding: 0;overflow-y: auto;'>
    <mat-divider></mat-divider>

  <div  *ngIf="!global.oldshs_col">
    <div *ngIf="global.preenrollmenteligibleHS">
      <div>
          <div style="max-width: 650px" >
            <div style="padding:10px">
              <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
                <mat-label>Select Strand
                </mat-label>
                <mat-select [(ngModel)]="strandval"  [disabled]="((record[0].birthCert_Status==2&&record[0].proofOfPayment_Status==2&&record[0].idPicture_Status==2))&&(!(preference.shS_PriorityStrandId1==''||preference.shS_PriorityStrandId1==null))">
                  <mat-option *ngFor="let a of strandfiltered" value="{{a.strandId}}">{{a.strandTitle}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

      </div>
    </div>
    <div *ngIf="global.preenrollmenteligible||global.preenrollmenteligibleHS ||global.getplacementjhs">

      <div style="max-width: 650px">
        <h3  *ngIf="(record[0].birthCert_Status==2&&record[0].proofOfPayment_Status==2&&record[0].idPicture_Status==2)" style="text-align: center;max-width: 850px">Congratulations! Your pre-enrolment was successful. Thank you for choosing USL. Schedule for official enrolment will be posted at the official facebook page of the University.
        </h3>
        <div style="padding:10px" *ngIf="global.studinfo.yearOrGradeLevel==6 && global.studinfo.departmentCode!='ELEM' && global.studinfo.departmentCode!='HS'">
          <mat-form-field appearance="outline" style="width: calc(100% - 10px);margin-right: 10px" class="fullwidth">
            <mat-label>Select Course
            </mat-label>
            <mat-select [(ngModel)]="strandval" [disabled]="((record[0].birthCert_Status==2&&record[0].proofOfPayment_Status==2&&record[0].idPicture_Status==2))&&(!(preference.preferredCourseId==''||preference.preferredCourseId==null))">
              <mat-option *ngFor="let a of courses" value="{{a.programId}}">{{a.courseCode}} - {{a.course}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="clear: both;margin: 15px">

          <!-- <table class="apptable" style="max-width: calc(100% - 15px);margin-top: 15px">
            <tr>
              <td colspan="3">
                <b>Proof of Payment:</b>
              </td>
            </tr>
            <tr>
              <td style="width: 205px;">
                <div style="width: 200px;text-align: center;" (click)="opendits(2,1,popvar)">
                  <img [src]="popvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;" onerror="this.onerror=null;this.src='assets/noimage3.jpg'">
                </div>
              </td>
              <td>
                <span *ngIf='record[0].proofOfPayment_Status!=2'>
                <b>Upload Proof of Payment:</b><br>
                <input mat-raised-button type="file" id="avatar4" (change)="onFileChangePoP($event)" #fileInput4 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br>

                <mat-form-field appearance="outline"  style="width: calc(90% - 20px);">
                    <mat-label>Date of Payment</mat-label>
                <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <br>
                <br>
                </span>
                <span *ngIf="record[0].proofOfPayment_Status==2">
                  Accounting payment verified.
                </span>
                <span *ngIf="record[0].proofOfPayment_Status!=2">
                Upload a clear copy of the receipt.
                </span>
              </td>
              <td style="text-align: center;width: 100px" >

                <span *ngIf='record[0].proofOfPayment_Status!=3'>
                <span *ngIf='record[0].proofOfPayment_Status==0' >
                <b style="color: orange">On Process</b>
                </span>

                <span *ngIf='record[0].proofOfPayment_Status==1' >
                <b style="color: red">Not Verified</b><br>
                ({{record[0].proofOfPayment_Remarks}})
                </span>

                <span *ngIf='record[0].proofOfPayment_Status==2' >
                <b style="color: green">Approved</b>
                </span>
                </span>
              </td>
            </tr>
          </table> -->

          <table class="apptable" style="max-width: 100%;margin-top: 15px">
            <tr *ngIf="!global.preenrollmenteligibleHS"> <!-- ///////// Uploading of Id Picture in USL g10 students to g11 is disabled-->
              <td colspan="2">
                <b>ID Picture</b>
              </td>
              <td style="text-align: center;width: 100px">
                <b>Status</b>
              </td>
            </tr>
            <tr *ngIf="!global.preenrollmenteligibleHS"><!-- ///////// Uploading of Id Picture in USL g10 students to g11 is disabled-->
              <td style="width: 205px;">
                <div style="width: 200px;text-align: center;" (click)="opendits(2,1,idpicturevar)">
                  <img [src]="idpicturevar" width="150" height="150" style="border-radius: 50%;border: 5px solid #555;object-fit: cover;">
                </div>
              </td>
              <td>
                <span *ngIf='record[0].idPicture_Status!=2'>
                <b>Upload ID Picture:</b><br>
                <input mat-raised-button type="file" id="avatar2" (change)="onFileChangeIDPicture($event)" #fileInput2 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                </span>
                ID Picture Criteria, the following have to be indicated as approved:
                <ul>
                  <li>It must have a white background.</li>
                  <li>The student has to be in casual attire and in natural hair color and the male student has to be in a clean haircut and no earring.</li>
                  <li>It has to be similar to a 2x2 ID picture.</li>
                </ul>
              </td>
              <td style="text-align: center;width: 100px">
                <span  *ngIf='record[0].idPicture_Status!=3'>
                <span *ngIf='record[0].idPicture_Status==0' >
                <b style="color: orange">On Process</b>
                </span>

                <span *ngIf='record[0].idPicture_Status==1' >
                <b style="color: red">Not Verified</b><br>
                ({{record[0].idPicture_Remarks}})
                </span>

                <span *ngIf='record[0].idPicture_Status==2' >
                <b style="color: green">Approved</b>
                </span>
                </span>
              </td>
            </tr>

           <tr *ngIf="!global.preenrollmenteligibleHS"><!-- ///////// Uploading of Birth Certificate in USL g10 students to g11 is disabled-->
              <td colspan="3">
                <b>Birth Certificate:</b>
              </td>
            </tr>
            <tr *ngIf="!global.preenrollmenteligibleHS"><!-- ///////// Uploading of Birth Certificate in USL g10 students to g11 is disabled-->
              <td style="width: 205px;">
                <div style="width: 200px;text-align: center;" (click)="opendits(2,1,birthcertvar)">
                  <img [src]="birthcertvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;">
                </div>
              </td>
              <td>
                <span *ngIf='record[0].birthCert_Status!=2'>
                <b>Upload Birth Certificate:</b><br>
                <input mat-raised-button type="file" id="avatar3" (change)="onFileChangeBirthCert($event)" #fileInput3 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                </span>

                Birth certificate Criteria, the following have to be indicated as approved:
                <ul>
                   <li>
                     Birth certificate has to be NSO or PSA-authenticated.
                   </li>
                 </ul>
              </td>
              <td style="text-align: center;width: 100px">
                <span *ngIf='record[0].birthCert_Status!=3'>
                <span *ngIf='record[0].birthCert_Status==0' >
                <b style="color: orange">On Process</b>
                </span>

                <span *ngIf='record[0].birthCert_Status==1' >
                <b style="color: red">Not Verified</b><br>
                ({{record[0].birthCert_Remarks}})
                </span>

                <span *ngIf='record[0].birthCert_Status==2' >
                <b style="color: green">Approved</b>
                </span>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <b>Proof of Payment:</b>
              </td>
            </tr>
            <tr>
              <td style="width: 205px;">
                <div style="width: 200px;text-align: center;" (click)="opendits(2,1,popvar)">
                  <img [src]="popvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;"  onerror="this.onerror=null;this.src='assets/noimage3.jpg'">
                </div>
              </td>
              <td>
                <span *ngIf='record[0].proofOfPayment_Status!=2'>
                <b>Upload Proof of Payment:</b><br>
                <input mat-raised-button type="file" id="avatar4" (change)="onFileChangePoP($event)" #fileInput4 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br>

                <mat-form-field appearance="outline"  style="width: calc(90% - 20px);">
                    <mat-label>Date of Payment</mat-label>
                <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <br>
                <br>
                </span>
                <span *ngIf="record[0].proofOfPayment_Status==2">
                  Accounting payment verified.
                </span>
                <span *ngIf="record[0].proofOfPayment_Status!=2">
                Upload a clear copy of the receipt.
                </span>
              </td>
              <td style="text-align: center;width: 100px" >

                <span *ngIf='record[0].proofOfPayment_Status!=3'>
                <span *ngIf='record[0].proofOfPayment_Status==0' >
                <b style="color: orange">On Process</b>
                </span>

                <span *ngIf='record[0].proofOfPayment_Status==1' >
                <b style="color: red">Not Verified</b><br>
                ({{record[0].proofOfPayment_Remarks}})
                </span>

                <span *ngIf='record[0].proofOfPayment_Status==2' >
                <b style="color: green">Approved</b>
                </span>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <p>
                <b>Note:</b> All uploaded documentary requirements are subject to approval. Please check this site for updates as regards your admission and pre-enrolment status. You can still update your documentary requirements when the status is "on the process" or "not verified".
                </p>
              </td>
            </tr>
          </table>

        </div>

        <button mat-raised-button color="primary" style="float: left;margin: 15px" (click)="preenrollcollegeinsider()"
          *ngIf="global.studinfo.departmentCode!='ELEM' &&
            (
              !(record[0].birthCert_Status==2 && record[0].proofOfPayment_Status==2 && record[0].idPicture_Status==2) ||
              ((preference.preferredCourseId==''||preference.preferredCourseId==null))
            )&&global.studinfo.yearOrGradeLevel==6">
              <i class="material-icons">done_outline</i> Submit1
        </button>
        <button mat-raised-button color="primary" style="float: left;margin: 15px" (click)="preenrollcollegeinsider()"
            *ngIf="(!(record[0].birthCert_Status==2&&
            record[0].proofOfPayment_Status==2&&
            record[0].idPicture_Status==2)
            ||
            ((preference.shS_PriorityStrandId1==''||preference.shS_PriorityStrandId1==null)))&&global.studinfo.yearOrGradeLevel==4">
              <i class="material-icons">done_outline</i> Submit2
        </button>
        <button mat-raised-button color="primary" style="float: left;margin-bottom: 15px" (click)="preenrollJHSinsider()"
            *ngIf="(!(record[0].birthCert_Status==2&&
            record[0].proofOfPayment_Status==2&&
            record[0].idPicture_Status==2)
            ||
            ((preference.jhS_CourseId==''||preference.jhS_CourseId==null)))&&global.studinfo.yearOrGradeLevel==6 && global.studinfo.departmentCode == 'ELEM'">
              <i class="material-icons">done_outline</i> Submit3
        </button>


        <button mat-raised-button color="primary" (click)=" preenrollJHSinsider()" style="margin-top: 15px;float: right"
        *ngIf='(!(record[0].birthCert_Status==2&&record[0].proofOfPayment_Status==2&&
        record[0].idPicture_Status==2)
        ||global.getplacementjhs)&& global.studinfo.departmentCode != "ELEM" && global.studinfo.yearOrGradeLevel == 1'>
          <i class="material-icons">done_outline</i> Submit4
         </button>

        <br>
        <div style="height: 15px"></div>
      </div>
      <div style="max-width: 600px"  *ngIf='exist'>
          <h3>Details:</h3>
          <table class="apptable">
            <tr><td>Strand:</td>
              <td><b>{{getstrand(data[0].shS_PriorityStrandID1)}}</b></td>
            </tr>
          </table>
          <p style="font-size: 12px;margin-top: 5px;margin-bottom: 0px;text-align: left;"  *ngIf="!preenrollment">
          Note: You can still update your information as long as the status of your pre-enrolment is on process or not verified.
          </p>
          <button mat-raised-button color="primary" style="float: left;margin: 15px 0  15px  0px" (click)="opendits(1)"  *ngIf="!preenrollment">
              <i class="material-icons">receipt</i> View Receipt
          </button>
          <button mat-raised-button color="primary" style="float: right;margin: 15px 0  15px  0px" (click)="opendits(2)"   *ngIf="data[0].paymentVerified!=1">
              <i class="material-icons">edit</i> Update Details
          </button>
          <div style="height:60px" *ngIf="!preenrollment"></div>
          <h3>Status:</h3>
          <mat-expansion-panel style="width: 280px"  [expanded]='true'  *ngIf="!preenrollment">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <table style="padding-top: 5px">
                    <tr>
                      <td>
                         <img src="assets/onprocess.png" style="height: 40px">
                      </td>
                      <td>
                      </td>
                    </tr>
                  </table>
                </mat-panel-title>
              </mat-expansion-panel-header>
            <p style="margin: 0;">
              Your pre-enrollment is on process. Please wait for the Accounting office to verify your payment. Thank you!
            </p>
          </mat-expansion-panel>

          <div style="height: 5px" *ngIf="!preenrollment"></div>
          <div  *ngIf="data.length!=0">
              <mat-expansion-panel style="width: 280px"   [expanded]='true' *ngIf="data[0].paymentVerified==0">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                      <table style="padding-top: 5px">
                         <tr>
                           <td>
                              <img src="assets/noverified.png" style="height: 40px">
                           </td>
                         </tr>
                      </table>
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  Your pre-enrollment is still on process.
              </mat-expansion-panel>
              <mat-expansion-panel style="width: 280px"  [expanded]='true'  *ngIf="data[0].paymentVerified==1">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                          <table style="padding-top: 5px">
                              <tr>
                                <td>
                                    <img src="assets/verified.png" style="height: 40px">
                                </td>
                              </tr>
                          </table>
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  Congratulations! Your pre-enrollment is successful.
              </mat-expansion-panel>

             <mat-expansion-panel style="width: 280px"  [expanded]='true'  *ngIf="data[0].paymentVerified==2">
               <mat-expansion-panel-header>
                  <mat-panel-title>
                     <table style="padding-top: 5px">
                       <tr>
                         <td>
                            <img src="assets/notverified.png" style="height: 40px">
                         </td>
                       </tr>
                     </table>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                {{data[0].remarksVerification}}
              </mat-expansion-panel>
          </div>
      </div>
    </div>

    <!-- ||(
        global.placement.examForSchoolYear==global.colpreenrollmentyear&&
        global.currentplacementstatus=='SHS')) -->

        <!-- *ngIf="
          (
            (
              global.colpreenrollment ||global.hsfirstyear||(
                global.placement.examForSchoolYear.substring(0, 6) ==
                global.colpreenrollmentyear.substring(0, 6) &&
                global.currentplacementstatus=='JHS'&&global.jhspreenrollment
              ) ||
              (
                global.placement.examForSchoolYear.substring(0, 6)==
                global.colpreenrollmentyear.substring(0, 6)&&
                global.currentplacementstatus=='SHS'&&global.shspreenrollment
              )
            )
          )&&!(global.preenrollmenteligible)&&!(global.preenrollmenteligibleHS)
        " -->
      <!-- <div
        *ngIf="
          (
            (
              global.colpreenrollment ||global.hsfirstyear||(
                global.placement.examForSchoolYear.substring(0, 6) ==
                global.colpreenrollmentyear.substring(0, 6) &&
                global.currentplacementstatus=='JHS'&&global.jhspreenrollment
              ) ||
              (
                global.placement.examForSchoolYear.substring(0, 6)==
                global.colpreenrollmentyear.substring(0, 6)&&
                global.currentplacementstatus=='SHS'&&global.shspreenrollment
              )
            )
          )&&!(global.preenrollmenteligible)&&!(global.preenrollmenteligibleHS)
        "
        style="max-width: 850px"
      > -->
    <div *ngIf="
  ((
  global.colpreenrollment

  ||

  (global.placement.examForSchoolYear.substring(0, 6)==global.colpreenrollmentyear.substring(0, 6)&&
  global.currentplacementstatus=='SHS'&&global.shspreenrollment))
  )

 &&

 !(global.preenrollmenteligible)

 &&

 !(global.preenrollmenteligibleHS)" style="max-width: 850px">
    <h3  *ngIf="(record[0].birthCert_Status==2&&record[0].proofOfPayment_Status==2&&record[0].idPicture_Status==2)" style="text-align: center;max-width: 850px">
      <span
        *ngIf="!(
          global.placement.examForSchoolYear.substring(0, 6)==global.colpreenrollmentyear.substring(0, 6)&&
          global.currentplacementstatus=='SHS'&&
          global.shspreenrollment)">
        Congratulations! Your pre-enrolment was successful. Thank you for choosing USL. Schedule for official enrolment will be posted at the official facebook page of the University.
      </span>
      <span *ngIf="(global.placement.examForSchoolYear.substring(0, 6)==global.colpreenrollmentyear.substring(0, 6)&&
          global.currentplacementstatus=='JHS'&&global.jhspreenrollment)">
        Congratulations you are now Pre-Enrolled! However, Pre-Enrollment is forfeited if the year end General Weighted Average is below 80% and there is any failing grade at the school year.
      </span>
    </h3>
                <table class="apptable" style="max-width: 100%;margin-top: 15px">
                  <tr>
                    <td colspan="2">
                      <b>ID Picture</b>
                    </td>
                    <td style="text-align: center;width: 100px">
                      <b>Status</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 205px;">
                      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,idpicturevar)">
                        <img [src]="idpicturevar" width="150" height="150" style="border-radius: 50%;border: 5px solid #555;object-fit: cover;">
                      </div>
                    </td>
                    <td>
                      <span *ngIf='record[0].idPicture_Status!=2'>
                      <b>Upload ID Picture:</b><br>
                      <input mat-raised-button type="file" id="avatar2" (change)="onFileChangeIDPicture($event)" #fileInput2 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                      </span>
                      ID Picture Criteria, the following have to be indicated as approved:
                      <ul>
                        <li>It must have a white background.</li>
                        <li>The student has to be in casual attire and in natural hair color and the male student has to be in a clean haircut and no earring.</li>
                        <li>It has to be similar to a 2x2 ID picture.</li>
                      </ul>
                    </td>
                    <td style="text-align: center;width: 100px">
                      <span  *ngIf='record[0].idPicture_Status!=3'>
                      <span *ngIf='record[0].idPicture_Status==0' >
                      <b style="color: orange">On Process</b>
                      </span>

                      <span *ngIf='record[0].idPicture_Status==1' >
                      <b style="color: red">Not Verified</b><br>
                      ({{record[0].idPicture_Remarks}})
                      </span>

                      <span *ngIf='record[0].idPicture_Status==2' >
                      <b style="color: green">Approved</b>
                      </span>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      <b>Digital Signature:</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 205px;" >
                      <!-- <td style="width: 205px;" rowspan="2"> -->
                      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,dSignvar)">
                        <img [src]="dSignvar" width="150" height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;">
                      </div>
                    </td>
                    <td>
                      <span *ngIf='record[0].signatureStatus!=2'>
                      <b>Upload Digital Signature:</b><br>
                      <input mat-raised-button type="file" id="avatar4" (change)="onFileChangeDSignature($event)" #fileInput2 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                      </span>
                      Digital Signature Criteria, the following have to be indicated as approved:
                      <ul>
                        <li>It must have a white background.</li>
                        <li>The signature must be written in the color of black.</li>
                      </ul>
                    </td>
                    <td style="text-align: center;width: 100px">
                      <!-- <td style="text-align: center;width: 100px" rowspan="2"> -->
                      <span  *ngIf='record[0].signatureStatus!=3'>
                      <span *ngIf='record[0].signatureStatus==0' >
                      <b style="color: orange">On Process</b>
                      </span>

                      <span *ngIf='record[0].signatureStatus==1' >
                      <b style="color: red">Not Verified</b><br>
                      ({{record[0].signatureRemarks}})
                      </span>

                      <span *ngIf='record[0].signatureStatus==2' >
                      <b style="color: green">Approved</b>
                      </span>
                      </span>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <canvas id="canvas" height="100" width="300"></canvas>
                    </td>
                  </tr> -->

                 <tr>
                    <td colspan="3">
                      <b>Birth Certificate:</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 205px;">
                      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,birthcertvar)">
                        <img [src]="birthcertvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;">
                      </div>
                    </td>
                    <td>
                      <span *ngIf='record[0].birthCert_Status!=2'>
                      <b>Upload Birth Certificate:</b><br>
                      <input mat-raised-button type="file" id="avatar3" (change)="onFileChangeBirthCert($event)" #fileInput3 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                      </span>

                      Birth certificate Criteria, the following have to be indicated as approved:
                      <ul>
                         <li>
                           Birth certificate has to be NSO or PSA-authenticated.
                         </li>
                       </ul>
                    </td>
                    <td style="text-align: center;width: 100px">
                      <span *ngIf='record[0].birthCert_Status!=3'>
                      <span *ngIf='record[0].birthCert_Status==0' >
                      <b style="color: orange">On Process</b>
                      </span>

                      <span *ngIf='record[0].birthCert_Status==1' >
                      <b style="color: red">Not Verified</b><br>
                      ({{record[0].birthCert_Remarks}})
                      </span>

                      <span *ngIf='record[0].birthCert_Status==2' >
                      <b style="color: green">Approved</b>
                      </span>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      <b>Report Card:</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 205px;">
                      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,reportCardVar)">
                        <img [src]="reportCardVar" width="150" height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;">
                      </div>
                    </td>
                    <td>
                      <span *ngIf='record[0].reportCardStatus!=2'>
                      <b>Upload Report Card:</b><br>
                      <input mat-raised-button type="file" id="avatar4" (change)="onFileChangeReportCard($event)" #fileInput2 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br><br>
                      </span>
                      Report Card Criteria, the following have to be indicated as approved:
                      <ul>
                        <li>Report card must be signed by your principal</li>
                      </ul>
                    </td>
                    <td style="text-align: center;width: 100px">
                      <span  *ngIf='record[0].reportCardStatus!=3'>
                      <span *ngIf='record[0].reportCardStatus==0' >
                      <b style="color: orange">On Process</b>
                      </span>

                      <span *ngIf='record[0].reportCardStatus==1' >
                      <b style="color: red">Not Verified</b><br>
                      ({{record[0].reportCardRemarks}})
                      </span>

                      <span *ngIf='record[0].reportCardStatus==2' >
                      <b style="color: green">Approved</b>
                      </span>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      <b>Proof of Payment:</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 205px;">
                      <div style="width: 200px;text-align: center;" (click)="opendits(2,1,popvar)">
                        <img [src]="popvar" width="150"  height="150" style="border-radius: 5%;border: 5px solid #555;object-fit: cover;"  onerror="this.onerror=null;this.src='assets/noimage3.jpg'">
                      </div>
                    </td>
                    <td>
                      <span *ngIf='record[0].proofOfPayment_Status!=2'>
                      <b>Upload Proof of Payment:</b><br>
                      <input mat-raised-button type="file" id="avatar4" (change)="onFileChangePoP($event)" #fileInput4 class="inputfile" style="margin-top: 10px;margin-bottom: 5px"/><br>

                      <mat-form-field appearance="outline"  style="width: calc(90% - 20px);">
                          <mat-label>Date of Payment</mat-label>
                      <input readonly matInput [matDatepicker]="picker2" placeholder="Payment Date" (click)="picker2.open()"  [(ngModel)]="pdate" name="pdate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <br>
                      <br>
                      </span>
                      <span *ngIf="record[0].proofOfPayment_Status==2">
                        Accounting payment verified.
                      </span>
                      <span *ngIf="record[0].proofOfPayment_Status!=2">
                      Upload a clear copy of the receipt.
                      </span>
                    </td>
                    <td style="text-align: center;width: 100px" >

                      <span *ngIf='record[0].proofOfPayment_Status!=3'>
                      <span *ngIf='record[0].proofOfPayment_Status==0' >
                      <b style="color: orange">On Process</b>
                      </span>

                      <span *ngIf='record[0].proofOfPayment_Status==1' >
                      <b style="color: red">Not Verified</b><br>
                      ({{record[0].proofOfPayment_Remarks}})
                      </span>

                      <span *ngIf='record[0].proofOfPayment_Status==2' >
                      <b style="color: green">Approved</b>
                      </span>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <p>
                      <b>Note:</b> All uploaded documentary requirements are subject to approval. Please check this site for updates as regards your admission and pre-enrolment status. You can still update your documentary requirements when the status is "on the process" or "not verified".
                      </p>
                    </td>
                  </tr>
                </table>
                <span
                  *ngIf="
                    !(record[0].birthCert_Status==2
                    &&record[0].proofOfPayment_Status==2
                    &&record[0].idPicture_Status==2
                    &&record[0].reportCardStatus==2
                    &&record[0].signatureStatus==2)"
                >
                 <button mat-raised-button color="primary" (click)="SubmitReq()" style="margin-top: 15px;float: right" *ngIf='record[0].proofOfPayment_Status==3'>
                  <i class="material-icons">done_outline</i> Submit
                 </button>
                 <button mat-raised-button color="primary" (click)="SubmitReq()" style="margin-top: 15px;float: right" *ngIf='record[0].proofOfPayment_Status!=3'>
                  <i class="material-icons">done_outline</i> Update
                 </button>
                 </span>
                 <div style="height: 75px"></div>
    </div>
  </div>

  <div *ngIf="(global.checksettings('ColPreEnroll') && global.g12CurrentYearLevel == 6 && global.g12CourseCode == 'SHS' && global.g12EnrollmentStatus == 'Paid')">
    <app-shs-college-pre-enrollment></app-shs-college-pre-enrollment>
  </div>

  </mat-card-content>

</mat-card>
