<p>
  <mat-checkbox [(ngModel)]='agree2'>I promise to obey all the rules and regulations of the University </mat-checkbox> of Saint Louis as stated in the Student's Handbook. I understand
          that absences are allowed only for serious reason of illness and family emergencies. Failure to attend 80% of the classes will
          automatically result in dropping the subjects.<br>
  <!-- <mat-checkbox [(ngModel)]='agree3'>I hereby agree to pay before the end of the term all</mat-checkbox> the fees and obligations assessed. Should I drop any subject/course, I agree
          to pay the school fees according to the provision sanctioned by the CHED and the Student Handbook.<br> -->
  <mat-checkbox [(ngModel)]='agree4'>I hereby agree to submit all</mat-checkbox> the admission credentials on or before July 31, {{global.currentYear}}. <strong>Failure to submit will mean that I am not officially enrolled.</strong><br>
  <mat-checkbox [(ngModel)]='agree5'>I hereby agree to pay the assessed fees and financial obligations </mat-checkbox> should I discontinue my enrolment after the second week of classes according to the provisions of MORPHE 2008 and the Student Handbook.
</p>
<button
              *ngIf="PISTrigger"
              mat-raised-button color="primary"
              style="min-width: 10px;width: auto;float: right;margin-left: 10px !important"
              (click)='PrintStudentInformationSheet()'
              [disabled]="!(agree2)||!(agree4)||!(agree5)" ><mat-icon>print</mat-icon> Personal Information Sheet&nbsp;
            </button>
<button mat-raised-button color="primary"
        style="min-width: 10px;width: auto;float: right;"
        (click)='ViewPrint()'
        [disabled]="!(agree2)||!(agree4)||!(agree5)" >
          <mat-icon>format_align_center</mat-icon> Enrollment Form &nbsp;
</button>
