<mat-card class="example-card" id="es"  style="padding: 0">
   <mat-card-header >
    <mat-card-title>Open Codes</mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <mat-divider></mat-divider>

<style type="text/css">
	.mat-form-field-infix {
		width: auto !important;
	}
  .mat-form-field{
    margin-bottom: -10px;
  }
  th{
  	text-align: center;
  }
</style>
<div style="height: 14px"></div>
<div style="width: 100%;max-height: calc(100vh - 320px); overflow-y: scroll;">

  <table class="apptable" style="text-align: center;">
    <tr>
      <th style="width:50px">Code</th>
      <th style="width:85px">Subject ID</th>
      <th style="min-width:100px">Descriptive Title</th>
      <th style="width:50px">Enrolled</th>
      <th style="width:70px">Class Size</th>
      <th style="width:55px">Department</th>
    </tr>
    <tr>
      <td>
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fCode" (keydown)="filterall($event)">
        </mat-form-field>
      </td><td>
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fSubjecID" (keydown)="filterall($event)">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fDescTitle" (keydown)="filterall($event)">
        </mat-form-field>
      </td>
      <td>
        <!-- <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fEnrolled" (keydown)="filterall($event)">
        </mat-form-field> -->
      </td>
      <td>
        <!-- <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fCsize" (keydown)="filterall($event)">
        </mat-form-field> -->
      </td>
      <td>
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>filter</mat-label>
            <input matInput placeholder="" autocomplete="off" [(ngModel)]="fDepartment" (keydown)="filterall($event)">
        </mat-form-field>
      </td>
    </tr>
    <tbody>
    <tr *ngFor="let a of tabledata">
      <td>{{a.codeNo}}</td>
      <td>{{a.subjectId}}</td>
      <td style="text-align: left;">{{a.subjectTitle}}</td>
      <td>{{a.enrolled}}</td>
      <td>{{a.classSize}}</td>
      <td>{{a.department}}</td>

    </tr>
    </tbody>
  </table>
</div>
                  <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="codes===undefined"></mat-spinner>
			         <div *ngIf="codes!=undefined">
			          <p *ngIf="codes.length===0" style="text-align: center;"><i>- No result found! -</i></p>
			        </div>

  </mat-card-content>
</mat-card>
