<mat-card class="example-card"  id="es" style="padding: 0">
  <mat-card-header >
    <mat-card-title>Student Self-Evaluation</mat-card-title>
    <mat-card-subtitle style="color: #ffab1f;">Note: Saving of <strong style="color: #ffab1f">newly posted</strong> grades is only allowed or open during enrollment period.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo'>
  	<mat-divider></mat-divider>
	<div style="height: 10px"></div>

		 <div style="width: 100%">
		 <h2 style="margin: 0px">{{lname}}, {{fname}} {{mname}} {{suffix}}</h2>
		 <div style="height: 5px"></div>
		 <b style="font-size: 20px">{{course}} - {{yearOrGradeLevel}}</b>
		 <br>
		 <div style="height: 5px"></div>
		  <button mat-raised-button (click)="opennotcred()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#006600;color: white;"  *ngIf="checklistexist">
          &nbsp;&nbsp;<i class="material-icons">notes
          </i> <span style="margin-top: 7px"> {{textcred}}&nbsp;&nbsp;&nbsp;</span></button>

		  <button mat-raised-button (click)="eval()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: right"
		  [disabled]="savefuncvar" *ngIf="checklistexist&&checkevalbutton">
          &nbsp;&nbsp;<i class="material-icons">save
          </i> <span style="margin-top: 7px"> Save Evaluation&nbsp;&nbsp;&nbsp;</span></button>

		 </div>
  	<div *ngIf="checklistexist&&data!=undefined">
    <div style="width: 100%;max-height: calc(100vh - 350px); overflow-y: scroll;">
    <div *ngIf="data!=undefined">
      <div style="height: 10px"></div>
      <table style="width:100%">
      	<tr>
      		<td style="width:450px;padding-right: 20px">
		      <table>
		        <tr>
		          <td style="width: 120px" valign="top">
		            Program ID:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.programId}}</b>
		          </td>
		        </tr>
		        <tr>
		          <td style="width: 120px" valign="top">
		            Course Code:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.courseCode}}</b>
		          </td>
		        </tr>
		        <tr>
		          <td style="width: 120px" valign="top">
		            Program Title:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.programTitle}}</b>
		          </td>
		        </tr>
		        <tr>
		          <td style="width: 120px" valign="top">
		             Major:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.major}}</b>
		          </td>
		        </tr>
		        <tr>
		          <td style="width: 120px" valign="top">
		            Version:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.version}}</b>
		          </td>
		        </tr>
		        <tr>
		          <td style="width: 120px" valign="top">
		            Status:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.statusCode}} - {{data.statusDesc}}</b>
		          </td>
		        </tr>
		        <!-- <tr>
		          <td style="width: 120px" valign="top">
		            Program Chair:
		          </td>
		          <td style="width: calc(100% - 200px)">
		            <b>{{data.name}}</b>
				 </td>
		        </tr> -->
		      </table>
		  </td>
		</tr>
	</table>
  <!-- <b style="color: indianred;"  *ngIf="global.enrollment!=-1">***Save Evaluation button will show when when there's an update in your grade status***</b> -->
      </div>

    <div style="height: 7px;"></div>


    <div style="height: 7px;"></div>
       <table class="apptable" *ngIf="data!=undefined">
          <tr>
            <th style="width: 100px;text-align: center;">
              Subject ID
            </th>
            <th>
              Subject Title
            </th>
            <th style="width: 80px;text-align: center;">
              Total Units
            </th>
            <th style="width: 62px;text-align: center;">
              Grade
            </th>
          </tr>
        </table>
        <div *ngIf="tableArr!=undefined">
        	<div   *ngFor="let a of tableArr; let i = index" [style.background-color]="checkcolor(i)" >
       <table class="apptable" >
          <tr *ngIf="sy(a.yearLevel)" style="text-align: center;" [style.background-color]="'white'">
            <td colspan="4">
              <b>{{  a.yearLevel }}</b>
            </td>
          </tr>
          <tr *ngIf="sem(a.term)" bgcolor="#f4f8fd">
            <td colspan="4">
              <b><i>{{  a.term }}</i></b>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;text-align: center;">
              {{ a.subjectId }}
            </td>
            <td>
              {{ a.subjectTitle }}
            </td>
            <td style="width: 80px;text-align: center;" >
              {{ a.totalUnits }}
            </td>
            <td style="width: 62px;text-align: center;">
            	{{ checkgrade(i) }}
            </td>
          </tr>
      </table>
      </div>
      <style type="text/css">
      	.hoverset:hover{
      		cursor: pointer;
      	}
      </style>
      </div>
      <div *ngIf="tableArr!=undefined&&data!=undefined">
	     <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
	     <div *ngIf="tableArr!=undefined">
	      <p *ngIf="tableArr.length===0" style="text-align: center;"><i>- No result found! -</i></p>
	    </div>
      </div>
  </div>
  </div>

  	<div *ngIf="!checklistexist&&data!=undefined">
  		<p style="text-align: center;">Loading...</p>


  	</div>
  </mat-card-content>
</mat-card>
